<div class="card" *ngIf="voucher">
  <div class="card-body" style="padding:10px;">
    <h4 [routerLink]="['/parameters/vouchers']" class="cursor_pointer"> Vouchers - {{ voucher.title }}</h4>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12">
            <label for="item_title">Título</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="voucher.title" autocomplete="off" placeholder="Título do voucher" maxlength="100"
                id="item_title" name="item_title" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="item_url">Url</label>
            <div class="input-group">
              <input class="form-control text-center" [(ngModel)]="voucher.url" autocomplete="off" placeholder="Url ('ohbarbeiro', 'membros...')"
                maxlength="50" id="item_url" name="item_url" />
            </div>
          </div>
          <div class="col-6">
            <label for="item_initials">Iniciais</label>
            <div class="input-group">
              <input class="form-control text-center" [(ngModel)]="voucher.initials" autocomplete="off" placeholder="Iniciais do Voucher"
                maxlength="3" id="item_initials" name="item_initials" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_header_title">Título da página do Voucher</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="voucher.header_title" autocomplete="off" placeholder="Agende sua semana de aula grátis"
                maxlength="35" id="item_header_title" name="item_header_title" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_header_text">Texto do topo</label>
            <div class="input-group">
              <textarea class="form-control" id="item_header_text" name="item_header_text" autocomplete="off" [(ngModel)]="voucher.header_text"
                rows="4"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_anonymous_header_text">Texto do topo - Anônimo </label>
            <div class="input-group">
              <textarea class="form-control" id="item_anonymous_header_text" name="item_anonymous_header_text" autocomplete="off" [(ngModel)]="voucher.anonymous_header_text"
                rows="4"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_additional_question">Pergunta Adicional</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="voucher.additional_question" autocomplete="off" placeholder="" maxlength="200" id="item_additional_question"
                name="item_additional_question" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_confirm_button_text">Texto do botão de confirmação</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="voucher.confirm_button_text" autocomplete="off" placeholder="Iniciar minha semana de aulas grátis"
                maxlength="40" id="item_confirm_button_text" name="item_confirm_button_text" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="item_final_text">Texto de Finalização</label>
            <div class="input-group">
              <textarea class="form-control" id="item_final_text" name="item_final_text" autocomplete="off" [(ngModel)]="voucher.final_text"
                rows="4"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12" *ngIf="saving">
            <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
          </div>

          <div class="col-12" *ngIf="!saving">
            <button type="button" class="btn btn-success" (click)="save(d);">
              <i class="icon-check"></i>
              Salvar
            </button>

            {{ result_form_text }}
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="col-12 col-xl-12 col-md-6" style="margin-bottom:30px;">
            <div class="row" style="border-bottom: 1px solid black">
              <div class="col-10 col-xl-10 col-sm-9">
                <h6 style="padding:0;margin:0;font-weight:bold">
                  <i class="fas fa-credit-card"></i> Adquirentes </h6>
              </div>
              <div class="col-2 col-sm-3 col-xl-2 text-right">
                <button type="button" class="btn btn-silver btn-sm" style="margin:0;padding:2px;line-height:10px" (click)="open_add_acquirer(new_acquirer);">
                  <i class="fas fa-plus-circle"></i>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center">
                Nenhum Adquirente encontrado
              </div>
            </div>
            <div class="row" *ngFor="let ac of current.acquirers">
              <div class="col-10">
                {{ ac.name }}
              </div>
              <div class="col-2 col-sm-3 col-xl-2 text-right">
                <button type="button" class="btn btn-silver btn-sm" style="margin:0;padding:2px;line-height:10px" *ngIf="!ac.remove" (click)="ac.remove = true">
                  <i class="ft-trash-2"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" *ngIf="ac.remove" style="margin:0;padding:2px;line-height:10px" (click)="toggle_associate_acquirer(ac.id);">
                  <i class="ft-trash-2"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm" *ngIf="ac.remove" style="margin:0;padding:2px;line-height:10px" (click)="ac.remove = false">
                  <i class="icon-action-undo"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
