<div class="row">    
    <div [ngClass]="display_status ?'col-9' : 'col-12'" 
        [style.color]="incident.closed && !incident.treated ? 'silver' : ( incident.treated ? '#ffa000ad' : ( incident.started_on_hour ? '#1565c0' : (incident.past ? 'red' : 'black'  )  ))  "        
        style="cursor:pointer;"
        [style.font-weight]="incident.type == 36 ? 'bold' : 'normal'"
        (click)="show_incident_details(incident);">        
        
        <span style="width:60px;display:inline-table;"> {{ incident.small_date }} - </span>        

        {{ incident.title }}        
    </div>    
    
    <div class="col-3" *ngIf="display_status">        
        <person-status-line	
            *ngIf="incident.person_data"										
            [person]="incident.person_data[0]"            
        >
        </person-status-line>
    </div>	    
</div>