<ng-template #add_person_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Cadastrar Pessoa</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">			
        <div class="form-body">			
            <div class="row">
                <div class="col-12">
                    <fieldset class="form-group">						
                        <label for="person_branch"                             
                            style="font-weight: bold">
                            Núcleo
                        </label>		
                        <div class="form-group">
                            <select id="branch" 
                                name="branch"
                                [(ngModel)]="person.branch_id" 
                                (ngModelChange)="validate_new_person()"																	
                                class="form-control"								
                                >			
                                <option></option>			
                                <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                            </select>								
                        </div>
                        <label for="person_role"
                            style="font-weight: bold">
                            Tipo
                        </label>		
                        <div class="form-group">
                            <select id="person_role" 
                                name="person_type"
                                [(ngModel)]="person.role_id" 
                                (ngModelChange)="validate_new_person()"																	
                                class="form-control"								
                                >			
                                <option></option>			
                                <option *ngFor="let pt of roles" [value]="pt.id">{{pt.name}}</option>
                            </select>								
                        </div>  

                        <div class="row">
                            <div class="col-12">
                                <label for="person_name">Nome</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="person.name" id="person_name"
                                    (ngModelChange)="validate_new_person()"
                                    autocomplete="off"
                                    name="person_name"/>                                    
                                </div>
                            </div>
                        </div>
                                                
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="person_birth_date">Nascimento</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                                    [(ngModel)]="person.birth_date_tmp" id="person_birth_date"
                                    name="person_birth_date"
                                    autocomplete="off"
                                    ngbDatepicker #niBirthDate="ngbDatepicker" />
                                    <div class="input-group-addon" (click)="niBirthDate.toggle()">
                                        <i class="ft-calendar" style="cursor: pointer;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="person_occupation">Profissão</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    autocomplete="off"
                                    [(ngModel)]="person.occupation" id="person_occupation"
                                    name="person_occupation"/>                                    
                                </div>
                            </div>
                        </div>   

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="person_identification">Identidade</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control text-center"
                                    autocomplete="off"
                                    [(ngModel)]="person.identification" id="person_identification"
                                    name="person_identification"/>                                    
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="person_identification2">CPF</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control text-center"
                                    autocomplete="off"
                                    [(ngModel)]="person.identification2" id="person_identification2"
                                    name="person_identification2"/>                                    
                                </div>
                            </div>
                        </div>                    

                        <label for="person_initial_contact"                             
                            style="font-weight: bold">
                            Contato Inicial
                        </label>		
                        <div class="form-group">
                            <textarea class="form-control"
                            id="person_initial_contact"
                            autocomplete="off"
                            [(ngModel)]="person.initial_contact"							
                            (ngModelChange) ="validate_new_person()" 		
                            rows="2"></textarea>								
                        </div> 
                        <label for="person_comment"                             
                            style="font-weight: bold">
                            Comentários sobre a pessoa
                        </label>		
                        <div class="form-group">
                            <textarea class="form-control"
                            id="person_comment"
                            autocomplete="off"
                            [(ngModel)]="person.comment"							
                            (ngModelChange) ="validate_new_person()" 		
                            rows="3"></textarea>								
                        </div>                                    				
                    </fieldset>                                
                </div>
            </div>            
            <div class="row" *ngIf="person.role_id == 4">
                <div class="col-12">
                    <label for="person_next_incident_type" style="font-weight: bold">Próxima Atividade</label>																		                    					
                    <select id="person_next_incident_type"
                        class="form-control" 
                        autocomplete="off"
                        [(ngModel)]="person.next_incident_type" 	
                        (ngModelChange)="validate_new_person()">		
                        <option></option>
                        <option *ngFor="let t of incident_types" [value]="t.id">{{t.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row" *ngIf="person.role_id == 4">
                <div class="col-6">
                    <label for="person_next_incident_dt" style="font-weight: bold">Data</label>
                </div>
            </div>
            <div class="row" *ngIf="person.role_id == 4">				
                <div class="col-6">
                    <div class="form-group">													
                        <div class="input-group">							
                            <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                            autocomplete="off"
                            [(ngModel)]="person.next_incident_dt" id="person_next_incident_dt"
                            (ngModelChange)="validate_new_person()"
                            ngbDatepicker #niReschedule="ngbDatepicker" />
                            <div class="input-group-addon" (click)="niReschedule.toggle()">
                                <i class="ft-calendar" style="cursor: pointer;"></i>
                            </div>																																
                        </div>	
                        
                    </div>
                </div>
                <div class="col-6">					
                    <ngb-timepicker [spinners]="false" [(ngModel)]="person.next_incident_time" (ngModelChange)="validate_new_person()"></ngb-timepicker>					
                </div>
            </div>
            <div class="row" *ngIf="person.role_id == 4">
                <div class="col-12">
                    <label for="person_next_incident_description"                             
                        style="font-weight: bold">
                        Comentários sobre a atividade
                    </label>		
                    <div class="form-group">
                        <textarea class="form-control"
                        id="person_next_incident_description"
                        autocomplete="off"
                        [(ngModel)]="person.next_incident_description"							
                        (ngModelChange) ="validate_new_person()" 		
                        rows="2"></textarea>								
                    </div> 
                </div>
            </div> 
            <div class="row" *ngIf="!person.is_valid">
                <div class="col-12 text-danger">
                    <ul>
                        <li style="line-height:1.2em" *ngFor="let error of person.validation">{{ error }}</li>
                    </ul>                    
                </div>
            </div>
        </div>			
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-success" 
            (click)="register_new_person();"
            *ngIf="person.is_valid">            
            Continuar
            <i class="fas fa-angle-double-right"></i>
        </button>															
        <button type="button" class="btn btn-silver" 
            (click)="d('close new person!');"
            >
            <i class="icon-action-undo"></i>
            Cancelar
        </button>	
    </div>
</ng-template>