@import "../../../assets/customizations.scss";

.project.step {
    width:280px;
    max-width: 280px;
    min-width: 280px;        
    min-height: 200px;
    height:80vh;
    overflow-y: auto;        
}

.project.step .container {
    padding:5px;
    background-color: #EFEFEF;
    height:100%;
}