.incident_button {
    text-align: left;
    line-height: 12px;
    padding-left:5px;
}
.btn-action {
    margin:0;
    padding: 0 8px;
    color:#CCC !important;
}
.btn-action :hover {    
    color: #666 !important;
}