<div class="text-left incident_button" *ngIf="incident">																											
    <a (click)="begin_incident_treatment(incident)"         														
        style="color:rgb(182, 221, 202)"
        [style.color]="incident.closed && !incident.treated ? 'silver' : ( incident.treated ? '#ffa000ad' : ( incident.started_on_hour ? '#1565c0' : (incident.past ? 'red' : 'black'  )  ))  "
        *ngIf="incident.type != 30 && incident.type != 31"
        style="font-size:12px">
        <b *ngIf="incident.type != 2">{{ incident.abrev }}</b> 
        <b *ngIf="incident.type == 2">{{ incident.title }}</b>																	
        <span 
            *ngIf="incident.short_description != null 
                    && incident.short_description.length > 0 
                    && incident.type != 2 && incident.type != 4"
            style="font-size:11px"
        > - {{ incident.short_description }} </span>
    </a>																																																																	
    <i  												
        class="icon-present"
        [style.color]="incident.past ? 'silver' : 'goldenrod'"
        *ngIf="incident.type == 30 || incident.type == 31"
        [title]="'Aniversário' + ( incident.type == 31 ? 'Kung Fu' : '')">
    </i>																						
</div>