

<ng-template #financial_treatment_modal let-c="close" let-d="dismiss" *ngIf="person">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Tratamento Financeiro</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">			
        <div class="row" *ngIf="contacts && contacts.length > 0" style="margin-bottom:10px;">            
            <div class="col-12">
                <person-card [person]="person" 
                    hideFinancialStatus="true" 
                    showContacts="true" 
                    useContactButton="true"></person-card>
            </div>                                   
        </div> 
        <div
            *ngIf="without_schedule_payments"
            (click)="d('goToPerson')"            
            [routerLink]="['/people/person', person.id || person.person_id]"
            style="font-weight: bold;color:red;text-align: center;margin-bottom:10px;cursor:pointer"    
        >        
                Sem agendamento de pagamentos definido! 
                <br /> 
                Cliqui aqui para ir para o detalhe do membro para agendar.
        </div>
        <div class="row" *ngIf="pending.incidents && pending.incidents.length > 0" style="margin-bottom:20px">            
            <div class="col-12">
                <div class="row">
                    <div class="col-12" style="font-weight: bold">
                        Pagamentos em aberto
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pl-3">
                        <incident-financial-listitem
                        *ngFor="let incident of pending.incidents"
                        [incident]="incident"
                        ></incident-financial-listitem>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>