<div class="card" *ngIf="current">
    <div class="card-body" style="padding:10px;">
        <h4 [routerLink]="['/parameters/branches']" class="cursor_pointer">Núcleos - {{ current.name }}</h4>
        <div class="row">                        
            <div class="col-6">
                <div class="row">
                    <div class="col-12 col-xl-12 col-md-6"  style="margin-bottom:30px;">
                        <div class="row" style="border-bottom: 1px solid black">
                            <div class="col-10 col-xl-10 col-sm-9">
                                <h6 style="padding:0;margin:0;font-weight:bold"><i class="ft-calendar"></i> Horários </h6>
                            </div>
                            <div class="col-2 col-sm-3 col-xl-2 text-right">
                                <button type="button" class="btn btn-silver btn-sm" 
                                    style="margin:0;padding:2px;line-height:10px"
                                    (click)="open_add_map(map_modal);">
                                    <i class="fas fa-plus-circle"></i>
                                    <i class="ft-calendar"></i>
                                </button>
                            </div>
                        </div>
                        
                        <div class="row" *ngIf="current.map.length == 0">
                            <div class="col-12 text-center">
                                Nenhum horário definido
                            </div>
                        </div>
                        <div class="row" 
                            style="cursor:pointer;"                                
                            *ngFor="let m of current.map">
                            <div class="col-10"
                            (click)="open_edit_map(map_modal, m)">
                                {{ m.title ? m.title + ' - ' : '' }}
                                {{ m.incident_type }}
                                {{ m.receive_voucher ? '(Voucher)' : ''  }}
                                : 
                                <ng-template ngFor let-wk [ngForOf]="m.week_days" let-k=index><span *ngIf="k != 0">, </span><span title="{{ wk.name }}">{{ wk.abrev }}</span></ng-template>														
                                - 
                                {{ m.start_hour }}:{{ ('00' + m.start_minute ).slice(-2) }}
                                às 
                                {{ m.end_hour }}:{{ ('00' + m.end_minute ).slice(-2) }}
                            </div>
                            <div 
                                class="col-2 col-sm-3 col-xl-2 text-right">

                                <button type="button" class="btn btn-silver btn-sm" 
                                    style="margin:0;padding:2px;line-height:10px"			                                        
                                    *ngIf="!m.remove"
                                    (click)="m.remove = true">
                                    <i class="ft-trash-2"></i>                                        
                                </button>                                    
                                <button type="button" class="btn btn-danger btn-sm" 
                                    *ngIf="m.remove"
                                    style="margin:0;padding:2px;line-height:10px"			                                        
                                    (click)="archive_map(m);">
                                    <i class="ft-trash-2"></i>                                        
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" 
                                    *ngIf="m.remove"
                                    style="margin:0;padding:2px;line-height:10px"			                                        
                                    (click)="m.remove = false">
                                    <i class="icon-action-undo"></i>                                        
                                </button>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                
            <div class="col-6">
                <div class="row">
                    <div class="col-8">
                        <div class="col-12 col-xl-12 col-md-6"  style="margin-bottom:30px;">
                            <div class="row" style="border-bottom: 1px solid black">
                                <div class="col-10 col-xl-10 col-sm-9">
                                    <h6 style="padding:0;margin:0;font-weight:bold; padding-bottom:6px">Produtos Associados</h6>
                                </div>
                                <div class="col-2 col-sm-3 col-xl-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"
                                        title="Associar produto"
                                        (click)="open_associate_product(associate_product);">                                        
                                        <i class="fas fa-plus-circle"></i>
                                        <i class="icon-handbag"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="row" *ngIf="!current.associated_products || current.associated_products.length == 0">
                                <div class="col-12 text-center">
                                    Nenhum produto vinculado a este núcleo
                                </div>
                            </div>
                            <div class="row" *ngFor="let pr of current.associated_products">
                                <div class="col-10">
                                    {{ pr.product }} - {{ pr.currency_symbol }} {{ pr.base_value }}
                                </div>           
                                <div class="col-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        *ngIf="!pr.remove_contact"
                                        (click)="pr.remove_contact = true">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>                                    
                                    <button type="button" class="btn btn-danger btn-sm" 
                                        *ngIf="pr.remove_contact"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="archive_branch_product(pr)">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" 
                                        *ngIf="pr.remove_contact"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="pr.remove_contact = false">
                                        <i class="icon-action-undo"></i>                                        
                                    </button> 
                                </div>             
                            </div>
                        </div>
                        <div class="col-12 col-xl-12 col-md-6"  style="margin-bottom:30px;">
                            <div class="row" style="border-bottom: 1px solid black">
                                <div class="col-10 col-xl-10 col-sm-9">
                                    <h6 style="padding:0;margin:0;font-weight:bold; padding-bottom:6px">Produtos do Núcleo</h6>
                                </div>
                                <div class="col-2 col-sm-3 col-xl-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"
                                        title="Adicionar novo produto"
                                        (click)="open_add_product(add_product);">                                        
                                        <i class="fas fa-plus-circle"></i>
                                        <i class="icon-handbag"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="row" *ngIf="!current.branch_products || current.branch_products.length == 0">
                                <div class="col-12 text-center">
                                    Nenhum produto exclusivo desse núcleo
                                </div>
                            </div>
                            <div class="row" 
                            *ngFor="let pr of current.branch_products" 
                            (click)="open_edit_product(pr, add_product)">
                                <div class="col-10">
                                    {{ pr.category }} - {{ pr.product }} - {{ pr.currency_symbol }} {{ pr.base_value }}
                                </div>   
                                <div class="col-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        *ngIf="!pr.remove_contact"
                                        (click)="pr.remove_contact = true">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>                                    
                                    <button type="button" class="btn btn-danger btn-sm" 
                                        *ngIf="pr.remove_contact"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="archive_branch_product(pr)">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" 
                                        *ngIf="pr.remove_contact"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="pr.remove_contact = false">
                                        <i class="icon-action-undo"></i>                                        
                                    </button> 
                                </div>                     
                            </div>
                        </div>
                    </div>    
                    <div class="col-4">
                        <div class="col-12 col-xl-12 col-md-6"  style="margin-bottom:30px;">
                            <div class="row" style="border-bottom: 1px solid black">
                                <div class="col-10 col-xl-10 col-sm-9">
                                    <h6 style="padding:0;margin:0;font-weight:bold"><i class="fas fa-credit-card"></i> Adquirentes </h6>
                                </div>
                                <div class="col-2 col-sm-3 col-xl-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"
                                        (click)="open_add_acquirer(new_acquirer);">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12 text-center">
                                    Nenhum Adquirente encontrado
                                </div>
                            </div>
                            <div class="row" *ngFor="let ac of current.acquirers">
                                <div class="col-10">
                                    {{ ac.name }}
                                </div>
                                <div class="col-2 col-sm-3 col-xl-2 text-right">
                                    <button type="button" class="btn btn-silver btn-sm" 
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        *ngIf="!ac.remove"
                                        (click)="ac.remove = true">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>                                    
                                    <button type="button" class="btn btn-danger btn-sm" 
                                        *ngIf="ac.remove"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="toggle_associate_acquirer(ac.id);">
                                        <i class="ft-trash-2"></i>                                        
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" 
                                        *ngIf="ac.remove"
                                        style="margin:0;padding:2px;line-height:10px"			                                        
                                        (click)="ac.remove = false">
                                        <i class="icon-action-undo"></i>                                        
                                    </button>                                    
                                </div>
                            </div>
                        </div>
                    </div>                                       
                </div>
            </div>                    
        </div>
    </div>
</div>

<ng-template #map_modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" style="font-weight: bold">
                Horário
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">		
            <div class="row">
                <div class="col-12">
                    <label for="item_title">Título</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                            [(ngModel)]="current_map.title"                        
                            autocomplete="off"
                            maxlength="200"
                            id="item_title"                        
                            name="item_title"/>                                 
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <label for="item_incident_type">Atividade</label>                                                									
                    <div class="input-group">							
                        <select 
                            [(ngModel)]="current_map.incident_type_id" 								                            
                            id="item_incident_type" name="item_incident_type"
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}">			                                                        			                            
                            <option *ngFor="let ic of incident_types" [value]="ic.id">{{ic.name}}</option>
                        </select>
                    </div>
                </div>
            </div>     
            <div class="row" *ngIf="current_map.incident_type_id == 10">
                <div class="col-12">
                    <label class="option_container">
                        Recebe Voucher
                        <input type="checkbox"                         
                        [checked]="current_map.receive_voucher" 
                        (change)="current_map.receive_voucher = !current_map.receive_voucher"
                        id="item_receive_voucher" name="item_receive_voucher"/>
                        <span class="checkmark"></span>
                    </label>
                </div>                
            </div>
            <div class="row">
                <div class="col-12">                    
                    <h6 style="font-size:15px;margin-top:20px;margin-bottom:5px;">Dias da Semana</h6>
                </div>
            </div>
            <div class="row" >
                <div class="col-12">
                    <div *ngFor="let w of current_map.week_days" style="display:inline-block;margin-left:10px">
                        <label class="option_container">
                            {{ w.abrev }}
                            <input type="checkbox"                         
                            [checked]="w.selected" 
                            (change)="w.selected = !w.selected"
                            id="week_day_{{w.week_day}}" name="week_day_{{w.week_day}}"/>
                            <span class="checkmark"></span>
                        </label>                        
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-12">                    
                    <h6 style="font-size:15px;margin-top:20px;margin-bottom:5px;">Horário</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="item_start_time">Início</label>
                    <ngb-timepicker 
                        id="item_start_time"
                        [spinners]="false" 
                        [(ngModel)]="current_map.start_time"></ngb-timepicker>
                </div>
                <div class="col-6">
                    <label for="item_end_time">Fim</label>
                    <ngb-timepicker 
                        id="item_end_time"
                        [spinners]="false" 
                        [(ngModel)]="current_map.end_time"></ngb-timepicker>
                </div>
            </div>            
        </div>
        <div class="modal-footer" *ngIf="saving">        
                <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
            </div>
        <div class="modal-footer" *ngIf="!saving">
            <button type="button" class="btn btn-success"                 
                (click)="save_map(current_map, d);">
                <i class="icon-check"></i>
                Salvar
            </button>        
            <button type="button" class="btn btn-silver" 			            
                (click)="d('Cancelled')">
                <i class="icon-action-undo"></i>
                Cancelar
            </button>        
        </div>
</ng-template>


<ng-template #new_acquirer let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Associar Adquirente
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">		
        <div class="row">
            <div class="col-12">
                <label for="item_name">Adquirente</label>                                                									
                <div class="input-group">							
                    <select id="item_branch" 
                        name="item_branch"
                        [(ngModel)]="current_acquirer"                             																	
                        class="form-control"								
                        >			                            		
                        <option *ngFor="let b of acquirers" [value]="b.id">{{b.name}}</option>
                    </select>                                  
                </div>
            </div>
        </div>            
    </div>
    <div class="modal-footer" *ngIf="saving">        
            <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
        </div>
    <div class="modal-footer" *ngIf="!saving">
        <button type="button" class="btn btn-success" 
            *ngIf="current_acquirer != null"
            (click)="toggle_associate_acquirer(current_acquirer, d);">
            <i class="icon-check"></i>
            Associar
        </button>        
        <button type="button" class="btn btn-silver" 			            
            (click)="d('Cancelled')">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>        
    </div>
</ng-template>

<ng-template #associate_product let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Associar Produto
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="current_product_association != null">		
        <div class="row">
            <div class="col-12">
                <label for="item_name">Categoria</label>                                                									
                <div class="input-group">							
                    <select id="product_association_category" 
                        name="product_association_category"
                        [(ngModel)]="current_product_association.category_id"  
                        (ngModelChange)="get_products_from_category()"                           																	
                        class="form-control"								
                        >			                            		
                        <option *ngFor="let b of categories" [value]="b.id">{{b.name}}</option>
                    </select>                                  
                </div>
            </div>
        </div>     
        <div class="row" *ngIf="current_product_association.category_id > 0">
            <div class="col-12">
                <label for="product_association_product">Produto</label>                                                									
                <div class="input-group">							
                    <select id="product_association_product" 
                        name="product_association_product"
                        [(ngModel)]="current_product_association.product_id"   
                        (ngModelChange)="change_base_product_for_association()"                       
                        class="form-control"								
                        >			                            		
                        <option *ngFor="let i of products_from_category" [value]="i.id">{{i.name}} - {{ i.currency_symbol }} {{ i.base_value }}</option>
                    </select>                                  
                </div>
            </div>
        </div>   
        <div class="row" *ngIf="current_product_association.product_id > 0">
            <div class="col-12">
                <label for="item_base_value">Valor</label>                                                									
                <div class="input-group">							
                    <input class="form-control text-right"
                    [(ngModel)]="current_product_association.base_value"                        
                    autocomplete="off"
                    type="number"                        
                    id="item_base_value"                        
                    name="item_base_value"/>                                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving && current_product_association != null">
        <button type="button" class="btn btn-success" 
            *ngIf="current_product_association.valid"
            (click)="associate_branch_product(d);">
            <i class="icon-check"></i>
            Associar
        </button>        
        <button type="button" class="btn btn-silver" 			            
            (click)="d('Cancelled')">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>        
    </div>
</ng-template>

<ng-template #add_product let-c="close" let-d="dismiss">
    <div class="modal-header" *ngIf="current_product">
        <h5 class="modal-title" style="font-weight: bold" *ngIf="current_product.id > 0">
            Alterar Produto
        </h5>
        <h5 class="modal-title" style="font-weight: bold" *ngIf="!current_product.id || current_product.id <= 0">
            Novo Produto
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="current_product">		
        <div class="row">
            <div class="col-12">
                <label for="item_name">Nome</label>                                                									
                <div class="input-group">							
                    <input class="form-control"
                    [(ngModel)]="current_product.name"                        
                    autocomplete="off"
                    maxlength="100"
                    id="item_name"                        
                    name="item_name"/>                                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="item_base_value">Categoria</label>                                                									
                <div class="input-group">							
                    <select [(ngModel)]="current_product.category_id" 								                            
                        class="form-control form-control-sm"
                        [ngModelOptions]="{standalone: true}">			                                                        			                            
                        <option *ngFor="let cp of categories" [value]="cp.id">{{cp.name}}</option>
                    </select> 
                </div>
            </div>
            <div class="col-6">
                <label for="item_base_value">Moeda</label>                                                									
                <div class="input-group">							
                    <select [(ngModel)]="current_product.currency_id" 								                            
                        class="form-control form-control-sm"
                        [ngModelOptions]="{standalone: true}">			                                                        			                            
                        <option *ngFor="let cp of currencies" [value]="cp.id">{{cp.name}}</option>
                    </select> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="item_base_value">Valor</label>                                                									
                <div class="input-group">							
                    <input class="form-control text-right"
                    [(ngModel)]="current_product.base_value"                        
                    autocomplete="off"
                    type="number"                        
                    id="item_base_value"                        
                    name="item_base_value"/>                                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="saving">        
            <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
        </div>
    <div class="modal-footer" *ngIf="!saving">
        <button type="button" class="btn btn-success" 
            (click)="save_branch_product(d);">
            <i class="icon-check"></i>
            Salvar
        </button>        
        <button type="button" class="btn btn-silver" 			            
            (click)="d('Cancelled')">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>        
    </div>
</ng-template>