<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-12">
				<form class="form form-horizontal" novalidate="" style="padding:0;margin:0">
					<div class="row">                                                            
						<div class="col-md-12 col-sm-12">								
							<select id="view" 
								[(ngModel)]="current_panel" 																		                            
								[ngModelOptions]="{standalone: true}"
								(ngModelChange)="change_display($event)"
								class="form-control form-control-lg"
								style="border:0;border-bottom:1px solid silver;font-weight:bold"
								>			
								<option value="0">Painel de Praticantes</option>											
								<option value="1">Painel de Interessados</option>                                                        
								<option value="2">Painel de Afastados</option>
								<option value="3">Painel de Prestadores de Serviço</option>
							</select>
						</div>
					</div>
				</form>                                            
			</div>                    
		</div>                
	</div>					
</div>