<div 
	*ngIf="card && !card.archived"
	class="compact-card">
	<div class="row">
		<div class="col-10" *ngIf="!card.is_task">			
			<a [routerLink]="['/organizations/projects', card.id]">{{ card.title }}</a>
		</div>		
		<div class="col-10" *ngIf="card.is_task && card.template_id != 1">	
			<a (click)="open_detail_modal()">
				{{ card.title }}							
			</a>				
		</div>
		<div class="col-1" *ngIf="!card.is_task || card.template_id != 1">			
			<a (click)="edit_card()" class="edit_card_button">
				<i class="fas fa-edit"></i>							
			</a>			
		</div>	
		<div class="col-12" *ngIf="card.is_task && card.template_id == 1">			
			<div class="row ">
				<div class="col-10">
					<a (click)="open_detail_modal()">
						{{ card.title || 'Comunicação' }} 
					</a>
				</div>
				<div class="col-1">
					<a (click)="edit_card()" class="edit_card_button">
						<i class="fas fa-edit"></i>							
					</a>
				</div>
			</div>								
			<div class="row" *ngFor="let target of card.people">
				<div class="col-12">
					<person-card [person]="target" showContacts="true" useContactButton="true"></person-card>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="row">
				<div class="col-12" style="vertical-align: bottom">										
					<div *ngIf="!card.is_task">
						<ng-template ngFor let-sd [ngForOf]="card.steps_description" let-k=index let-m=first><span *ngIf="k == 0">&nbsp;</span><span *ngIf="k != 0">/</span><span title="{{ sd.name }}">{{ sd.childrens }}</span></ng-template>														
					</div>
					<i class="fas fa-exclamation-triangle" style="color:red" *ngIf="card.has_overdue_card"></i>
					<div *ngIf="card.due_date 
						&& card.due_date_formated" 
						class="card_due_date">{{ card.due_date_formated }}</div>
					<div *ngIf="card.due_date && !card.due_date_formated" class="card_due_date">{{  card.due_date.day + "/" + (card.due_date.month) }}</div>
					<div *ngIf="card.comment_count > 0" class="card_comment_count">						
						<i class="far fa-sticky-note"></i> 
						{{ card.comment_count }}						
					</div>												
				</div>
				
			</div>
			<div class="row">
				<div class="col-12 text-right">
					<img src="https://myvtmiim.blob.core.windows.net/avatars/{{ l.avatar_img }}" 
						title="{{ l.name }}"
						style="float:right" style="width:40px" 
						*ngFor="let l of card.leaders" />

					<img src="https://myvtmiim.blob.core.windows.net/avatars/{{ s.avatar_img }}" 
						title="Suporte - {{ s.name }}"
						style="float:right" style="width:40px" 
						*ngFor="let s of card.supporters"/>
				</div>
			</div>			
		</div>		
	</div>
	
</div>