@import "../../../../../assets/customizations.scss";

	
.card_due_date {
    font-size:8px;
    background-color:green;
    color:white;
    padding:3px;
    padding-top:5px;
    width:30px;
    border-radius: 10px;
    line-height: 10px;
}

.contact_title {
    font-size:10px;    
}