<form class="form">
    <div class="form-body">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="contact_type">Tipo</label>
                    <select id="contact_type" name="contact_type" 
                        [(ngModel)]="new_contact.contact_type" 
                        (ngModelChange) ="get_details_and_validate()"
                        class="form-control">						
                        <option *ngFor="let c of contact_types" [value]="c.id">{{c.description}}</option>
                    </select>
                </div>
            </div>  
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="contact_principal">Principal</label>
                    <select id="contact_principal" name="contact_principal" 
                        [(ngModel)]="new_contact.principal"                         
                        class="form-control">						
                        <option selected value="0">Não</option>
                        <option selected value="1">Sim</option>
                    </select>
                </div>
            </div>          
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="new_contact_text">Contato</label>
                    <input class="form-control text-center" style="width:100%" 
                        placeholder="{{ new_contact.contact_placeholder }}"
                        name="new_contact_text" 
                        (ngModelChange)="get_details_and_validate()"
                        (keyup)="get_details_and_validate()"
                        (keypress)="get_details_and_validate()"
                        (keydown)="get_details_and_validate()"
                        [(ngModel)]="new_contact.contact" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">                
                <div class="form-group">
                    <label for="new_contact_details">Detalhes</label>
                    <textarea class="form-control" 
                    name="new_contact_details" id="new_contact_details"                    
                    [(ngModel)]="new_contact.details"		
                    rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="new_contact.contact_helper_text">
            <div class="col-12 pl-3 pr-3 pt-0" style="font-style: italic">                
                {{ new_contact.contact_helper_text }}
            </div>
        </div>
    </div>
    <div class="form-actions text-right">
        <button type="button" class="btn btn-success" 
            (click)="save_contact(new_contact);"
            *ngIf="new_contact.is_valid">
            <i class="icon-check"></i>
            Salvar
        </button>
        <button type="button" class="btn btn-silver"
            *ngIf="cancelAction" 
            (click)="cancelAction()">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>	
    </div>
</form>



