

<ng-template #card_detail_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="row" style="width:100%">
            <div class="col-8">
                <h5 class="modal-title" style="font-weight: bold">
                    {{  card.title || 'Comunicação' }}
                </h5>   
            </div>
            <div class="col-4 pr-0 text-right">                                 
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>                    
            </div>
        </div> 
    </div>
    <div class="modal-body">
        <div class="row" 
        *ngFor="let person of card.people">
            <div class="col-12">                                
                <person-card [person]="person" 
                    showContacts="true" 
                    [useContactButton]="false"></person-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-bottom:20px;">                
                <markdown [data]="card.description"></markdown>				        
            </div>
        </div>    
        <div class="row">
            <div class="col-12">                    
                <div class="row" 
                    style="border-bottom: 1px solid black;" >
                    <div class="col-10">        
                        <h6 style="font-weight:bold;margin-bottom:0"> 
                            <i class="far fa-sticky-note"></i> Comentários </h6>        
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-silver btn-sm" 
                            style="margin:0;padding:2px;line-height:10px"
                            (click)="add_comment();">
                            <i class="ft-plus"></i>                                        
                            <i class="far fa-sticky-note"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row" *ngIf="!commentaries || commentaries.length == 0">
                    <div class="col-12 text-center">
                        Nenhum comentário encontrado
                    </div>
                </div>


                <div *ngFor="let cm of commentaries">                        
                    <div class="col-12 pl-3">
                        <div class="row">
                            <div class="col-2 text-right pr-0">
                                    <img alt="{{ cm.responsible }}"                                    
                                    class="img-border" 
                                    src="https://myvtmiim.blob.core.windows.net/avatars/{{ cm.avatar_img }}" 											
                                    style="width:100%;"																												                                    
                                    *ngIf="cm.avatar_img && cm.avatar_img.length > 0" />
                                    
                                    <img                                     
                                    class="img-border" 
                                    src="/assets/img/portrait/avatars/avatar-08.png" 											
                                    style="width:100%;"																												                                    
                                    *ngIf="!cm.avatar_img || cm.avatar_img.length <= 0" /> 
                            </div>
                            <div class="col-8" style="color:black;">     
                                <div class="row">
                                    <div class="col-12">
                                        <b> {{ cm.responsible }} </b> <i style="font-size:10px">({{ cm.created_date_br }} {{ cm.created_hour_br  }})</i>
                                        <markdown [data]="cm.commentary" style="margin-bottom:0 !important"></markdown>			
                                    </div>
                                </div>                          
                            </div>
                            <div class="col-2 text-right pl-0" style="display:none">
                                <button type="button" class="btn btn-silver btn-sm" 
                                    style="margin: 0; padding:2px; line-height:10px"			                                        
                                    *ngIf="!cm.archive"
                                    (click)="cm.archive = true">
                                    <i class="fas fa-archive"></i>                                        
                                </button>                                    
                                <button type="button" class="btn btn-danger btn-sm" 
                                    *ngIf="cm.archive"
                                    style="margin:0;padding:2px;line-height:10px"			                                        
                                    (click)="archive_comment(cm)">
                                    <i class="fas fa-archive"></i>                                        
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" 
                                    *ngIf="cm.archive"
                                    style="margin:0;padding:2px;line-height:10px"			                                        
                                    (click)="cm.archive = false">
                                    <i class="icon-action-undo"></i>                                        
                                </button>                                    
                            </div>
                        </div>        
                    </div> 
                </div>
            </div>
        </div>    
    </div>
    <div class="modal-footer" *ngIf="saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving">
        <button type="button" class="btn btn-silver"
        *ngIf="!begin_remove"
        (click)="edit_card()"
        >
            <i class="fas fa-edit"></i>
            Alterar
        </button>
        <button type="button" class="btn btn-silver" 			
            *ngIf="!begin_remove && card.is_task"
            (click)="begin_remove = true">
            <i class="fas fa-archive"></i>
            Arquivar
        </button>
        <span *ngIf="begin_remove">
            Confirma Arquivamento?
        </span>
        <button type="button" class="btn btn-danger" 
            *ngIf="begin_remove && card.is_task"
            (click)="archive_card(d);">
            <i class="fas fa-archive"></i>
            Arquivar!
        </button>
        <button type="button" class="btn btn-secondary" 
            *ngIf="begin_remove && card.is_task"
            (click)="begin_remove = false">
            <i class="icon-action-undo"></i>
            Não
        </button>
    </div>
</ng-template>