<div class="wrapper nav-collapsed" style="padding:0">
   <div class="app-sidebar" data-active-color="white" 
        data-background-color="white" 
        >
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>

        <div class="main-content"  style="padding-top:0;">
            <div class="content-wrapper" style="padding:0">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>        
    </div>    
    <app-notification-sidebar></app-notification-sidebar>
    <app-footer></app-footer>
</div>


