

<div class="card">
    <people-header panel="away"></people-header>
    <div class="card-body">
        <div class="row">            
            <div class="col-5 col-md-2 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="branch">Núcleo</label>
                        <select id="branch" 
                            [(ngModel)]="current_branch" 
                            (ngModelChange)="filter_people()"									                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"                            
                            >			
                            <option value="0">Todos</option>			
                            <option value="1">Barra</option>
                            <option value="2">Méier</option>
                            <option value="3">Ipanema</option>
                            <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                        </select>
                    </div>                            
                </div>                                                                  
            </div>
            <div class="col-7 col-md-3 pt-2 pb-0">
                <div class="form-body">
                    <label for="search_name">Nome</label>
                    <div class="input-group">                                                
                        <input class="form-control form-control-sm"
                            placeholder=""
                            [(ngModel)]="search_name" 
                            (keydown)="keyDownFunction($event)"
                            name="search_name" />
                        <button type="button" 
                            class="input-group-addon"
                            class="btn btn-silver btn-sm" 
                            style="margin:0;"                            
                            (click)="filter_people()">                                                                                       
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="row">        
            <div class="col-12  text-left">                
                <table class="table table-striped table-sm">					
					<colgroup>
                        <col style="width:30%;"/>
                        <col style="width:5%;text-align:center" />
                        <col style="width:10%;" />						
                        <col style="width:10%;" />
                        <col style="width:20%;" />
                        <col style="width:25%;" />
                    </colgroup>
                    <thead style="font-size:10px;font-weight:bold">
                        <td>Nome</td>
                        <td></td>                                                
                        <td>Últ. Ativ</td>
                        <td>Próx. Ativ</td>                        
                        <td>Contatos</td>
                        <td>Comentários</td>
                    </thead>
					<tbody>
						<tr *ngFor="let p of people">
                            <td style="cursor:pointer"
                            [routerLink]="['/people/person', p.id]">
								{{ p.name }}
                            </td>
                            <td>
                                <person-status-line [person]="p"></person-status-line>
                            </td>
							<td> {{ p.next_activity_description }} </td>
                            <td> {{ p.last_activity_description }} </td>
                            <td>                                 
                                <ng-template ngFor let-pc [ngForOf]="p.contacts" let-k=index let-m=first>
                                    <div>
                                        <contact-listitem [contact]="pc"></contact-listitem>																														
                                    </div>
                                </ng-template>                                 
                            </td>
                            <td>
                                <ng-template ngFor let-pc [ngForOf]="p.commentaries" let-k=index let-m=first>                                    
                                    <p>{{ pc.comment }}</p>																												
                                </ng-template>   
                            </td>
						</tr>
					</tbody>
                </table>
            </div>                 
        </div>
    </div>
</div>