@import "../../../assets/customizations.scss";

.project.step {
    width:280px;
    max-width: 280px;
    min-width: 280px;        
    min-height: 200px;
    height:85vh;    
}

.project.step .container {
    padding:5px;
    background-color: #EFEFEF;
    height:100%;
}