<div class="row">
	<div
		style="padding-right:0"
		class="col-3 d-none d-md-block text-right">
		<person-avatar-image [person]="person"
		[editAvatarOnClick]="editAvatarOnClick">
		</person-avatar-image>
	</div>
	<div
	class="col-12 col-md-9">
		<div class="row"
			style="cursor:pointer;"
			[routerLink]="['/people/person', person.id || person.person_id]">
			<div class="col-12 d-block d-xl-none"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/person', person.id || person.person_id]">
				{{ person.name }}
				</a>
			</div>
			<div class="col-12 d-none d-xl-block pl-1"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/person', person.id || person.person_id]">
				{{ person.name }}
				</a>
				<div
					*ngIf="person.kf_name_ideograms"
					style="float:right;">
					{{ person.kf_name_ideograms }}
				</div>
			</div>
		</div>
		<div class="row" style="font-size:12px;">
			<div class="col-12 d-block d-xl-none"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }} <span *ngIf="person.family_name">, {{ person.family_name }}</span>
			</div>
			<div class="col-12 d-none d-xl-block pl-1"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }}<span *ngIf="person.family_name">, {{ person.family_name }}</span>
				<span
					*ngIf="!person.admission_date && person.family_name"
					style="font-style: italic; color:gray">
					(candidato)
				</span>

				<div *ngIf="person.kf_name"
					style="float:right;">
					{{ person.kf_name }}
				</div>
				<div *ngIf="person.program_id == 1"
				[style.color]="person.contracted_p1_sessions  < person.p1_sessions_current_month ? 'red' : null"
					style="float:right;">
					{{ person.p1_sessions_current_month }}/{{ person.contracted_p1_sessions }}
				</div>
				<div *ngIf="person.program_id == 2 && person.p2_cycle_start_date"
					[style.color]="person.current_p2_session  < person.expected_p2_session ? 'red' : null"
					style="float:right;">
					{{ person.current_p2_session }}/{{ person.expected_p2_session }}
				</div>
			</div>
		</div>
		<div class="row" *ngIf="showContacts && person.contacts && person.contacts.length > 0">
			<div class="col-12">
				<div class="row" style="margin-bottom:10px;">
					<div class="col-12">
						<div *ngFor="let ct of person.contacts | onlyPrincipal, let k = index"
							[style.margin-left]="useContactButton ? '5px' : null"
							[style.display]="useContactButton ? 'inline-block' : null">
							<contact-listitem [contact]="ct" *ngIf="!useContactButton"></contact-listitem>
							<contact-buttonitem [contact]="ct" *ngIf="useContactButton"></contact-buttonitem>
							<div *ngIf="ct.show_details" style="display:inline-block">({{ ct.details }})</div>
						</div>
						<a *ngIf="false" (click)="show_only_principal_contacts = false">
							<i class="ft-chevrons-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="line-height:10px">
			<div class="col-12 pl-0">
				<person-status-line
				[person]="person"
					[hideCommunicationStatus]="hideCommunicationStatus"
					[hideScheduleStatus]="hideScheduleStatus"
					[hideFinancialStatus]="hideFinancialStatus"
					[hidePinnedCommentCount]="!hidePinnedComments"
					[hideDataStatus]="hideDataStatus">
				</person-status-line>
			</div>
		</div>
		<div class="row"
			*ngIf="!hidePinnedComments && person.pinned_comments && person.pinned_comments.length > 0"
			>
			<div class="col-12 pl-0">
				<div class="row" *ngFor="let cm of person.pinned_comments">
					<div class="col-12">
						<markdown [data]="cm.comment"
						style="margin-bottom:0 !important;"></markdown>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>