<div class="row">
	<div 
		style="padding-right:0"
		class="col-3 d-none d-xl-block text-right">
		<img alt="{{ person.name }}"
		[routerLink]="['/person', person.person_id]"
		class="img-border" 
		src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
		style="width:100%;cursor:pointer"																												
		[style.border-color]="person.is_leaving || person.is_inactive_member ? 'orange' : null " 
		[style.opacity]="person.is_leaving || person.is_inactive_member ? '0.5' : null " 
		*ngIf="person.avatar_img && person.avatar_img.length > 0" />
		
		<img 
		[routerLink]="['/person', person.id]"
		class="img-border" 
		src="/assets/img/portrait/avatars/avatar-08.png" 											
		style="width:100%;cursor:pointer"																												
		[style.border-color]="person.is_leaving || person.is_inactive_member ? 'orange' : null " 
		[style.opacity]="person.is_leaving || person.is_inactive_member ? '0.5' : null " 
		*ngIf="!person.avatar_img || person.avatar_img.length <= 0" /> 
	</div>								
	<div 
	class="col-9 col-md-12 col-lg-9">
		<div class="row" 
			style="cursor:pointer;"
			[routerLink]="['/person', person.person_id]">
			<div class="col-12 d-block d-xl-none"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/person', person.person_id]">
				{{ person.name }}														
				</a>																
			</div>													
			<div class="col-12 d-none d-xl-block pl-1"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/person', person.person_id]">
				{{ person.name }}														
				</a>														
				<div																						
					*ngIf="person.kf_name_ideograms" 
					style="float:right;">													
					{{ person.kf_name_ideograms }}																																								
				</div>																
			</div>													
		</div>												
		<div class="row" style="font-size:12px;">			
			<div class="col-12 d-block d-xl-none"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }} <span *ngIf="person.family_name">, {{ person.family_name }}</span>				
			</div>
			<div class="col-12 d-none d-xl-block pl-1"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }}<span *ngIf="person.family_name">, {{ person.family_name }}</span>
				<span 
					*ngIf="!person.admission_date && person.family_name"
					style="font-style: italic; color:gray">
					(candidato)
				</span>

				<div *ngIf="person.kf_name" 																	
					style="float:right;">													
					{{ person.kf_name }}																																								
				</div>
			</div>																
		</div>
		<div class="row" style="border:1px solid red" style="line-height:10px">
			<div class="col-12 d-none d-xl-block pl-1">                                
				<span *ngIf="person.scheduling_status > 0"
					[title]="person.scheduling_description">
						<i class="ft-calendar" 
						style="color:red"></i>
				</span>
				<span *ngIf="person.financial_status > 0">
						<i class="icon-wallet" 
						style="color:red"													
						[title]="person.financial_description"></i>
				</span>
				<span *ngIf="person.data_status == 1" 
					[title]="person.data_status_description"
					style="cursor:pointer">												
						<i class="fas fa-user"
						style="color:red"></i>
				</span>
				&nbsp;
				<div style="float:right" class="pr-1">				
					<i  *ngIf="person.has_birthday_this_month"												
						class="icon-present"
						[style.color]="'silver'"					
						title="Aniversariante do mês">
					</i>
				</div>
			</div>
			<div class="col-12 d-block d-xl-none" style="line-height:10px">                                
				<span *ngIf="person.scheduling_status > 0"
					[title]="person.scheduling_description">
						<i class="ft-calendar" 
						style="color:red"></i>
				</span>
				<span *ngIf="person.financial_status > 0"
					[title]="person.financial_description">
						<i class="icon-wallet" 
						style="color:red"></i>
				</span>
				<span *ngIf="person.data_status == 1" 
					[title]="person.data_status_description"	
					style="cursor:pointer">												
						<i class="fas fa-user"
						style="color:red"></i>
				</span>
				&nbsp;
				<div style="float:right" class="pr-1">
					<i  *ngIf="person.has_birthday_this_month"												
						class="icon-present"
						[style.color]="'silver'"					
						title="Aniversariante do mês">
					</i>
				</div>
			</div>
		</div>
	</div>	
</div>