<div class="row">
	<div 
		style="padding-right:0"
		class="col-3 d-none d-md-block text-right">
		<img alt="{{ person.name }}"
		[routerLink]="['/people/person', person.id || person.person_id]"
		class="img-border" 
		src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
		style="width:100%;cursor:pointer"																												
		[style.border-color]="person.is_leaving || person.is_inactive_member ? 'orange' : null " 
		[style.opacity]="person.is_leaving || person.is_inactive_member ? '0.5' : null " 
		*ngIf="person.avatar_img && person.avatar_img.length > 0" />
		
		<img 
		[routerLink]="['/people/person', person.id || person.person_id]"
		class="img-border" 
		src="/assets/img/portrait/avatars/avatar-08.png" 											
		style="width:100%;cursor:pointer"																												
		[style.border-color]="person.is_leaving || person.is_inactive_member ? 'orange' : null " 
		[style.opacity]="person.is_leaving || person.is_inactive_member ? '0.5' : null " 
		*ngIf="!person.avatar_img || person.avatar_img.length <= 0" /> 
	</div>								
	<div 
	class="col-12 col-md-9">
		<div class="row" 
			style="cursor:pointer;"
			[routerLink]="['/people/person', person.id || person.person_id]">
			<div class="col-12 d-block d-xl-none"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/person', person.id || person.person_id]">
				{{ person.name }}														
				</a>																
			</div>													
			<div class="col-12 d-none d-xl-block pl-1"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/person', person.id || person.person_id]">
				{{ person.name }}														
				</a>														
				<div																						
					*ngIf="person.kf_name_ideograms" 
					style="float:right;">													
					{{ person.kf_name_ideograms }}																																								
				</div>																
			</div>													
		</div>												
		<div class="row" style="font-size:12px;">			
			<div class="col-12 d-block d-xl-none"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }} <span *ngIf="person.family_name">, {{ person.family_name }}</span>				
			</div>
			<div class="col-12 d-none d-xl-block pl-1"
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				{{ person.branch_initials }}<span *ngIf="person.family_name">, {{ person.family_name }}</span>
				<span 
					*ngIf="!person.admission_date && person.family_name"
					style="font-style: italic; color:gray">
					(candidato)
				</span>

				<div *ngIf="person.kf_name" 																	
					style="float:right;">													
					{{ person.kf_name }}																																								
				</div>
			</div>																
		</div>
		<div class="row" *ngIf="showContacts && person.contacts && person.contacts.length > 0">
			<div class="col-12">
				<div class="row" style="margin-bottom:10px;">            
					<div class="col-12">                                
						<div *ngFor="let ct of person.contacts | onlyPrincipal, let k = index"> 							
							<contact-listitem [contact]="ct"></contact-listitem>
							<div *ngIf="ct.show_details" style="display:inline-block">({{ ct.details }})</div>
						</div>
						<a *ngIf="false" (click)="show_only_principal_contacts = false">
							<i class="ft-chevrons-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="line-height:10px">
			<person-status-line
			[person]="person">
			</person-status-line>
		</div>
	</div>	
</div>