

<style>
	.current {
		background-color: #eeeeee
	}
	.current2 {
		background-color: #dddddd
	}
</style>

<div class="row">
	<div class="col-12">
		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">
					Diário de Membros 					

					<select id="branch" [(ngModel)]="current_branch" (ngModelChange)="branchSelected($event)">						
						<option *ngFor="let b of branches" [value]="b.EmpKey">{{b.name}}</option>
					</select>	
				</h4>
			</div>
			<div class="card-body">		
				<table>
					<tr>
						<td>
							<table class="table-sm">
								<tr>						
									<td style="min-width:150px;max-width:150px;" *ngFor="let c of cols, let k3 = index" align="center" [ngClass]=" k3 == current_week_day + 1 ? 'current2' : '' ">
										<div>
											{{ c.name }} 
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr *ngFor="let d of domains, let k5 = index">
						<td>																				
							<h6 style="margin-top:20px">{{ d.abrev }}</h6>
							<table class="table-sm table-striped table-bordered table-responsive">								
								<tr *ngFor="let person of d.daily, let k4 = index">
									<td style="min-width:150px;max-width:150px;" valign="top">{{ person.name }}</td>
									<td style="min-width:150px;max-width:150px;" *ngFor="let item of person.dates, let k2 = index" [ngClass]=" k2 == current_week_day ? (k4 % 2 == 0 ? 'current2' : 'current') : '' ">							
										<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
											<span *ngIf="!m">,</span>						
											<b>{{ i.abrev }} {{ i.title }}</b>								
											<span *ngIf="i.type == 1">({{ i.start_hour }})</span>										
										</ng-template>							
									</td>																		
								</tr>
							</table>	
					</td>
				</tr>
			</table>	
			</div>
		</div>
		<!--/ Kick start -->
	</div>
</div>