

<style>
	.current2 {
		background-color: #eeeeee
	}
	.current {
		background-color: #dddddd
	}	
</style>
				

<div class="row">
	<div class="col-12">		
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<h4 class="card-title">
								Diário de Atividades - Membros Ativos 																																
							</h4>
						</div>						
						<div class="row" 							
							*ngIf="sumary != null"
							style="border: 1px solid gray;"
						>																		
							<div class="col-6">
								<h6 style="margin:0;margin-top:5px;margin-bottom:5px;font-weight:bold;color:black;cursor:pointer" 
								*ngIf="!show_change_branch"
								(click)="show_change_branch = !show_change_branch">									
									{{ current_branch_name }}
								</h6>
								<select id="branch" 
									[(ngModel)]="current_branch" 
									(ngModelChange)="branchSelected($event)"									
									*ngIf="show_change_branch"
									>						
									<option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
								</select>	
								<span *ngIf="show_change_branch"
									style="cursor:pointer" 
									(click)="show_change_branch = !show_change_branch">
									x
								</span>
								<table *ngIf="sumary.people != null" width="500px" 
									class="table-sm table-striped table-bordered table-striped"
									style="text-align:center;padding:0">
									<tr style="background-color:gray;color:white;font-size:10px;height:14px;padding:0;margin:0">									
										<td rowspan="2" style="padding:0"></td>
										<td rowspan="2" valign="bottom" style="padding:0">Membros</td>
										<td colspan="2"  style="padding:0">Pendências</td>
									</tr>
									<tr style="background-color:gray;color:white;font-size:10px;height:14px;padding:0;margin:0">									
										<td style="padding:0">Financeiras</td>
										<td style="padding:0">Agendamento</td>
									</tr>
									<tr>
										<td align="right">Tradicional</td>
										<td> {{ ('00' + sumary.people_traditional).slice(-2) }} </td>
										<td> 00 </td>
										<td> 00 </td>
									</tr>
									<tr>
										<td align="right">Experiencial</td>
										<td align="center">{{ ('00' + sumary.people_experience).slice(-2) }}</td>
										<td> 00 </td>
										<td> 00 </td>
									</tr>
									<tr>
										<td align="right">Fundamental</td>
										<td>{{ ('00' + sumary.people_fundamental).slice(-2) }}</td>
										<td> 00 </td>
										<td> 00 </td>
									</tr>
									<tr>
										<td align="right">Total</td>
										<td>{{ ('00' + sumary.people).slice(-2) }}</td>
										<td><span style="color:red;font-weight:bold">{{ ('00' + sumary.financial_issues).slice(-2) }}</span></td>
										<td><span style="color:red;font-weight:bold">{{ ('00' + sumary.schedule_issues).slice(-2) }}</span></td>
									</tr>
								</table>								
							</div>
							<div class="col-6" style="text-align: center;">		
								<table cellpadding=0 cellspacing=0>
									<tr>
										<td valign="middle">
											<span style="font-weight:bold">Período:</span>
										</td>
										<td valign="middle">
											<button type="button" 
												(click)="change_week(-1)"
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-left">									
											</button>
										</td>
										<td valign="middle">
											{{ current_week_range }} 
										</td>
										<td valign="middle">
											<button type="button" 
												(click)="change_week(1)"
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-right"
												>									
											</button>
										</td>
										<td valign="middle">
											<button type="button" 
												(click)="open(new_activity, null)"
												class="btn btn-success btn-raised btn-fab btn-sm ft-plus"
												title="Registrar Atividade"
												style="margin-left:20px"
												>									
											</button>
										</td>
									</tr>
								</table>							
							</div>								
						</div>
					</div>					
				</div>
			</div>
			<div class="card-body">		
				<table style="width:100%">					
					<tr *ngFor="let d of domains, let k5 = index">
						<td>																				
							<h6 style="font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center" 
								[ngStyle]="{ 'background-color': d.program_id == 1 ? '#690b01' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)') }">
								{{ d.long_name }} do {{ d.program }}																									
							</h6>
							
							<table class="table-sm table-striped table-bordered table-striped"															
								style="margin-bottom:50px;width:100%">								
								<tr>						
									<td *ngFor="let c of cols, let k3 = index" 
										align="center" 
										[ngStyle]="{ 'min-width': c.width, 'max-width': c.width, 
													'background-color': k3 == current_week_day + 4 ? 
													d.program_id == 1 ? '#9b0e04' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)')
													: d.program_id == 1 ? '#810c02' : (d.program_id == 2 ? 'rgb(54, 63, 167)' : 'rgb(8, 82, 1)'), 
													'color': 'white' }"
										[colSpan]="c.colspan || 1"
										>																				
										<div>
											<span *ngIf="k3 == 0" style="font-weight:bold">
												{{ d.number_of_members }} 
												Membro<span *ngIf="d.number_of_members > 1">s</span> 
												Ativo<span *ngIf="d.number_of_members > 1">s</span>
											</span>
											<i  												
												[ngClass]="c.icon"
												*ngIf="c.icon != null"
												[title]="c.description">
											</i>
											{{ c.name }} 
										</div>									
									</td>
								</tr>
								<tr *ngFor="let person of d.daily, let k4 = index">
									<td style="width:60px;min-width:60px;max-width:60px;" valign="middle" align="right">
											<img alt="Card image" 
											class="rounded-circle img-border gradient-summer" 
											src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
											style="max-width:50px;max-height:50px" 
											*ngIf="person.avatar_img && person.avatar_img.length > 0">											
									</td>
									<td style="width:180px;min-width:170px;max-width:250px" valign="middle">
										{{ person.name }}										
									</td>								
									<td valign="middle" align="center" style="min-width:30px;max-width:30px;">
										<span *ngIf="person.scheduling_status == 3">												
											<i class="ft-watch" style="color:orange"
												[title]="person.scheduling_description">
											</i>
										</span>
										<span *ngIf="person.scheduling_status > 0 && person.scheduling_status != 3">
											<i class="ft-watch" style="color:red"													
												[title]="person.scheduling_description">
											</i>
										</span>
										<span *ngIf="person.scheduling_status == 0">
											<i class="ft-thumbs-up" style="color:green"													
												[title]="person.scheduling_description">
											</i>
										</span>
									</td>
									<td valign="middle" align="center" style="min-width:30px;max-width:30px;">
											<span *ngIf="person.financial_status == 3">												
												<i class="icon-wallet" style="color:orange"
												[title]="person.financial_description"
												></i>
											</span>
											<span *ngIf="person.financial_status > 0 && person.financial_status != 3">
												<i class="icon-wallet" style="color:red"													
													[title]="person.financial_description"
												>
												</i>
											</span>	
											<span *ngIf="person.financial_status == 0">
												<i class="ft-thumbs-up" style="color:green"													
													[title]="person.financial_description">
												</i>
											</span>
									</td>
									<td valign="middle" align="center" 
										style="min-width:30px;max-width:30px;cursor:pointer">
											<span *ngIf="person.comunication_status == 3">												
												<i class="ft-radio" style="color:orange"
												[title]="person.comunication_description"
												></i>
											</span>
											<span *ngIf="person.comunication_status > 0 && person.comunication_status != 3">
												<i class="ft-radio" style="color:red"													
													[title]="person.comunication_description"
												>
												</i>
											</span>	
											<span *ngIf="person.comunication_status == 0">
												<i class="ft-radio" style="color:green"													
													[title]="person.comunication_description">
												</i>
											</span>
									</td>	
									<td valign="middle" align="center" 
										style="min-width:110px;max-width:100px;" 
										*ngFor="let item of person.dates, let k2 = index" 
										[ngClass]=" k2 == current_week_day ? (k4 % 2 == 0 ? 'current2' : 'current') : '' ">							
										<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
											<span *ngIf="!m"><br /></span>	
											<a (click)="open(content, i)" [style.color]="i.closed && !i.treated ? 'silver' : ( i.treated ? 'orange' : (i.past ? 'red' : 'black'  )  )  ">
												<b *ngIf="i.type != 2">{{ i.abrev }}</b> 
												<b>{{ i.title }}</b>																	
												<span 
													*ngIf="i.short_description.length > 0 && i.type != 2 && i.type != 4"
													style="font-size:12px"
												> - {{ i.short_description }} </span>										
											</a>																																
										</ng-template>							
									</td>																		
								</tr>
							</table>	
					</td>
				</tr>
			</table>	
			</div>
		</div>		
	</div>
</div>

<ng-template #new_activity let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h5 class="modal-title" style="font-weight: bold">Novo Registro de Atividade</h5>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		body
	</div>
	<div class="modal-footer">
		footer		
	</div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h5 class="modal-title" style="font-weight: bold">{{ current_incident.long_description }}</h5>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-12" *ngIf="!current_incident.in_treatment && !current_incident.closed && !current_incident.treated">
				<h6 style="font-weight: bold">Realizado</h6>				
				<button type="button" class="btn btn-success btn-raised" (click)="close_incident(current_incident);d('close!');">Sim</button>
				<button type="button" class="btn btn-primary btn-raised" (click)="begin_treat_incident(current_incident)">Não</button>		
			</div>
			<div class="col-12" *ngIf="current_incident.in_treatment && !current_incident.reschedule && !current_incident.recontact">
				<h6 style="font-weight: bold">Tratar Evento</h6>

				<button type="button" class="btn btn-success btn-raised" (click)="begin_reschedule_incident(current_incident)">Reagendar</button>								
				<button type="button" class="btn btn-primary btn-raised" (click)="begin_register_contact(current_incident)">Registrar Contato</button>
				<button type="button" class="btn btn-grey btn-raised" (click)="reset_treat_incident(current_incident)">Voltar</button>		
			</div>
			<div class="col-12" *ngIf="current_incident.reschedule">
				<h6 style="font-weight: bold">Reagendar</h6>
				<div class="row">
					<div class="col-5">						
						<div class="form-group">
							<div class="input-group">
								<input class="form-control" style="width:80%" placeholder="yyyy-mm-dd" 
								[(ngModel)]="current_incident.new_date" 
								ngbDatepicker #dpReschedule="ngbDatepicker" />
								<div class="input-group-addon" (click)="dpReschedule.toggle()">
									<i class="fa fa-calendar" style="cursor: pointer;"></i>
								</div>							
							</div>							
							<ngb-timepicker [(ngModel)]="current_incident.new_time"></ngb-timepicker>							
						</div>						
					</div>
					<div class="col-6">																		
						<button type="button" class="btn btn-primary btn-raised" (click)="reschedule_incident(current_incident);d('reschedule!');">Reagendar</button>		
						<button type="button" class="btn btn-grey btn-raised" (click)="reset_treat_incident(current_incident);">Voltar</button>		
					</div>
				</div>																
			</div>
			<div class="col-12" *ngIf="current_incident.recontact">
				<h6 style="font-weight: bold">Registrar Contato</h6>	
				<fieldset class="form-group">					
					<textarea class="form-control" 
						[(ngModel)]="current_incident.contact_text"				
						rows="3" placeholder="O que vocês conversaram?"></textarea>
				</fieldset> 

				<button type="button" class="btn btn-primary btn-raised" (click)="register_contact_for_incident(current_incident);d('contact!');">Registrar</button>		
				<button type="button" class="btn btn-grey btn-raised" (click)="reset_treat_incident(current_incident)">Voltar</button>		
			</div>
			<div class="col-12" *ngIf="current_incident.closed || current_incident.treated">
				<button type="button" class="btn btn-success btn-raised" (click)="c('Close click')">Registrar Outra Atividade</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		
	</div>
</ng-template>