<ng-template #move_card_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold" *ngIf="card.is_task">Mover Tarefa</h5>
        <h5 class="modal-title" style="font-weight: bold" *ngIf="!card.is_task">Mover Projeto</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">			        
        <label for="card_operator"                             
            style="font-weight: bold"
            *ngIf="organizations && !new_project && !new_sub_project">
            Organização
        </label>		
        <div class="form-group"
        *ngIf="organizations && !new_project && !new_sub_project">                            	
            <select id="card_operator" 
                name="card_operator"
                class="form-control"
                [(ngModel)]="new_organization">			                                
                <option *ngFor="let o of organizations" [ngValue]="o">{{ o.title }}</option>
            </select>								                                    
        </div>
        <label for="project"                             
            style="font-weight: bold"
            *ngIf="new_organization && !new_sub_project">
            Projeto
        </label>		
        <div class="form-group" 
        *ngIf="new_organization && !new_sub_project">                            	
            <select id="project" 
                name="project"
                class="form-control"
                [(ngModel)]="new_project">
                <option [ngValue]="null">Subir um nível</option>			                                
                <option *ngFor="let c of new_organization.childs" [ngValue]="c">{{ c.title }}</option>
            </select>								                                    
        </div>
        <label for="project_steps"                             
            style="font-weight: bold"
            *ngIf="new_project && !new_sub_project">
            Passo
        </label>		
        <div class="form-group"
        *ngIf="new_project && !new_sub_project">                            	
            <select id="project_steps" 
                name="project_steps"
                class="form-control"
                [(ngModel)]="new_project_step">			                                
                <option *ngFor="let st of new_project.steps" [ngValue]="st">{{ st.name }}</option>
            </select>								                                    
        </div>
        <label for="subproject"                             
            style="font-weight: bold"
            *ngIf="new_project">
            Sub-Projeto
        </label>		
        <div class="form-group"
            *ngIf="new_project">
            <select id="subproject" 
                name="subproject"
                class="form-control"
                [(ngModel)]="new_sub_project">
                <option [ngValue]="null">Subir um nível</option>			                                
                <option *ngFor="let sp of new_project.subprojects" [ngValue]="sp">{{ sp.title }}</option>
            </select>								                                    
        </div>
        <label for="subproject_steps"                             
            style="font-weight: bold"
            *ngIf="new_sub_project">
            Passo
        </label>		
        <div class="form-group"
        *ngIf="new_sub_project">                            	
            <select id="subproject_steps" 
                name="subproject_steps"
                class="form-control"
                [(ngModel)]="new_subproject_step">                
                <option *ngFor="let st of new_sub_project.steps" [ngValue]="st">{{ st.name }}</option>
            </select>								                                    
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-success" 
            (click)="move_card(d);">
            <i class="icon-check"></i>
            Mover
        </button>

        <button type="button" class="btn btn-silver"                         
            (click)="d('Cancel')">
            <i class="icon-action-undo"></i>          
            Cancelar                              
        </button> 
    </div>
</ng-template>