

<ng-template #data_treatment_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Tratamento de Dados: {{ person.name }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-12">
                <person-card [person]="person"
                    [hideDataStatus]="true"
                    [editAvatarOnClick]="true"></person-card>
            </div>
        </div>
        <div class="row" *ngFor="let ms of missing_data">
            <div class="col-12" *ngIf="ms.missing_code == 'NO_GENDER_DEFINED'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_gender">Gênero</label>
                            <div class="input-group">
                                <select id="person_gender" name="person_gender" class="form-control" [(ngModel)]="person.gender">
                                  <option></option>
                                  <option value="M">Masculino</option>
                                  <option value="F">Feminino</option>
                                </select>

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_gender();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" *ngIf="ms.missing_code == 'NO_SHIRT_SIZE_DEFINED'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_shirt_size">Camisa</label>
                            <div class="input-group">
                                <select id="person_shirt_size" name="person_shirt_size" class="form-control" [(ngModel)]="person.shirt_size">
                                  <option></option>
                                  <option *ngFor="let s of shirts_sizes" [value]="s.size">{{ s.name }}</option>
                                </select>

                                <button type="button" class="btn btn-success"
                                  *ngIf="!saving"
                                    (click)="save_shirt_size();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" *ngIf="ms.missing_code == 'NO_PANTS_SIZE_DEFINED'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_pants_size">Calça</label>
                            <div class="input-group">
                                <select id="person_pants_size" name="person_pants_size" class="form-control" [(ngModel)]="person.pants_size">
                                  <option></option>
                                  <option *ngFor="let s of pants_sizes" [value]="s.size">{{ s.name }}</option>
                                </select>

                                <button type="button" class="btn btn-success"
                                    *ngIf="!saving"
                                    (click)="save_pants_size();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" *ngIf="ms.missing_code == 'NO_BRANCH_DEFINED'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_birth_date">Núcleo</label>
                            <div class="input-group">
                                <select id="branch"
                                    [(ngModel)]="person.branch_id"
                                    class="form-control"
                                    [ngModelOptions]="{standalone: true}"
                                    >
                                    <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                                </select>

                                <button type="button" class="btn btn-success"
                                    *ngIf="!saving"
                                    (click)="save_branch();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_ENOUGH_INDICATIONS' || ms.missing_code == 'PENDING_INDICATIONS' " style="margin-top:10px;margin-bottom:10px;">
                <div class="row">
                    <div class="col-12" >
                        <person-indication-list
                            [person]="person">
                            </person-indication-list>
                        </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_BIRTH_DATE'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_birth_date">Nascimento</label>
                            <div class="input-group">
                                <input class="form-control text-center" placeholder="dd/mm/aaaa"
                                [(ngModel)]="person.birth_date" id="person_birth_date"
                                name="person_birth_date"
                                ngbDatepicker #niBirthDate="ngbDatepicker" />
                                <div class="input-group-addon" (click)="niBirthDate.toggle()">
                                    <i class="ft-calendar" style="cursor: pointer;"></i>
                                </div>

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_birth_date();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_ADMISSION_DATE'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_admission_date">Admissão</label>
                            <div class="input-group">
                                <input class="form-control text-center" placeholder="dd/mm/aaaa"
                                [(ngModel)]="person.admission_date" id="person_admission_date"
                                name="person_admission_date"
                                ngbDatepicker #niAdmissionDate="ngbDatepicker" />
                                <div class="input-group-addon" (click)="niAdmissionDate.toggle()">
                                    <i class="ft-calendar" style="cursor: pointer;"></i>
                                </div>

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_admission_date();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_ENROLLMENT_DATE'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_enrollment_date">Matrícula</label>
                            <div class="input-group">
                                <input class="form-control text-center" placeholder="dd/mm/aaaa"
                                [(ngModel)]="person.enrollment_date" id="person_enrollment_date"
                                name="person_enrollment_date"
                                ngbDatepicker #niEnrollmentDate="ngbDatepicker" />
                                <div class="input-group-addon" (click)="niEnrollmentDate.toggle()">
                                    <i class="ft-calendar" style="cursor: pointer;"></i>
                                </div>

                                <button type="button" class="btn btn-success"
                                    (click)="save_enrollment_date();">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_IDENTIFICATION'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_identification">Identidade</label>
                            <div class="input-group">
                                <input class="form-control text-center"
                                [(ngModel)]="person.identification" id="person_identification"
                                name="person_identification" />

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_identification()">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_IDENTIFICATION2'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_identification2">CPF</label>
                            <div class="input-group">
                                <input class="form-control text-center"
                                [(ngModel)]="person.identification2" id="person_identification2"
                                name="person_identification2" />

                                <button type="button" class="btn btn-success"

                                    (click)="save_identification2()">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_OCCUPATION'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_occupation">Profissão</label>
                            <div class="input-group">
                                <input class="form-control text-center"
                                [(ngModel)]="person.occupation" id="person_occupation"
                                name="person_occupation" />

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_occupation()">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_KF_NAME'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_kf_name">Nome Kung Fu</label>
                            <div class="input-group">
                                <input class="form-control text-center"
                                [(ngModel)]="person.kf_name" id="person_kf_name"
                                name="person_admission_date" />

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_kf_name()">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="ms.missing_code == 'NO_KF_NAME_IDEOGRAMS'">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="person_kf_name_ideograms">Ideogramas do nome Kung Fu</label>
                            <div class="input-group">
                                <input class="form-control text-center"
                                [(ngModel)]="person.kf_name_ideograms" id="person_kf_name_ideograms"
                                name="person_kf_name_ideograms" />

                                <button type="button" class="btn btn-success"
                                *ngIf="!saving"
                                    (click)="save_kf_name_ideograms()">
                                    <i class="icon-check"></i>
                                    Salvar
                                </button>
                                <span  *ngIf="saving"> <i class="fas fa-circle-notch fa-spin"></i> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center"
                *ngIf="ms.missing_code == 'NO_CONTACTS'">
                <button class="btn btn-primary" (click)="open_new_contact(new_contact_modal)">
                    Adicionar Dados de Contato
                </button>
            </div>
            <div class="col-12 text-center"
                *ngIf="ms.missing_code == 'NO_PRINCIPAL_CONTACT'">
                <button class="btn btn-primary"
                    (click)="open_new_contact(new_contact_principal_modal)">
                    Adicionar Dados de Contato Principal
                </button>
            </div>

            <div class="col-12 text-center" *ngIf="ms.missing_code == 'NO_MEMBER_CARD_IMAGE'">
                <button class="btn btn-primary"
                    (click)="open_send_member_card_image()">
                    Enviar Imagem para Cartão de Membro
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #new_contact_modal let-c="close" let-d2="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Adicionar Contato: {{ person.name }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d2('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <new-contact-form
            [person]="person"
            [afterSave]="d2"
            [cancelAction]="d2">
            </new-contact-form>
    </div>
</ng-template>

<ng-template #new_contact_principal_modal let-c="close" let-d2="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Contato Principal: {{ person.name }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d2('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <new-contact-form
            [person]="person"
            [defaultPrincipal]="true"
            [afterSave]="d2"
            [cancelAction]="d2">
            </new-contact-form>
    </div>
</ng-template>
