<div class="sticky-top" style="top:80px;z-index:10000">
    <div style="position:absolute;float:right;right:10px;">
        <button type="button" class="btn btn-silver btn-lg" 
            style="margin:0;padding:2px;line-height:10px"
            (click)="open_new_person_modal();">
            <i class="ft-plus"></i>                                        
            <i class="fas fa-user"></i>
        </button>
        <!-- (click)="open(new_activity, null)" -->
        <button type="button" 			
			class="btn btn-lg btn-silver"
			title="Registrar Atividade"
			style="margin:0;padding:3px;line-height:10px"
            >							
            <i class="far fa-calendar-plus"></i>                                                    
		</button>
    </div>
</div>	