<div class="card" *ngIf="project">        
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h3>{{ project.title }}</h3>
            </div>            
            <div class="col-2">
                <button type="button" class="btn btn-silver btn-lg" 
                    style="margin:5px;padding:2px;line-height:10px"
                    title="Adicionar Tarefa"
                    (click)="add_task();">

                    <i class="ft-plus"></i>
			        <i class="fas fa-tasks"></i>
                </button>
                <button type="button" class="btn btn-silver btn-lg" 
                    style="margin:5px;padding:2px;line-height:10px"
                    title="Adicionar Projeto"
                    (click)="add_task();">

                    <i class="ft-plus"></i>
			        <i class="fas fa-columns"></i>
                </button>        
                <button type="button" 			
                    class="btn btn-lg btn-silver"
                    title="Adicionar Atividade"
                    style="margin:5px;padding:3px;line-height:10px"
                    (click)="add_step();"
                    >						
                    <i class="ft-plus"></i> 	
                    <i class="fas fa-pause"></i>                                                    
                </button>
            </div>
        </div>   
        <div class="row">                        
            <div class="col-12">
                <table class="table table-responsive" cellpadding='5' cellspacing='5' style="background-color:white">
                    <tr>
                        <td
                        class="project step"                                                                                   
                        *ngIf="project.childrens && project.childrens.length > 0"
                        >   
                            <div class="container"
                            [dragula]='"childrens"'
                            [attr.data-parent]="'inbox'"
                            >

                                <h5 class="ignore-item">Caixa de Entrada</h5>
                                <compact-card [card]="ch"
                                    [attr.data-id]="ch.id"                        
                                    *ngFor="let ch of project.childrens"
                                    ></compact-card>

                            </div>
                        </td>
                        <td
                            class="project step"                                                                   
                            *ngFor="let step of project.steps, let k=index">                        
                            <div class="container"
                            [dragula]='"childrens"'  
                            [attr.data-parent]="step.id"
                            >
                                <h5 class="ignore-item">{{ step.name }}</h5>
            
                                <compact-card [card]="ch"
                                    [attr.data-id]="ch.id"
                                    *ngFor="let ch of step.childrens"
                                    ></compact-card>                                                        
                            </div>
                        </td>
                    </tr>
                </table>                
            </div>
        </div>         
    </div>
</div>
