
<style>    
    h2 { 
       margin:0;
       padding: 0;       
       font-weight: bold;
    }
    h3 { 
       margin:0;
       padding: 0;       
    }
    img.shadow {
        box-shadow: 1px 5px 5px 2px #CCC;
    }
    .person_name {        
        font-weight:bold;
        padding-top:5px;
        line-height: 0.8em;
        font-family: Palatino, 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }
    .person_kf_name {
        padding:10px;
        padding-top:2px;
        padding-bottom:5px;
        font-size: 0.8em;
        line-height: 1.6em;
        border-bottom:1px solid black;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:10px;
        font-family: Palatino, 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }
    .ideograms {        
        position:relative;
        float:right;
        font-weight:bold;        
        text-orientation: upright;
        writing-mode: vertical-rl;        
        padding-top:5px;   
        padding-left:10px;
        font-size: 2.5em;    
        letter-spacing: 0.25em;
    }
    .card_body {
        display: inline-block;
    }
    .card_body img {
        float:left;
    }
    .card_footer {
        font-size:0.8em;
        line-height: 1.1em;
        font-family: Palatino, 'Times New Roman', Times, serif
    }
</style>
<div class="card text-center">
    <div class="row" *ngFor="let p of programs">
        <div class="col-12 text-center">        
            <h2>{{ p.long_name }}</h2>
            <div class="row">
                <div class="col-12 text-center" 
                    style="vertical-align: top"
                    *ngFor="let d of p.domains">                                                       
                    <h3 style="font-weight:bold;">{{ d.long_name }} do Sistema Ving Tsun</h3>

                    <div *ngFor="let person of d.members"                        
                        class="text-left"
                        style="border:1px solid black;cursor:pointer;padding-bottom:5px;margin:10px;display:inline-block;width:310px">
                        <person-card [person]="person"></person-card>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>