
<float-action-center [branch]="current_branch"></float-action-center>
<div class="card">
    <people-header panel="members"></people-header>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-2 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="branch">Núcleo</label>
                        <select id="branch"
                            [(ngModel)]="current_branch"
                            (ngModelChange)="filter_people()"
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <option value="0">Todos</option>
                            <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="filters">Programa</label>
                        <select id="filters"
                            [(ngModel)]="program"
                            (ngModelChange)="filter_people()"
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <option value="0">Todos</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                            <option value="3">P3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 pt-2 pb-0" *ngIf="program > 0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="filters">Domínios/Opções</label>
                        <select id="filters"
                            [(ngModel)]="domain"
                            (ngModelChange)="filter_people()"
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <option value="0">Todos</option>
                            <option *ngFor="let b of domains" [value]="b.id">{{ b.long_name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="filters">Filtros</label>
                        <select id="filters"
                            [(ngModel)]="filters"
                            (ngModelChange)="filter_people()"
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >
                            <option value="0">Todos</option>
                            <option value="1">Qualquer pendência</option>
                            <option value="2">Pendências cadastrais</option>
                            <option value="3">Pendências financeiras</option>
                            <option value="4">Pendências de agendamento</option>
                            <option value="5">Pendências de comunicação</option>
                            <option value="6">Aniversariantes do Mês</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12  text-center">
                <div *ngFor="let person of people"
                    class="text-left"
                    style="border:1px solid black;margin:10px;display:inline-block;width:310px">
                    <person-card [person]="person"></person-card>
                </div>
            </div>
        </div>
    </div>
</div>