
<float-action-center></float-action-center>
<div class="card">
    <people-header panel="members"></people-header>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4 pt-2 pb-0">
                <people-change-members-view display="management"></people-change-members-view>
            </div>
            <div class="col-5 col-md-2 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="branch">Núcleo</label>
                        <select id="branch" 
                            [(ngModel)]="current_branch" 
                            (ngModelChange)="filter_people()"									                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"                            
                            >			
                            <option value="0">Todos</option>			
                            <option value="1">Barra</option>
                            <option value="2">Méier</option>
                            <option value="3">Ipanema</option>
                            <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                        </select>
                    </div>                            
                </div>                                                                  
            </div>
            <div class="col-7 col-md-5 pt-2 pb-0">
                <div class="form-body">
                    <div class="form-group">
                        <label for="filters">Filtros</label>
                        <select id="filters" 
                            [(ngModel)]="filters" 
                            (ngModelChange)="filter_people()"									                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >			
                            <option value="0">Todos</option>			
                            <option value="1">Qualquer pendência</option>
                            <option value="2">Pendências cadastrais</option>
                            <option value="3">Pendências financeiras</option>
                            <option value="4">Pendências de agendamento</option>                            
                            <option value="5">Pendências de comunicação</option>
                            <option value="6">Aniversariantes do Mês</option>
                        </select>
                    </div>                            
                </div>                                                                  
            </div>                     
        </div>
        <div class="row">        
            <div class="col-12  text-center">
                <div *ngFor="let person of people"                
                    class="text-left"
                    style="border:1px solid black;margin:10px;display:inline-block;width:310px">
                    <person-card [person]="person"></person-card>
                </div>   
            </div>                 
        </div>
    </div>
</div>