

<div class="card">
    <div class="sticky-top" style="background-color:white;width:100%;padding:10px;z-index:10000">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <form class="form form-horizontal" novalidate="">
                            <div class="form-group row">                                                            
                                <div class="col-md-12 col-sm-12">
                                    <select id="view" 
                                        [(ngModel)]="current_view" 
                                        (ngModelChange)="change_view($event)"									                            
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control form-control-lg"
                                        style="border:0;border-bottom:1px solid silver;font-weight:bold"
                                        >			
                                        <option value="0" selected>Painel de Praticantes</option>			
                                        <option value="1">Painel de Membros</option>                                                        
                                    </select>
                                </div>
                            </div>
                        </form>                                            
                    </div>                    
                </div>                
            </div>					
        </div>
    </div>
    <div class="card-body" style="padding-left:2%">
        <div class="row">
            <div class="col-2">
                <div class="form-body">
                    <div class="form-group">
                        <label for="branch">Núcleo</label>
                        <select id="branch" 
                            [(ngModel)]="current_branch" 
                            (ngModelChange)="filter_people()"									                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"                            
                            >			
                            <option value="0">Todos os Núcleos</option>			
                            <option value="1">Núcleo Barra</option>
                            <option value="2">Núcleo Méier</option>
                            <option value="3">Núcleo Ipanema</option>
                            <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                        </select>
                    </div>                            
                </div>                                                                  
            </div>
            <div class="col-3">
                <div class="form-body">
                    <div class="form-group">
                        <label for="branch">Status</label>
                        <select id="branch" 
                            [(ngModel)]="only_people_with_issues" 
                            (ngModelChange)="filter_people()"									                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}"
                            >			
                            <option value="false">Todos</option>			
                            <option value="true">Apenas praticantes com pendências</option>
                        </select>
                    </div>                            
                </div>                                                                  
            </div>                     
        </div>
        <div class="row">        
            <div class="col-12  text-center">
                <div *ngFor="let person of people"                
                    class="text-left"
                    style="border:1px solid black;margin:10px;display:inline-block;width:310px">
                    <person-card [person]="person"></person-card>
                </div>   
            </div>                 
        </div>
    </div>
</div>