<style>
	.current {
		background-color: #eeeeee
	}
	.current2 {
		background-color: #dddddd
	}	
</style>
				

<div class="row">
	<div class="col-12">		
		<div class="card">
			<div class="card-header" class="sticky-top" style="background-color:white;width:100%;padding:10px">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-6">
								<h4 class="card-title">
									Diário de Atividades - Membros Ativos 																																
								</h4>
								<h6 style="margin:0;margin-top:5px;margin-bottom:5px;font-weight:bold;color:black;cursor:pointer" 
								*ngIf="!show_change_branch"
								(click)="show_change_branch = !show_change_branch">									
									{{ current_branch_name }}
								</h6>
								<select id="branch" 
									[(ngModel)]="current_branch" 
									(ngModelChange)="branchSelected($event)"									
									*ngIf="show_change_branch"
									>						
									<option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
								</select>	
								<span *ngIf="show_change_branch"
									style="cursor:pointer" 
									(click)="show_change_branch = !show_change_branch">
									x
								</span>
							</div>	
							<div class="col-3 text-right">
								<span class="input-group">
									<span class="input-group-btn">
										<button type="button" 
											(click)="change_week(-1)"
											class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-left">									
										</button>
									</span>											
									<input type="text" class='form-control text-center'
										style="background-color: white"
										[value]="current_week_range" readonly="readonly"/>																								
									<span class="input-group-btn">
										<button type="button" 
											id="btn_next_week"
											(click)="change_week(1)"											
											class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-right"
											>									
										</button>
									</span>
								</span>			
							</div>
							<div class="col-1 text-center">
								<button type="button" 
									(click)="reset_new_incident();open(new_activity, null)"
									class="btn btn-success btn-raised ft-plus"
									title="Registrar Atividade"
									style="margin-left:10px"
									>																
								</button>
							</div>														
						</div>						
					</div>					
				</div>
			</div>
			<div class="card-body">						
				<table style="width:100%;">
					<tr *ngFor="let d of domains, let k5 = index">
						<td>																																		
							<table class="table-sm table-striped table-bordered table-hover"															
								style="margin-bottom:50px;width:100%">
								<tr>
									<td colspan="11"
										style="font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center"
										[ngStyle]="{ 'background-color': d.program_id == 1 ? '#690b01' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)') }">
										{{ d.program }} - {{ d.long_name }}
									</td>
								</tr>								
								<tr>						
									<td *ngFor="let c of cols, let k3 = index" 
										align="center" 
										[ngStyle]="{ 'width': c.width, 
													'background-color': k3 == current_week_day + 4 ? 
													d.program_id == 1 ? '#9b0e04' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)')
													: d.program_id == 1 ? '#810c02' : (d.program_id == 2 ? 'rgb(54, 63, 167)' : 'rgb(8, 82, 1)'), 
													'color': 'white' }"
										[colSpan]="c.colspan || 1"
										>																				
										<div>
											<span *ngIf="k3 == 0" style="font-weight:bold">
												{{ d.number_of_members }} 
												Membro<span *ngIf="d.number_of_members > 1">s</span> 
												Ativo<span *ngIf="d.number_of_members > 1">s</span>
											</span>
											<i  												
												[ngClass]="c.icon"
												*ngIf="c.icon != null"
												[title]="c.description">
											</i>
											{{ c.name }} 
										</div>									
									</td>
								</tr>
								<tr *ngFor="let person of d.daily, let k4 = index">
									<td>
										<div class="row">
											<div class="col-2" style="padding:0;padding-left:5px">
												<img alt="{{ person.name }}"
												class="rounded-circle img-border " 
												src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
												style="min-width:50px;width:100%;" 
												*ngIf="person.avatar_img && person.avatar_img.length > 0">	
											</div>								
											<div class="col-10"  style="padding:0;padding-left:2px">
												<div class="row">
													<div class="col-12">
														{{ person.name }}
													</div>
												</div>
												<div class="row" style="font-size:10px;">
													<div class="col-12">
														{{ person.kf_name }}														
														<span 
															*ngIf="!current_branch || current_branch == '' || current_branch == 0">
															<span *ngIf="person.kf_name && person.kf_name.length > 0"> - </span>
															{{ person.branch_abrev }}
														</span>
													</div>
												</div>
											</div>	
										</div>																					
									</td>								
									<td valign="middle" align="center">
										<span *ngIf="person.scheduling_status == 3">												
											<i class="ft-calendar" style="color:orange"
												[title]="person.scheduling_description">
											</i>
										</span>
										<span *ngIf="person.scheduling_status > 0 && person.scheduling_status != 3">
											<i class="ft-calendar" style="color:red"													
												[title]="person.scheduling_description">
											</i>
										</span>
										<span *ngIf="person.scheduling_status == 0">
											<i class="ft-thumbs-up" style="color:green"													
												[title]="person.scheduling_description">
											</i>
										</span>
									</td>
									<td valign="middle" align="center">
											<span *ngIf="person.financial_status == 3">												
												<i class="icon-wallet" style="color:orange"
												[title]="person.financial_description"
												></i>
											</span>
											<span *ngIf="person.financial_status > 0 && person.financial_status != 3">
												<i class="icon-wallet" style="color:red"													
													[title]="person.financial_description"
												>
												</i>
											</span>	
											<span *ngIf="person.financial_status == 0">
												<i class="ft-thumbs-up" style="color:green"													
													[title]="person.financial_description">
												</i>
											</span>
									</td>
									<td valign="middle" align="center" style="cursor:pointer">
											<span *ngIf="person.comunication_status == 3">												
												<i class="ft-radio" style="color:orange"
												[title]="person.comunication_description"
												></i>
											</span>
											<span *ngIf="person.comunication_status > 0 && person.comunication_status != 3">
												<i class="ft-radio" style="color:red"													
													[title]="person.comunication_description"
												>
												</i>
											</span>	
											<span *ngIf="person.comunication_status == 0">
												<i class="ft-thumbs-up" style="color:green"													
													[title]="person.comunication_description">
												</i>
											</span>
									</td>	
									<td valign="middle" align="center" 										
										*ngFor="let item of person.dates, let k2 = index" 
										style="border-right:1px solid grey"
										[ngClass]=" k2 == current_week_day ? (k4 % 2 == 0 ? 'current2' : 'current') : '' ">																	

										<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
											<div class="text-center" 
												style="line-height:15px;"												
												[style.border-top]="k > 0 ? '1px solid #CCC' : ''">
												<a (click)="open(content, i)" 
													[style.color]="i.closed && !i.treated ? 'silver' : ( i.treated ? 'orange' : (i.past ? 'red' : 'black'  )  )  "
													style="font-size:12px">
													<b *ngIf="i.type != 2">{{ i.abrev }}</b> 
													<b *ngIf="i.type == 2">{{ i.title }}</b>																	
													<span 
														*ngIf="i.short_description != null 
																&& i.short_description.length > 0 
																&& i.type != 2 && i.type != 4"
														style="font-size:11px"
													> - {{ i.short_description }} </span>
												</a>	
											</div>																															
										</ng-template>																	

									</td>																		
								</tr>
							</table>	
					</td>
				</tr>
				</table>	

				<table class="table-sm table-striped table-bordered" 
					*ngIf="external_people != null && external_people.length > 0" 
					style="width:100%;margin-bottom:50px">
					<tr>
						<td colspan="9"
							style="background-color:gray;font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center">
							Público Externo
						</td>
					</tr>								
					<tr>		
						<td style="width:24.5%;background-color: gray"></td>				
						<td style="width:9%;background-color: gray">

						</td>
						<td *ngFor="let c of week_days, let k3 = index" 							
							style="width:9.5%;text-align: center"
							[ngStyle]="{'background-color': k3 == current_week_day ? 'rgb(100,100,100)': 'gray', 
										'color': 'white' }"							
							>																				
							<div>								
								<i  												
									[ngClass]="c.icon"
									*ngIf="c.icon != null"
									[title]="c.description">
								</i>
								{{ c.name }} 
							</div>									
						</td>						
					</tr>
					<tr *ngFor="let visitant of external_people, let ke = index">					
						<td>
							<div class="row">
								<div class="col-2" style="padding:0;padding-left:5px">
									<img
									class="rounded-circle img-border " 
									src="https://myvtmiim.blob.core.windows.net/avatars/{{ visitant.avatar_img }}" 											
									style="min-width:50px;width:100%;" 
									*ngIf="visitant.avatar_img && visitant.avatar_img.length > 0">	
								</div>								
								<div class="col-10"  style="padding:0;padding-left:2px">
									<div class="row">
										<div class="col-12">
											{{ visitant.name }}
										</div>
									</div>
									<div class="row" style="font-size:10px;">
										<div class="col-12">
											{{ visitant.kf_name }}											
										</div>
									</div>
								</div>	
							</div>
						</td>
						<td>
							
						</td>						
						<td valign="middle" align="center" 										
							*ngFor="let item of visitant.dates, let k2 = index" 
							style="border-right:1px solid grey"
							[ngClass]=" k2 == current_week_day ? (ke % 2 == 0 ? 'current2' : 'current') : '' ">

							<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
								<div class="text-center" 
									style="line-height:15px;"												
									[style.border-top]="k > 0 ? '1px solid #CCC' : ''">
									<a (click)="open(content, i)" 
										[style.color]="i.closed && !i.treated ? 'silver' : ( i.treated ? 'orange' : (i.past ? 'red' : 'black'  )  )  "
										style="font-size:12px">
										<b *ngIf="i.type != 2">{{ i.abrev }}</b> 
										<b *ngIf="i.type == 2">{{ i.title }}</b>																	
										<span 
											*ngIf="i.short_description != null 
													&& i.short_description.length > 0 
													&& i.type != 2 && i.type != 4"
											style="font-size:11px"
										> - {{ i.short_description }} </span>
									</a>	
								</div>																															
							</ng-template>

						</td>
					</tr>
				</table>
			</div>
		</div>		
	</div>
</div>

<ng-template #new_activity let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h5 class="modal-title" style="font-weight: bold">Novo Registro de Atividade</h5>
		<button type="button" class="close" aria-label="Close" (click)="reset_new_incident();d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">			
		<div class="form-body">			
			<div class="row">
				<div class="col-12">
					<fieldset class="form-group">
						<label for="new_incident_tmp_type" style="font-weight: bold">Tipo de Atividade</label>		
						<br />										
						<span *ngIf="new_incident.tmp_type != null">
							{{ new_incident.tmp_type.name }}
							<span *ngIf="new_incident.children_type != null">
								- {{ new_incident.children_type.name }}
							</span>							

							<i class="ft-rotate-ccw" 
								(click)="reset_new_incident_type();"
								style="cursor: pointer;">
							</i>							
						</span>						
						<select id="new_incident_tmp_type"
							class="form-control" 
							[(ngModel)]="new_incident.tmp_combo_type" 	
							(ngModelChange)="change_new_incident_type($event)"
							*ngIf="new_incident.tmp_type == null"
							style="width:100%"
							>		
							<option></option>
							<option *ngFor="let t of incident_types" [value]="t.id">{{t.name}}</option>
						</select>
						<select id="new_incident_children_type" 
							[(ngModel)]="new_incident.children_type" 
							class="form-control" 
							(ngModelChange)="change_new_incident_children_type($event)"																								
							*ngIf="new_incident.tmp_type != null && new_incident.children_type == null && new_incident.tmp_type.childrens != null"
							style="width:100%"
							>						
							<option *ngFor="let t of new_incident.tmp_type.childrens" [value]="t.id">{{t.name}}</option>
						</select>						
					</fieldset>                                
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<label for="new_incident_date" style="font-weight: bold">Data</label>
				</div>
			</div>
			<div class="row">				
				<div class="col-6">
					<div class="form-group">													
						<div class="input-group">							
							<input class="form-control" placeholder="yyyy-mm-dd" 
							[(ngModel)]="new_incident.date" id="new_incident_date"
							ngbDatepicker #niReschedule="ngbDatepicker" />
							<div class="input-group-addon" (click)="niReschedule.toggle()">
								<i class="fa fa-calendar" style="cursor: pointer;"></i>
							</div>																																
						</div>	
						
					</div>
				</div>
				<div class="col-6">					
					<ngb-timepicker [spinners]="false" [(ngModel)]="new_incident.time"></ngb-timepicker>					
				</div>
			</div>
			<div class="row" *ngIf="new_incident.type != null">
				<div class="col-12">
					<label for="new_incident_search_people" style="font-weight: bold">Participante{{ new_incident.people == null || new_incident.people.length <= 1 ? '' : 's' }}</label>	
					<ul *ngIf="new_incident.people != null && new_incident.people.length > 0"
						class="list-group">
						<li *ngFor="let p of new_incident.people"
							class="list-group-item">
							<img alt="{{ p.name }}" 
							class="rounded-circle img-border " 
							src="https://myvtmiim.blob.core.windows.net/avatars/{{ p.avatar_url }}" 											
							style="min-width:50px;max-width:50px;" 
							*ngIf="p.avatar_url && p.avatar_url.length > 0" />							
							{{ p.name }}
							<div style="float:right">
								<span class="badge badge-pill">
									<i class="fa fa-times" 
										style="cursor: pointer;"
										(click)="remove_person_from_new_incident(p)"
									></i>
								</span>
							</div>
						</li>						
					</ul>												
					<div class="form-group" [class.has-danger]="search_failed">
					<input type="text" class="form-control" 
						id="new_incident_search_people"
						[ngbTypeahead]="search_people" 
						placeholder="Pesquise {{ new_incident.people == null || new_incident.people.length <= 0 ? 'a' : 'mais' }} participante{{ new_incident.people == null || new_incident.people.length <= 0 ? '' : 's' }}"
						[resultTemplate]="person_typeahead_template"
						[inputFormatter]="people_typeahead_formatter"
						[(ngModel)]="new_incident.tmp_person" 
						(ngModelChange) ="add_person_to_new_incident($event)" 
					/>
					<span *ngIf="searching_people">buscando...</span>
					<div class="form-control-feedback" *ngIf="search_failed">
						ops... ocorreu algum erro na busca</div>
					</div>
					<ng-template #person_typeahead_template let-p="result">
						<img alt="{{ p.name }}" 
						class="rounded-circle img-border " 
						src="https://myvtmiim.blob.core.windows.net/avatars/{{ p.avatar_url }}" 											
						style="min-width:50px;max-width:50px;" 
						*ngIf="p.avatar_url && p.avatar_url.length > 0" />						
						{{ p.name }}
						<span *ngIf="!p.found" style="font-style: italic;">
							(novo)
						</span>
					</ng-template>					
				</div>
			</div>
			<div class="row" *ngIf="new_incident.type != null">
				<div class="col-12">
					<label for="new_incident_description" style="font-weight: bold">Descrição</label>								
					<textarea class="form-control"
					id="new_incident_description"
					[(ngModel)]="new_incident.description"							
					(ngModelChange) ="validate_new_event()" 		
					rows="3"></textarea>
				</div>
			</div>			
			<div class="row" *ngIf="new_incident.type != null && new_incident.type.need_value">
				<div class="col-12">
					<label for="new_incident_value" style="font-weight: bold">Valor</label>								
					<input type="number" id="new_incident_value" 
						[(ngModel)]="new_incident.value"							
						class="form-control text-right"
						(ngModelChange) ="validate_new_event_value()" 						
						/>
					<small class="form-text text-muted danger" *ngIf="new_incident.value != null && new_incident.value.errors?.gt">gt error</small>
				</div>
			</div>
		</div>			
	</div>
	<div class="modal-footer">
		<button type="button" 
			class="btn btn-primary btn-raised" 
			(click)="register_new_incident();d('new incident!');"
			*ngIf="new_incident.correct">
			Registrar
		</button>															
		<button type="button" class="btn btn-grey btn-raised" 
			(click)="reset_new_incident();d('reset new incident!');"
			>
			Cancelar
		</button>	
	</div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h5 class="modal-title" style="font-weight: bold">{{ current_incident.long_description }}</h5>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">		
		<div class="row" *ngIf="current_incident.title">
			<div class="col-12">													
				<markdown [data]="current_incident.title"></markdown>			
			</div>
		</div>		
		<div class="row" *ngIf="current_incident.treatment_text">						
			<div class="col-12">
				<markdown [data]="current_incident.treatment_text"></markdown>			
			</div>
		</div>
		<div class="row" *ngIf="current_incident.close_text">						
			<div class="col-12">
				<div style="font-size:10px;font-weight:bold;line-height:10px;font-style:italic">Fechamento:</div>
				<markdown [data]="current_incident.close_text"></markdown>			
			</div>
		</div>
		<div class="row" *ngIf="current_incident.new_schedule_date">
			<div class="col-12">
				<b>Reagendado para: </b>{{ current_incident.new_schedule_small_date }} {{ current_incident.new_schedule_hour }}
			</div>
		</div>
		<div class="row">
			<div class="col-12" *ngIf="!current_incident.in_treatment 
										&& current_incident.need_description_for_closing
										&& !current_incident.closed
										&& !current_incident.treated">				
				<div class="row">					
					<div class="col-12">													
						<fieldset class="form-group">					
							<textarea class="form-control" 
								[(ngModel)]="current_incident.closing_contact_text"				
								rows="3" placeholder="Como foi?"></textarea>
						</fieldset>		
					</div>
				</div>
			</div>
			<div class="col-12" *ngIf="!current_incident.in_treatment && !current_incident.closed && !current_incident.treated">
				<h6 style="font-weight: bold">Realizado</h6>				
				<button type="button" class="btn btn-success btn-raised" (click)="close_incident(current_incident);d('close!');">Sim</button>
				<button type="button" class="btn btn-primary btn-raised" (click)="begin_treat_incident(current_incident)">Não</button>		
			</div>			
			<div class="col-12" *ngIf="current_incident.in_treatment">				
				<div class="row">					
					<div class="col-12">							
						<h6 style="font-weight: bold">Contato</h6>
						<fieldset class="form-group">					
							<textarea class="form-control" 
								[(ngModel)]="current_incident.contact_text"				
								rows="3" placeholder="O que vocês conversaram?"></textarea>
						</fieldset>		
					</div>
				</div>
				<div class="row" *ngIf="current_incident.reschedule">					
					<div class="col-6">			
						<h6 style="font-weight: bold">Reagendamento</h6>									
						<div class="form-group">
							<div class="input-group">
								<input class="form-control" style="width:100%" placeholder="yyyy-mm-dd" 
								[(ngModel)]="current_incident.new_date" 
								ngbDatepicker #dpReschedule="ngbDatepicker" />
								<div class="input-group-addon" (click)="dpReschedule.toggle()">
									<i class="fa fa-calendar" style="cursor: pointer;"></i>
								</div>							
							</div>																
						</div>						
					</div>
					<div class="col-6">
						<ngb-timepicker [(ngModel)]="current_incident.new_time"></ngb-timepicker>							
					</div>																																								
				</div>															
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-raised" 
			(click)="register_contact_for_incident(current_incident);d('contact!');"
			*ngIf="current_incident.in_treatment && !current_incident.reschedule">
			Registrar Contato
		</button>
		<button type="button" class="btn btn-success btn-raised" 
			(click)="begin_reschedule_incident(current_incident)"
			*ngIf="current_incident.in_treatment && !current_incident.reschedule">
			Reagendar
		</button>		
		<button type="button" 
			class="btn btn-primary btn-raised" 
			(click)="reschedule_incident(current_incident);d('reschedule!');"
			*ngIf="current_incident.in_treatment && current_incident.reschedule">
			Registrar Reagendamento
		</button>															
		<button type="button" class="btn btn-grey btn-raised" 
			(click)="reset_treat_incident(current_incident);"
			*ngIf="current_incident.in_treatment && !current_incident.reschedule">
			Voltar
		</button>		
		<button type="button" class="btn btn-grey btn-raised" 
			(click)="reset_reschedule(current_incident);"
			*ngIf="current_incident.in_treatment && current_incident.reschedule">
			Voltar
		</button>		
		<button type="button" class="btn btn-grey btn-raised" 			
			*ngIf="!current_incident.begin_remove"
			(click)="begin_remove_incident(current_incident);">
			Excluir
		</button>
		<span *ngIf="current_incident.begin_remove">
			Confirma exclusão: 
		</span>
		<button type="button" class="btn btn-danger btn-raised" 
			*ngIf="current_incident.begin_remove"
			(click)="remove_incident(current_incident);d('remove!');">
			Excluir
		</button>
		<button type="button" class="btn btn-primary btn-raised" 
			*ngIf="current_incident.begin_remove"
			(click)="rollback_remove_incident(current_incident);">
			Não
		</button>
	</div>
</ng-template>