<div class="row" *ngIf="showHeader"
    style="border-bottom: 1px solid black;" >
    <div class="col-10">
        <h6 style="font-weight:bold;margin-bottom:0"> Inventário </h6>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-silver btn-sm"
            style="margin:0;padding:2px;line-height:10px"
            (click)="open(inventory_modal);">
            <i class="ft-plus"></i>
        </button>
    </div>
</div>

<div class="row" *ngIf="!items || items.length == 0">
    <div class="col-12 text-center">
        Nenhum Item encontrado
    </div>
</div>

<div class="row" *ngFor="let item of items">
    <div class="col-12" >
        {{ item.item_name }} - {{ item.description }}
    </div>
</div>

<ng-template #inventory_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id <= 0">
            Novo Item
        </h5>
        <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id > 0">
            Editar Item
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 pb-3">
                <label for="item_type" style="font-weight: bold">Tipo</label>
                <select id="item_type"
                    [(ngModel)]="current_item.inventory_item"
                    class="form-control"
                    >
                    <option></option>
                    <option *ngFor="let iv of inventory_items" [ngValue]="iv">{{iv.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="saving">
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving">
        <div class="form-actions text-right">
            <button type="button" class="btn btn-success"
                (click)="save_current_item(d('item saved!'));">
                <i class="icon-check"></i>
                Salvar
            </button>
            <button type="button" class="btn btn-silver"
                (click)="d('cancel')">
                <i class="icon-action-undo"></i>
                Cancelar
            </button>
        </div>
    </div>
</ng-template>
