<div class="card">
    <div class="card-body" style="padding:10px;">
        <h4>Produtos</h4>        
        <ng-template ngFor let-c [ngForOf]="collection">            
            <table class="table table-hover table-striped" style="width:100%;margin-bottom:30px">            
                <thead>
                    <th><b> {{ c.name }} </b></th>
                    <th style="text-align:center;width:40px">Moeda</th>
                    <th style="text-align:center;width:80px">Valor</th>             
                    <th style="width:90px"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of c.items" class="cursor_pointer">
                        <td (click)="edit(modal, item)">
                            {{ item["name"] }}
                        </td>
                        <td style="text-align:center" (click)="edit(modal, item)">
                            {{ item.currency_symbol }}
                        </td>
                        <td style="text-align:right;padding-right:10px" (click)="edit(modal, item)">
                            {{ item.base_value }}
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-silver btn-sm" 
                                style="margin:0;padding:2px;line-height:10px"			                                        
                                *ngIf="!item.remove_contact"
                                (click)="item.remove_contact = true">
                                <i class="ft-trash-2"></i>                                        
                            </button>                                    
                            <button type="button" class="btn btn-danger btn-sm" 
                                *ngIf="item.remove_contact"
                                style="margin:0;padding:2px;line-height:10px"			                                        
                                (click)="archive_product(item)">
                                <i class="ft-trash-2"></i>                                        
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm" 
                                *ngIf="item.remove_contact"
                                style="margin:0;padding:2px;line-height:10px"			                                        
                                (click)="item.remove_contact = false">
                                <i class="icon-action-undo"></i>                                        
                            </button>                                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <button type="button" class="btn btn-silver"             
            (click)="create(modal);">
            <i class="fas fa-plus-circle"></i>
            Novo
        </button>
    </div>
</div>


<ng-template #modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id > 0">
                Alterar Produto
            </h5>
            <h5 class="modal-title" style="font-weight: bold" *ngIf="!current_item.id || current_item.id <= 0">
                Novo Produto
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="current_item">		
            <div class="row">
                <div class="col-12">
                    <label for="item_name">Nome</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.name"                        
                        autocomplete="off"
                        maxlength="100"
                        id="item_name"                        
                        name="item_name"/>                                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="item_category">Categoria</label>                                                									
                    <div class="input-group">							
                        <select [(ngModel)]="current_item.category_id" 								                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}">			                                                        			                            
                            <option *ngFor="let cp of collection" [value]="cp.id">{{cp.name}}</option>
                        </select> 
                    </div>
                </div>
                <div class="col-6">
                    <label for="item_currency">Moeda</label>                                                									
                    <div class="input-group">							
                        <select [(ngModel)]="current_item.currency_id" 								                            
                            class="form-control form-control-sm"
                            [ngModelOptions]="{standalone: true}">			                                                        			                            
                            <option *ngFor="let cp of currencies" [value]="cp.id">{{cp.name}}</option>
                        </select> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="item_base_value">Valor</label>                                                									
                    <div class="input-group">							
                        <input class="form-control text-right"
                        [(ngModel)]="current_item.base_value"                        
                        autocomplete="off"
                        type="number"                        
                        id="item_base_value"                        
                        name="item_base_value"/>                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" *ngIf="saving">        
                <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
            </div>
        <div class="modal-footer" *ngIf="!saving">
            <button type="button" class="btn btn-success" 
                (click)="save(d);">
                <i class="icon-check"></i>
                Salvar
            </button>        
            <button type="button" class="btn btn-silver" 			            
                (click)="d('Cancelled')">
                <i class="icon-action-undo"></i>
                Cancelar
            </button>        
        </div>
    </ng-template>