<float-action-center [branch]="current_branch"></float-action-center>

<style>
  .action_container {
    position: relative;
    float: right;
  }

  .action_button {
    color: silver !important;
    font-size: 0.6em;
  }

  .action_button:hover {
    color: black !important;
  }

</style>

<div class="row">
  <div class="col-12">
    <div class="card-header" style="background-color:white;width:100%;padding:10px">
      <diary-header panel="members"></diary-header>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-12">
              <diary-change-branch [branch]="current_branch" (onChangeBranch)="branchSelected($event)"></diary-change-branch>
            </div>
            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-12">
              <diary-change-view initial_display="agenda"></diary-change-view>
            </div>
            <div class="col-9 col-xl-3 col-lg-3 col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control text-center" placeholder="dd/mm/aaaa" name="current_date" [(ngModel)]="current_date"
                    (ngModelChange)="change_current_date($event)" ngbDatepicker #dpCurrentDate="ngbDatepicker" />
                  <div class="input-group-addon" (click)="dpCurrentDate.toggle()">
                    <i class="ft-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-8">
    <div class="card card-block" *ngFor="let ownership of not_migrated_ownerships">
      <h6 class="card-title" style="cursor:pointer;text-transform:unset" (click)="open_migrate_ownership(ownership, migrate_ownership_modal)">
        <i class="fas fa-forward" style="color:red"></i>
        {{ ownership.date | date: 'HH:mm' }} - {{ ownership.person_name }}
      </h6>
      <div class="card-text" *ngIf="!ownership['show_content']">
        Sem local definido
      </div>
    </div>

    <ownership-agenda-view *ngFor="let ownership of ownerships"
    [ownership]="ownership" [incidents]="incidents | filterBy: ['ownership_id'] : ownership.id"
    [actions]="actions | filterBy: ['incident_id'] : ownership.id">
    </ownership-agenda-view>

    <div class="card">
      <div class="card-header">
        <h4>Atividades sem titularidade</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12" style="border:1px solid silver;margin-bottom:10px;border-bottom:0;">
            <div class="row" *ngFor="let incident of incidents | filterBy: ['ownership_id'] : -1, let k = index">
              <div class="col-12" style="line-height:2em;border:1px solid silver;border-left:0;border-right:0" *ngIf="current_branch <= 0 || incident.branch_id == current_branch"
                [style.border-top]="k != 0 ? '0' : '1px solid silver'">
                <incident-agenda-listitem [branch]="current_branch" [incident]="incident">
                </incident-agenda-listitem>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4">
    <div class="card">
      <div class="card-text">
        <lateral-summary [branch]="current_branch" [week]="current_week">
        </lateral-summary>
      </div>
    </div>

    <div class="card">
      <div class="card-text">
        <current-activities [branch]="current_branch">
        </current-activities>
      </div>
    </div>
  </div>
</div>

<ng-template #migrate_ownership_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" style="font-weight: bold">Migrar Titularidade <i class="fas fa-circle-notch fa-spin" *ngIf="saving"></i></h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="ownership_branch">Organização</label>
      </div>
    </div>
    <div class="form-group">
      <select id="ownership_branch" [(ngModel)]="migrating_ownership.branch_id" (ngModelChange)="change_migrating_ownership_branch()"
        class="form-control">
        <option [ngValue]="null">Gestão Integrada</option>
        <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
      </select>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="ownership_location">Local</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <select id="ownership_location" *ngIf="migrating_ownership.branch_id > 0" [(ngModel)]="migrating_ownership.location_id"
            [compareWith]="compareFn" class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let l of branch_locations | filterBy: ['branch.id'] : migrating_ownership.branch_id : 'strinct'"
              [value]="l.id">{{l.name}}</option>
          </select>

          <select id="ownership_location" *ngIf="!migrating_ownership.branch_id" [(ngModel)]="migrating_ownership.location_id"
            [compareWith]="compareFn" class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let l of im_locations" [value]="l.id">{{l.name}}</option>
          </select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="ownership_description">Descrição</label>
        <textarea class="form-control" id="ownership_description" [(ngModel)]="migrating_ownership.description" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-2">
        <label for="ownership_date">Início</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <input class="form-control text-center" placeholder="dd/mm/aaaa" [(ngModel)]="migrating_ownership['tmp_date']"
            id="ownership_end_date" name="ownership_date" autocomplete="off" ngbDatepicker #niDueDateDate="ngbDatepicker"
            (ngModelChange)="loadIncidentsWithoutOwnership()" />
          <div class="input-group-addon" (click)="niDueDateDate.toggle()">
            <i class="ft-calendar" style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <ngb-timepicker [spinners]="false" (ngModelChange)="loadIncidentsWithoutOwnership($event)" [(ngModel)]="migrating_ownership['tmp_time']
          "></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="ownership_end_date">Data de fim</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <input class="form-control text-center" placeholder="dd/mm/aaaa" [(ngModel)]="migrating_ownership['tmp_end_date']"
            id="ownership_end_date" name="ownership_end_date" autocomplete="off" ngbDatepicker #niDueDateDate="ngbDatepicker"
            (ngModelChange)="loadIncidentsWithoutOwnership()" />
          <div class="input-group-addon" (click)="niDueDateDate.toggle()">
            <i class="ft-calendar" style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <ngb-timepicker [spinners]="false" (ngModelChange)="loadIncidentsWithoutOwnership($event)" [(ngModel)]="migrating_ownership['tmp_end_time']
          "></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pl-3 ">
        <div *ngFor="let iwo of incidents_without_ownership">
          <div class="row">
            <div class="col-12 pl-3">
              <label class="option_container">
                {{ iwo.abrev }} <span *ngIf="iwo.title">- {{ iwo.title }}</span> - {{ iwo.person }}
                <input type="checkbox" [checked]="iwo['should_migrate']" (change)="iwo['should_migrate'] = !iwo['should_migrate']" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="saving">
    <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
  </div>
  <div class="modal-footer" *ngIf="!saving">
    <button type="button" class="btn btn-success" (click)="migrate_ownership(d);">
      <i class="icon-check"></i>
      Migrar
    </button>
    <button type="button" class="btn btn-silver" (click)="d('cancel ownersihip migration!');">
      <i class="icon-action-undo"></i>
      Cancelar
    </button>
  </div>
</ng-template>
