<float-action-center [branch]="current_branch"></float-action-center>

<div class="row">
	<div class="col-12">		
		<div class="card">
			<div class="card-header" style="background-color:white;width:100%;padding:10px">
				<diary-header panel="members"></diary-header>
				
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-xl-6 col-lg-6 col-md-12">								
								<h6 style="margin:0;margin-top:5px;margin-bottom:5px;font-weight:bold;color:black;cursor:pointer;border-bottom:1px dotted silver;" 
								*ngIf="!show_change_branch"
								(click)="show_change_branch = !show_change_branch">									
									{{ current_branch_name }}
								</h6>
								<div class="form-group">
									<select id="branch" 
										[(ngModel)]="current_branch" 
										(ngModelChange)="branchSelected($event)"									
										*ngIf="show_change_branch"
										class="form-control"
										style="width:100%"
										>			
										<option value="0">Todos os Núcleos</option>			
										<option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
									</select>
								</div>
							</div>	
							<div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-12">
								<diary-change-view initial_display="current"></diary-change-view>	
							</div>																				
						</div>						
					</div>					
				</div>
			</div>
			<div class="card-body">	
				<div class="row">
					<div class="col-12">
						<current-activities></current-activities>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>