<div class="card card-block">
  <div class="card-title">
    <div class="row">
      <div class="col-12 col-md-8">
          <h4
          (click)="show_incident_details(ownership)"
          style="cursor:pointer" *ngIf="ownership.end_date">
          <i class="fas fa-angle-right" style="color:blue" *ngIf="ownership.started_on && !ownership.closed"></i>
          <i class="fas fa-angle-right" style="color:blue" *ngIf="ownership.started_on && !ownership.closed"></i>
          <i class="fas fa-angle-right" style="color:blue" *ngIf="ownership.started_on && !ownership.closed"></i>
          {{ ownership.date | date: 'HH:mm' }} - {{ ownership.end_date | date: 'HH:mm' }}: {{ ownership.person_name }}
        </h4>
      </div>
      <div class="col-12 col-md-4 text-right">
          <button type="button"
          class="btn btn-silver btn-sm btn-action"
          title="Iniciar Titularidade"
          *ngIf="!ownership.closed && !ownership.started_on"
          (click)="start_incident(ownership);">
              <i class="fas fa-play"></i>
          </button>
      </div>
    </div>
  </div>
  <div class="card-text" *ngIf="true">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row" style="border-bottom: 1px solid black;">
          <div class="col-10">
            <h6 style="font-weight:bold;margin-bottom:0"> Ações </h6>
          </div>
          <div class="col-2 text-right">
            <button type="button" class="btn btn-silver btn-sm" style="margin:0;padding:2px;line-height:10px">
              <i class="ft-plus"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            Nenhuma ação adicionada
          </div>
        </div>
        <incident-comment-list [incident]="ownership"></incident-comment-list>
      </div>
      <div class="col-12 col-md-6">
        <div class="row" style="border-bottom: 1px solid black;">
          <div class="col-10">
            <h6 style="font-weight:bold;margin-bottom:0"> Atividades </h6>
          </div>
          <div class="col-2 text-right">
            <button type="button" class="btn btn-silver btn-sm" (click)="open_new_activity_modal();" style="margin:0;padding:2px;line-height:10px">
              <i class="ft-plus"></i>
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let type of incidents | groupBy: ['abrev', 'incident_type'] | keys">
          <div class="col-12">
            <h5 style="margin:0">
              {{ type.split("|")[0] }}
            </h5>
            <div class="row" *ngFor="let incident of incidents | filterBy : ['incident_type'] : type.split('|')[1], let k = index, let j = last">
              <div class="col-12 pl-3" [style.border-bottom]="j ? null : '1px solid #efefef'" style="margin:5px">
                <incident-agenda-listitem [showIncidentType]="false" [branch]="current_branch" [incident]="incident">
                </incident-agenda-listitem>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
