<div class="col-12 d-none d-xl-block pl-1">  
	<span *ngIf="person.comunication_status == 1 && !hideCommunicationStatus" 			
		(click)="begin_person_comunication_treatment()"
		style="cursor:pointer">												
			<i class="fas fa-bullhorn"
			style="color:red"></i>
	</span>                               
	<span *ngIf="person.scheduling_status > 0 && !hideScheduleStatus"
		(click)="begin_person_schedule_treatment()"
		[title]="person.scheduling_description"
		style="cursor:pointer">
			<i class="ft-calendar" 
			style="color:red"></i>
	</span>
	<span *ngIf="person.financial_status > 0 && !hideFinancialStatus"
		(click)="begin_person_financial_treatment()"
		[title]="person.financial_description"
		style="cursor:pointer"
	>
			<i class="icon-wallet" 
			style="color:red"													
			[title]="person.financial_description"></i>
	</span>
	<span *ngIf="person.data_status == 1" 
		[title]="person.data_status_description"
		(click)="begin_person_data_treatment()"
		style="cursor:pointer">												
			<i class="fas fa-user"
			style="color:red"></i>
	</span>		
	<span *ngIf="person.has_birthday_this_month">
		&#160;
		<i  class="icon-present"
			[style.color]="'silver'"					
			title="Aniversariante do mês">
		</i>
	</span>
</div>
<div class="col-12 d-block d-xl-none" style="line-height:10px">  
	<span *ngIf="person.comunication_status == 1 && !hideCommunicationStatus" 
		style="cursor:pointer"			
		(click)="begin_person_comunication_treatment()"
		style="cursor:pointer">												
			<i class="fas fa-user"
			style="color:red"></i>
	</span>                               
	<span *ngIf="person.scheduling_status > 0 && !hideScheduleStatus"
		(click)="begin_person_schedule_treatment()"
		[title]="person.scheduling_description"
		style="cursor:pointer">
			<i class="ft-calendar" 
			style="color:red"></i>
	</span>
	<span *ngIf="person.financial_status > 0 && !hideFinancialStatus"
	(click)="begin_person_financial_treatment()"
	[title]="person.financial_description"
	style="cursor:pointer">
			<i class="icon-wallet" 
			style="color:red"></i>
	</span>
	<span *ngIf="person.data_status == 1" 
		[title]="person.data_status_description"	
		(click)="begin_person_data_treatment()"
		style="cursor:pointer">												
			<i class="fas fa-user"
			style="color:red"></i>
	</span>		
	<span *ngIf="person.has_birthday_this_month">
		&#160;
		<i  class="icon-present"
			[style.color]="'silver'"					
			title="Aniversariante do mês">
		</i>
	</span>
</div>