<div class="row" *ngIf="showHeader"
    style="border-bottom: 1px solid black;" >
    <div class="col-10">        
        <h6 style="font-weight:bold;margin-bottom:0"> <i class="far fa-address-book"></i> Contatos </h6>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-silver btn-sm" 
            style="margin:0;padding:2px;line-height:10px"
            (click)="open(new_contact_modal);">
            <i class="ft-plus"></i>                                        
            <i class="far fa-address-book"></i>
        </button>
    </div>
</div>

<div class="row" *ngIf="!contacts || contacts.length == 0">
    <div class="col-12 text-center">
        Nenhum contato encontrado
    </div>
</div>
<div class="row" *ngFor="let ct of contacts">
    <div class="col-10" style="color:black">           
        <contact-listitem [contact]="ct"></contact-listitem>        
    </div>
    <div class="col-2 text-right" *ngIf="showDelete">
        <button type="button" class="btn btn-silver btn-sm" 
            style="margin:0;padding:2px;line-height:10px"			                                        
            *ngIf="!ct.remove_contact"
            (click)="ct.remove_contact = true">
            <i class="ft-trash-2"></i>                                        
        </button>                                    
        <button type="button" class="btn btn-danger btn-sm" 
            *ngIf="ct.remove_contact"
            style="margin:0;padding:2px;line-height:10px"			                                        
            (click)="remove_contact(ct)">
            <i class="ft-trash-2"></i>                                        
        </button>
        <button type="button" class="btn btn-secondary btn-sm" 
            *ngIf="ct.remove_contact"
            style="margin:0;padding:2px;line-height:10px"			                                        
            (click)="ct.remove_contact = false">
            <i class="icon-action-undo"></i>                                        
        </button>                                    
    </div>
    <div class="col-11 offset-1" style="font-style:italic" 
        *ngIf="ct.details && ct.show_details">
        {{ ct.details }}
    </div>
</div>

<ng-template #new_contact_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Adicionar Contato
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">		
        <new-contact-form
            [person]="person"
            [afterSave]="d"
            [cancelAction]="d">
            </new-contact-form>       
    </div>
</ng-template>