<div class="row" *ngIf="showHeader"
    style="border-bottom: 1px solid black;" >
    <div class="col-10">        
        <h6 style="font-weight:bold;margin-bottom:0"> Relacionamentos </h6>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-silver btn-sm" 
            style="margin:0;padding:2px;line-height:10px"
            (click)="open(new_indication_modal);">
            <i class="ft-plus"></i>               
        </button>
    </div>
</div>

<div class="row" *ngIf="!items || items.length == 0">
    <div class="col-12 text-center">
        Nenhum Relacionamento encontrado
    </div>    
</div>

<div class="row" *ngFor="let item of items">    
    <div class="col-12" >
        {{ item.relationship_type.masculine_treatment }}        
        <a
            style="cursor:pointer;color:gray"
            (click)="navigateToPerson(item.parent_person.id)"
            *ngIf="navigateToRelationship">
            {{ item.parent_person.name }}
        </a>           
        <ng-template [ngIf]="!navigateToRelationship">
            {{ item.parent_person.name }}        
        </ng-template>
    </div>  
</div>

<ng-template #new_indication_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Novo Relacionamento
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">	        
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="new_indication_name">Nome</label>
                    <input class="form-control" style="width:100%" 
                        placeholder="Nome da pessoa convidada"
                        name="new_indication_name" 
                        (ngModelChange)="validate_new_indication()"
                        (keyup)="validate_new_indication()"
                        (keypress)="validate_new_indication()"
                        (keydown)="validate_new_indication()"
                        [(ngModel)]="new_indication.name" />
                </div>
            </div>
        </div>        
        <div class="form-group">
            <label for="new_indication_operator">Operador Responsável</label>
            <select id="new_indication_operator" 
                [(ngModel)]="new_indication.operator_id" 
                (ngModelChange)="validate_new_indication()"																	
                class="form-control"								
                >			
                <option></option>			
                <option *ngFor="let o of operators" [value]="o.id">{{o.name}}</option>
            </select>								
        </div>        
        <div class="row">
            <div class="col-12">                
                <div class="form-group">
                    <label for="new_indication_comment">Comentários Gerais</label>
                    <textarea class="form-control" 
                    name="new_indication_comment" id="new_indication_comment"                    
                    [(ngModel)]="new_indication.comment"		
                    rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!new_indication.valid">
            <div class="col-12 text-danger">
                <ul>
                    <li style="line-height:1.2em" *ngFor="let error of errors">{{ error }}</li>
                </ul>                    
            </div>
        </div>   
    </div>	  
    <div class="modal-footer" *ngIf="saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving">
        <div class="form-actions text-right">
            <button type="button" class="btn btn-success" 
                (click)="save_new_indication(d('indication created!'));"
                *ngIf="new_indication.valid">
                <i class="icon-check"></i>
                Salvar
            </button>
            <button type="button" class="btn btn-silver"                 
                (click)="d('cancel')">
                <i class="icon-action-undo"></i>
                Cancelar
            </button>	
        </div>
    </div>
</ng-template>