<style>
    .label-member-data {
        padding-top:5px;
    }
</style>

<section id="person-profile" *ngIf="person">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding:1%">
                    <div class="row">
                        <div class="col-1 p-0 d-none d-md-block" *ngIf="person.avatar_img && person.avatar_img.length > 0">
                            <div class="text-center">                                
                                <img alt="{{ person.name }}"
                                    class="img-border" 
                                    src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
                                    style="min-width:50px;width:100%;" 
                                    *ngIf="person.avatar_img && person.avatar_img.length > 0" />	                                                                    
                            </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <h3 style="font-weight:bold" class="d-block d-sm-none">
                                                {{ person.name }}
                                                <button type="button"                                 
                                                    [routerLink]="['/people/person/edit', id]"
                                                    style="margin-bottom:0;padding:0 3px;display:inline-block !important"
                                                    class="btn btn-primary btn-dm"
                                                    title="Alterar pessoa"                                                                    
                                                    >			
                                                    <i class="icon-pencil"></i>		                                                                                					                                                    
                                                </button> 

                                                <person-status-line
                                                style="display:inline-block;padding-left:5px;"
                                                [person]="person">                                                
                                                </person-status-line>  

                                                                                                   
                                            </h3>
                                            <h3 style="font-weight:bold" class="d-none d-sm-block">
                                                {{ person.name }}
                                                <person-status-line
                                                style="display:inline-block;padding-left:10px;font-size:0.6em"
                                                [person]="person">
                                                </person-status-line>                                            
                                            </h3>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row" *ngIf="person.is_disciple && (person.kf_name_ideograms || person.kf_name_ideograms )">
                                <div class="col-12">
                                    <div>                                        
                                        <h4>
                                            {{ person.kf_name }} - {{ person.kf_name_ideograms }}
                                        </h4>                                                                                                                        
                                    </div>                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="birth_date">Nascimento</label> 
                                    <span id="birth_date" 
                                        [ngStyle]="{ 'color': !person.birth_date ? 'red' : null }">
                                        {{ person.birth_date_br || 'Não definido'  }}                                    
                                        <span *ngIf="person.age">({{ person.age }})</span>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="identification">Identidade</label> 
                                    <span id="identification" 
                                        [ngStyle]="{ 'color': !person.identification ? 'red' : null }">
                                        {{ person.identification || 'Não definido'  }}                                                                            
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="identification2">CPF</label> 
                                    <span id="identification2" 
                                        [ngStyle]="{ 'color': !person.identification2 ? 'red' : null }">
                                        {{ person.identification2 || 'Não definido'  }}                                                                            
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="identification2">Profissão</label> 
                                    <span id="identification2" 
                                        [ngStyle]="{ 'color': !person.occupation ? 'red' : null }">
                                        {{ person.occupation || 'Não definido'  }}                                                                            
                                    </span>
                                </div>
                            </div>
                            <div class="row" *ngIf="person.passport">
                                <div class="col-12 col-sm-6 col-md-3 pt-2">
                                    <label for="passport">Passaporte</label> 
                                    <span id="passport">
                                        {{ person.passport  }}                                                                            
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 pt-2">
                                    <label for="passport_expiration_date">Validade</label> 
                                    <span id="passport_expiration_date">
                                        {{ person.passport_expiration_date_br  }}                                                                            
                                    </span>
                                </div>
                            </div>                           
                        </div>
                        <div class="col-3 d-none d-sm-block">
                            <div class="row">
                                <div class="col-12  text-right">
                                    <button type="button"                                 
                                        [routerLink]="['/people/person/edit', id]"
                                        class="btn btn-primary btn-lg"
                                        title="Alterar pessoa"                                                                    
                                        >			
                                        <i class="icon-pencil"></i>		                                
                                        Alterar											
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px;padding-bottom:15px;">
                        <div class="col-12">
                            <b>Papéis:</b>
                            <ng-template ngFor let-person_role [ngForOf]="current_roles" let-pri=index let-m=first>                                
                                <span *ngIf="pri > 0">,</span>
                                <a (click)="person_role.removing = true"
                                    [ngStyle]="{'font-weight': person_role.removing ? 'bold' : null, 
                                            'border-bottom': person_role.removing ? '1px dotted #000' : null }">
                                    {{ person_role.name }}
                                </a>
                                <button type="button" 
                                    (click)="remove_role(person_role.id)"
                                    class="btn btn-fab btn-danger btn-sm ft-trash-2"
                                    title="Confirmar Remoção de Papel"                                    
                                    style="margin-left:5px"
                                    *ngIf="person_role.removing"
                                    >										                                    			
                                </button>
                                <button type="button" 
                                    (click)="person_role.removing = false"
                                    class="btn btn-fab btn-sm icon-action-undo"
                                    title="Cancelar Remoção"
                                    style="margin-left:5px"
                                    *ngIf="person_role.removing"
                                    >																
                                </button>
                            </ng-template>																
                            
                            <span *ngIf="!current_roles || current_roles.length == 0">Nenhum papel definido</span>
                            <button
                                (click)="open_add_role(new_role_modal)"
                                class="btn btn-fab btn-sm btn-silver"
                                title="Adicionar Papel"   
                                style="margin-left:10px;padding:0 3px;margin:0;line-height:10px"                             
                                >
                                <i class="ft-plus"></i>                                        
                                <i class="ft-user"></i>																
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 pr-3">
                            <div class="row">
                                <div class="col-12"
                                style="margin-bottom:30px"
                                *ngIf="person.is_active_member || person.is_disciple || person.is_leaving || person.is_inactive_member">
                                    <div class="row" style="border-bottom: 1px solid black;">
                                        <div class="col-12">
                                            <h6 style="font-weight:bold;margin-bottom:6px"> Membro </h6>
                                        </div>
                                    </div>
                                    <div class="row">                                
                                        <div class="col-3">
                                            <label for="branch"
                                            class="label-member-data">Núcleo</label> 
                                            <span id="branch"
                                                *ngIf="person.branch_abrev">
                                                {{ person.branch_abrev.replace("Núcleo", '') }}                                    
                                            </span>
                                            <span id="branch"
                                                *ngIf="!person.branch_abrev"
                                                style="color:red">
                                                Não definido
                                            </span>                            
                                        </div>  
                                        <div class="col-6 col-sm-3">
                                            <label for="program"
                                            class="label-member-data">Programa</label> 
                                            <span id="program"
                                                *ngIf="person.program_name">
                                                {{ person.program_name.replace("Programa", '') }}                                    
                                            </span>
                                            <span id="branch"
                                                *ngIf="!person.program_name"
                                                style="color:red">
                                                Não definido
                                            </span>
                                        </div>
                                        <div class="col-12 col-sm-5">
                                            <label for="domain" *ngIf="person.program_id == 3"
                                            class="label-member-data">
                                                Domínio
                                            </label> 
                                            <label for="domain" *ngIf="person.program_id != 3"
                                            class="label-member-data">
                                                Nível
                                            </label> 
                                            <span id="domain" 
                                                [ngStyle]="{ 'color': !person.domain_name ? 'red' : null }">
                                                {{ person.domain_name || 'Não definido'  }}                                    
                                            </span>
                                        </div>
                                    </div>                                      
                                    <div class="row" *ngIf="person.family_name && person.family_name.length > 0 ">
                                        <div class="col-6 col-sm-3">
                                            <label for="family" class="label-member-data">Família</label> 
                                            <span id="family" *ngIf="person.family_name && person.family_name.length > 0 ">
                                                {{ person.family_name }}                                    
                                            </span>       
                                            <span id="family" style="color:red" *ngIf="!person.family_name || person.family_name.length <=0 ">
                                                Não definida
                                            </span>                                    
                                        </div>  
                                        <div class="col-6 col-sm-3">
                                            <label for="admission_date" class="label-member-data">Admissão</label> 
                                            <span id="admission_date"
                                                [ngStyle]="{ 'color': !person.admission_date ? 'red' : null }">
                                                {{ person.admission_date_br || 'Não definida'  }}                                    
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!person.family_name || person.family_name.length == 0 ">
                                        <div class="col-6 col-sm-3">
                                            <label for="family" class="label-member-data">Família de Destino</label> 
                                            <span id="family" *ngIf="person.destiny_family_name && person.destiny_family_name.length > 0 ">
                                                {{ person.destiny_family_name }}                                    
                                            </span>       
                                            <span id="family" style="color:red" *ngIf="!person.destiny_family_name || person.destiny_family_name.length <=0 ">
                                                Não definida
                                            </span>                                    
                                        </div>  
                                        <div class="col-6 col-sm-3">
                                            <label for="enrollment_date" class="label-member-data">Matrícula</label> 
                                            <span id="enrollment_date"
                                                [ngStyle]="{ 'color': !person.enrollment_date_br ? 'red' : null }">
                                                {{ person.enrollment_date_br || 'Não definida'  }}                                    
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5" *ngIf="person.is_disciple">
                                            <label for="baaisi_date" class="label-member-data">Baai Si</label> 
                                            <span id="baaisi_date" 
                                                [ngStyle]="{ 'color': !person.baaisi_date ? 'red' : null }">
                                                {{ person.baaisi_date_br || 'Não definido'  }}                                    
                                            </span>
                                        </div>   
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">    
                                <div class="col-12" 
                                style="margin-bottom:30px">
                                    <person-comment-list                                    
                                    [person]="person">                                
                                    </person-comment-list>
                                </div>                                                            
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-xl-6 pr-3">
                            <div class="row">
                                <div class="col-12 col-xl-12 col-md-6" style="margin-bottom:30px;">
                                    <person-contact-list                                    
                                    [person]="person">                                
                                    </person-contact-list>
                                </div>                     
                                <div class="col-12 col-xl-12 col-md-6"  style="margin-bottom:30px;">
                                    <div class="row" style="border-bottom: 1px solid black">
                                        <div class="col-10 col-xl-10 col-sm-9">
                                            <h6 style="padding:0;margin:0;font-weight:bold"><i class="ft-calendar"></i> Agendamento </h6>
                                        </div>
                                        <div class="col-2 col-sm-3 col-xl-2 text-right">
                                            <button type="button" class="btn btn-silver btn-sm" 
                                                style="margin:0;padding:2px;line-height:10px"
                                                (click)="open_schedule_modal(new_schedule_modal);">
                                                <i class="ft-plus"></i>                                        
                                                <i class="ft-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="row" *ngIf="!current_scheduling || current_scheduling.length == 0">
                                        <div class="col-12 text-center">
                                            Nenhum agendamento encontrado
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let ps of current_scheduling">
                                        <div class="col-9 d-block d-lg-none">
                                            {{ ps.type_description.substring(0, 3) }} - 
                                            {{ ps.recurrence_description }}
                                            <span *ngIf="ps.recurrence_type == 4">
                                                - Dia {{ ps.month_day }}
                                            </span>
                                            <span *ngIf="ps.recurrence_type == 2 || ps.recurrence_type == 3">
                                                - {{ ps.week_day_description + " " + ps.start_hour + ":" + ps.start_minute }}
                                            </span>
                                            <span *ngIf="ps.value > 0n">
                                                - {{ ps.value }}
                                            </span>
                                        </div>
                                        <div class="col-3  d-none d-lg-block">
                                            {{ ps.type_description }}
                                        </div>
                                        <div class="col-6 d-none d-lg-block">
                                            {{ ps.recurrence_description }}
                                            <span *ngIf="ps.recurrence_type == 4">
                                                - Dia {{ ps.month_day }}
                                            </span>
                                            <span *ngIf="ps.recurrence_type == 2 || ps.recurrence_type == 3">
                                                - {{ ps.week_day_description + " " + ps.start_hour + ":" + ('00' + ps.start_minute ).slice(-2) }}
                                            </span>
                                            <span *ngIf="ps.value > 0n">
                                                - {{ ps.value }}
                                            </span>
                                        </div>
                                        <div class="col-2 col-sm-3 col-xl-2 text-right">
                                            <button type="button" class="btn btn-silver btn-sm" 
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                *ngIf="!ps.begin_remove"
                                                (click)="begin_remove_schedule(ps);">
                                                <i class="ft-trash-2"></i>                                        
                                            </button>                                    
                                            <button type="button" class="btn btn-danger btn-sm" 
                                                *ngIf="ps.begin_remove"
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                (click)="remove_schedule(ps);">
                                                <i class="ft-trash-2"></i>                                        
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" 
                                                *ngIf="ps.begin_remove"
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                (click)="rollback_remove_schedule(ps);">
                                                <i class="icon-action-undo"></i>                                        
                                            </button>                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-md-6" style="margin-bottom:30px;">
                                    <div class="row" style="border-bottom: 1px solid black">
                                        <div class="col-10 col-xl-10 col-sm-9">
                                            <h6 style="padding:0;margin:0;font-weight:bold"><i class="fas fa-map-marker"></i> Endereços </h6>
                                        </div>
                                        <div class="col-2 col-sm-3 col-xl-2 text-right">
                                            <button type="button" class="btn btn-silver btn-sm" 
                                                style="margin:0;padding:2px;line-height:10px"
                                                (click)="open_address_modal(new_address_modal);">
                                                <i class="ft-plus"></i>                                        
                                                <i class="fas fa-map-marker"></i>
                                            </button>
                                        </div>                                        
                                    </div>
                                    <div class="row" *ngIf="!addresses || addresses.length == 0">
                                        <div class="col-12 text-center">
                                            Nenhum endereço encontrado
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let ad of addresses">
                                        <div class="col-9">
                                            {{ ad.long_description }}
                                        </div>
                                        <div class="col-2 col-sm-3 col-xl-2 text-right">
                                            <button type="button" class="btn btn-silver btn-sm" 
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                *ngIf="!ad.removing"
                                                (click)="ad.removing = true">
                                                <i class="ft-trash-2"></i>                                        
                                            </button>                                    
                                            <button type="button" class="btn btn-danger btn-sm" 
                                                *ngIf="ad.removing"
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                (click)="remove_address(ad);">
                                                <i class="ft-trash-2"></i>                                        
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" 
                                                *ngIf="ad.removing"
                                                style="margin:0;padding:2px;line-height:10px"			                                        
                                                (click)="ad.removing = false">
                                                <i class="icon-action-undo"></i>                                        
                                            </button>                                    
                                        </div>
                                    </div>
                                </div>                                                                        
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>        
</section>


<ng-template #new_role_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Adicionar Papel
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">		
        <select id="branch" 
            [(ngModel)]="new_role" 
            class="form-control"                        
            >						
            <option *ngFor="let r of available_roles" [value]="r.id">{{r.name}}</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" 
            (click)="add_role();d('add role!');"
            *ngIf="new_role">
            <i class="icon-check"></i>
            Adicionar
        </button>        
        <button type="button" class="btn btn-silver" 			            
            (click)="d('Cancelled')">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>        
    </div>
</ng-template>

<ng-template #new_schedule_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Novo Agendamento</h5>
        <button type="button" class="close" aria-label="Close" (click)="reset_new_schedule();d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="new_schedule">			
        <div class="form-body">			
            <div class="row">
                <div class="col-12">
                    <fieldset class="form-group">						
                        <label for="new_schedule_branch"                             
                            style="font-weight: bold">
                            Núcleo
                        </label>		
                        <div class="form-group">
                            <select id="new_schedule_branch" 
                                [(ngModel)]="new_schedule.branch_id" 
                                (ngModelChange)="validate_new_schedule()"																	
                                class="form-control"								
                                >			
                                <option></option>			
                                <option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
                            </select>								
                        </div>
                        <label for="new_schedule_tmp_type" style="font-weight: bold">Tipo de Atividade</label>																		
                        <span *ngIf="new_schedule.tmp_type != null">
                            {{ new_schedule.tmp_type.name }}
                            <span *ngIf="new_schedule.children_type != null">
                                - {{ new_schedule.children_type.name }}
                            </span>							

                            <i class="ft-rotate-ccw" 
                                (click)="reset_new_schedule_type();"
                                style="cursor: pointer;">
                            </i>							
                        </span>						
                        <select id="new_schedule_tmp_type"
                            class="form-control" 
                            [(ngModel)]="new_schedule.tmp_combo_type" 	
                            (ngModelChange)="change_new_schedule_type($event)"
                            *ngIf="new_schedule.tmp_type == null"
                            style="width:100%"
                            >		
                            <option></option>
                            <option *ngFor="let t of manual_incident_types" [value]="t.id">{{t.name}}</option>
                        </select>
                        <select id="new_schedule_children_type" 
                            [(ngModel)]="new_schedule.children_type" 
                            class="form-control" 
                            (ngModelChange)="change_new_schedule_children_type($event)"																								
                            *ngIf="new_schedule.tmp_type != null && new_schedule.children_type == null && new_schedule.tmp_type.childrens != null"
                            style="width:100%"
                            >						
                            <option *ngFor="let t of new_schedule.tmp_type.childrens" [value]="t.id">{{t.name}}</option>
                        </select>						
                    </fieldset>                                
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="new_schedule_recurrence_types" style="font-weight: bold">Recorrência</label>
                </div>
                <div class="col-6">
                    <label for="new_schedule_number_of_incidents" style="font-weight: bold">Número de Eventos</label>
                </div>
            </div>            
            <div class="row">				
                <div class="col-6">
                    <div class="form-group">													
                        <select id="new_schedule_recurrence_types" 
                            [(ngModel)]="new_schedule.recurrence_type" 
                            (ngModelChange)="validate_new_schedule()"																	
                            class="form-control"								
                            >			
                            <option></option>			
                            <option *ngFor="let r of recurrence_types" [value]="r.id">{{r.description}}</option>
                        </select>	
                    </div>
                </div>
                <div class="col-6">					
                    <input type="number" id="new_schedule_number_of_incidents" 
                        [(ngModel)]="new_schedule.number_of_incidents"							
                        class="form-control text-right"
                        (ngModelChange) ="validate_new_schedule()" 						
                        />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="new_schedule_start_date" style="font-weight: bold">Data de Início</label>
                </div>
            </div>            
            <div class="row">				
                <div class="col-6">
                    <div class="form-group">													
                        <div class="input-group">							
                            <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                            [(ngModel)]="new_schedule.start_date_tmp" id="new_schedule_start_date"
                            (ngModelChange) ="validate_new_schedule()"
                            ngbDatepicker #niReschedule="ngbDatepicker" />
                            <div class="input-group-addon" (click)="niReschedule.toggle()">
                                <i class="ft-calendar" style="cursor: pointer;"></i>
                            </div>																																
                        </div>	
                        
                    </div>
                </div>
                <div class="col-6">					
                    <ngb-timepicker [spinners]="false" 
                        [(ngModel)]="new_schedule.time"
                        (ngModelChange) ="validate_new_schedule()"></ngb-timepicker>					
                </div>
            </div>                         

            <div class="row" *ngIf="new_schedule.type != null">
                <div class="col-12">
                    <label for="new_schedule_description" style="font-weight: bold">Descrição</label>								
                    <textarea class="form-control"
                    id="new_schedule_description"
                    [(ngModel)]="new_schedule.description"							
                    (ngModelChange) ="validate_new_schedule()" 		
                    rows="3"></textarea>
                </div>
            </div>			
            <div class="row" *ngIf="new_schedule.type != null && new_schedule.type.need_value">
                <div class="col-12">
                    <label for="new_schedule_value" style="font-weight: bold">Valor</label>								
                    <input type="number" id="new_schedule_value" 
                        [(ngModel)]="new_schedule.value"							
                        class="form-control text-right"
                        (ngModelChange) ="validate_new_schedule_value()" 						
                        />                    
                </div>
            </div>
        </div>			
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-success" 
            (click)="save_schedule();d('new schedule!');"
            *ngIf="new_schedule.correct">
            <i class="icon-check"></i>
            Agendar
        </button>															
        <button type="button" class="btn btn-silver" 
            (click)="reset_new_schedule();d('reset new new_schedule!');"
            >
            <i class="icon-action-undo"></i>
            Cancelar
        </button>	
    </div>
</ng-template>

<ng-template #new_address_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Novo Endereço</h5>
        <button type="button" class="close" aria-label="Close" (click)="reset_new_schedule();d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="new_address">			
        <div class="form-body">			
            <div class="row">
                <div class="col-12">
                    <fieldset class="form-group">						
                        <label for="new_address_country"                             
                            style="font-weight: bold">
                            Páis
                        </label>		
                        <div class="form-group">
                            <select id="new_address_country" 
                                [(ngModel)]="new_address.country_id"       
                                (ngModelChange)="validate_new_address()"																	                          
                                class="form-control">			                                
                                <option *ngFor="let c of countries" [value]="c.id">{{c.name}}</option>
                            </select>								
                        </div>                        
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="new_address_state">Estado</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="new_address.state"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    id="new_address_state"
                                    maxlength="100"
                                    name="new_address_state"/>                                    
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="new_address_city">Cidade</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="new_address.city"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    maxlength="100"
                                    id="new_address_city"
                                    name="new_address_city"/>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-6">
                                <label for="new_address_postal_code">CEP</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control text-center"
                                    [(ngModel)]="new_address.postal_code"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    maxlength="30"
                                    id="new_address_postal_code"
                                    name="new_address_postal_code"/>                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="new_address_district">Bairro</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="new_address.district"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    maxlength="30"
                                    id="new_address_district"
                                    name="new_address_district"/>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="new_address_street">Rua</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="new_address.street"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    id="new_address_street"
                                    maxlength="200"
                                    name="new_address_street"/>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="new_address_number">Número</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control text-center"
                                    [(ngModel)]="new_address.number"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    id="new_address_number"
                                    maxlength="30"
                                    name="new_address_number"/>                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="new_address_complement">Complemento</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="new_address.complement"
                                    (ngModelChange)="validate_new_address()"
                                    autocomplete="off"
                                    id="new_address_complement"
                                    maxlength="50"
                                    name="new_address_complement"/>                                    
                                </div>
                            </div>
                        </div>                        
                    </fieldset>                                
                </div>
            </div>
            <div class="row" *ngIf="!new_address.correct">
                <div class="col-12 text-danger">
                    <ul>
                        <li style="line-height:1.2em" *ngFor="let error of new_address.errors">{{ error }}</li>
                    </ul>                    
                </div>
            </div>  
        </div>			
    </div>
    <div class="modal-footer" *ngIf="new_address.saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!new_address.saving">
        <button type="button" 
            class="btn btn-success" 
            (click)="save_address();d('new schedule!');"
            *ngIf="new_address.correct">
            <i class="icon-check"></i>
            Salvar
        </button>															
        <button type="button" class="btn btn-silver" 
            (click)="d('reset new new_schedule!');"
            >
            <i class="icon-action-undo"></i>
            Cancelar
        </button>	
    </div>
</ng-template>