
<section id="person-profile" *ngIf="person">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <div class="align-self-center halfway-fab text-center">
                                <a class="profile-image">                                    
                                    <img src="assets/img/portrait/avatars/avatar-08.png" 
                                    class="rounded-circle img-border gradient-summer width-100" 
                                    alt="Card image"
                                    *ngIf="!person.avatar_img || person.avatar_img.length <= 0"/>
                                
                                    <img alt="{{ person.name }}"
                                        class="rounded-circle img-border " 
                                        src="https://myvtmiim.blob.core.windows.net/avatars/{{ person.avatar_img }}" 											
                                        style="min-width:50px;width:100%;" 
                                        *ngIf="person.avatar_img && person.avatar_img.length > 0" />	
                                </a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <h3 style="font-weight:bold">{{ person.name }}</h3>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="person.is_disciple">
                                    <a (click)="begin_change_kf_name()"
                                        *ngIf="!editing_kf_name">
                                        <h5>{{ person.kf_name || 'Nome Kung Fu' }}</h5>
                                    </a>
                                    <div *ngIf="editing_kf_name">
                                        <span class="input-group">                                            									
                                            <input type="text" class='form-control'                                                
                                                [(ngModel)]="person.new_kf_name"/>																								
                                            <span class="input-group-btn">
                                                <button type="button" 
                                                    id="btn_next_week"
                                                    (click)="save_kf_name()"											
                                                    class="btn btn-success btn-raised btn-fab btn-sm fa fa-check"
                                                    >									
                                                </button>
                                                <button type="button" 
                                                    id="btn_next_week"
                                                    (click)="cancel_kf_name()"											
                                                    class="btn btn-secundary btn-raised btn-fab btn-sm fa fa-times"
                                                    >									
                                                </button>
                                            </span>
                                        </span>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2">
                            <b>Papéis:</b>
                            <ng-template ngFor let-person_role [ngForOf]="person.roles" let-pri=index let-m=first>                                
                                <span *ngIf="pri > 0">,</span>
                                <a (click)="remove_role(person_role.role_id)">
                                    {{ person_role.role }}
                                </a>
                            </ng-template>																
                            
                            <span *ngIf="!person.roles || person.roles.length == 0">Nenhum papel definido</span>
                            <button type="button" 
                                (click)="open(new_role_modal)"
                                class="btn btn-secundary btn-raised btn-sm ft-plus"
                                title="Registrar Atividade"
                                style="margin-left:10px"
                                >																
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>


<ng-template #new_role_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">
            Adicionar Papel
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">		
        <select id="branch" 
            [(ngModel)]="new_role"                         
            >						
            <option *ngFor="let r of person.possible_roles" [value]="r.id">{{r.name}}</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-raised" 
            (click)="add_role();d('add role!');"
            *ngIf="new_role">
            Adicionar
        </button>        
        <button type="button" class="btn btn-grey btn-raised" 			            
            (click)="d('Cancelled')">
            Cancelar
        </button>        
    </div>
</ng-template>