

<style>
	.current {
		background-color: #eeeeee
	}
	.current2 {
		background-color: #dddddd
	}	
</style>
				

<div class="row">
	<div class="col-12">		
		<div class="card">
			<div class="card-header" class="sticky-top" style="background-color:white;width:100%;padding:10px">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-6">
								<h4 class="card-title">
									Sumário de Atividades
								</h4>
								<h6 style="margin:0;margin-top:5px;margin-bottom:5px;font-weight:bold;color:black;cursor:pointer" 
								*ngIf="!show_change_branch"
								(click)="show_change_branch = !show_change_branch">									
									{{ current_branch_name }}
								</h6>
								<select id="branch" 
									[(ngModel)]="current_branch" 
									(ngModelChange)="branchSelected($event)"									
									*ngIf="show_change_branch"
									>						
									<option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
								</select>	
								<span *ngIf="show_change_branch"
									style="cursor:pointer" 
									(click)="show_change_branch = !show_change_branch">
									x
								</span>
							</div>																					
						</div>						
					</div>					
				</div>
			</div>
			<div class="card-body">						
				<div class="row">
					<div class="col-10">
						<table class="table-sm table-striped table-bordered table-hover"															
						style="margin-bottom:50px;width:100%">															
							<tr style="background-color: #AAA;color:white;">						
								<td width="18%" align="center" rowspan="2">
									<b>Sumário do Núcleo</b>
								</td>
								<td colspan="5" width="25%">
									<div class="form-group" style="padding-top:12px;margin:0">													
										<div class="input-group">							
											<input class="form-control" 
											placeholder="yyyy-mm-dd" 											
											[(ngModel)]="current_date"
											(ngModelChange) ="change_date($event)" 
											style="text-align: center"
											ngbDatepicker #niReschedule="ngbDatepicker" />
											<div class="input-group-addon" (click)="niReschedule.toggle()">
												<i class="fa fa-calendar" style="cursor: pointer;"></i>
											</div>																																
										</div>							
									</div>
								</td>
								<td colspan="5" width="25%">
									<span class="input-group" style="margin:0">
										<span class="input-group-btn">
											<button type="button" 
												(click)="change_week(-1)"
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-left">									
											</button>
										</span>											
										<input type="text" class='form-control text-center'
											style="background-color: white"
											value="{{ current_week_text }}" readonly="readonly"/>																								
										<span class="input-group-btn">
											<button type="button" 
												id="btn_next_week"
												(click)="change_week(1)"											
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-right"
												>									
											</button>
										</span>
									</span>
								</td>
								<td colspan="5" width="25%">
									<span class="input-group" style="margin:0">
										<span class="input-group-btn">
											<button type="button" 
												(click)="change_month(-1)"
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-left">									
											</button>
										</span>											
										<input type="text" class='form-control text-center'
											style="background-color: white"
											value="{{ current_month_text }}" readonly="readonly"/>																								
										<span class="input-group-btn">
											<button type="button" 
												id="btn_next_month"
												(click)="change_month(1)"											
												class="btn btn-success btn-raised btn-fab btn-sm ft-chevrons-right"
												>									
											</button>
										</span>
									</span>
								</td>
							</tr>
							<tr style="background-color: #AAA;color:white;">								
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-check"
										title="Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-times"
										title="Não Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-check-circle"
										title="Tratados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-calendar"
										title="Agendados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-zap"
										title="Inesperados">
									</i>
								</td>	
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-check"
										title="Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-times"
										title="Não Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-check-circle"
										title="Tratados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-calendar"
										title="Agendados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-zap"
										title="Inesperados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-check"
										title="Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="fa fa-times"
										title="Não Concluídos">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-check-circle"
										title="Tratados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-calendar"
										title="Agendados">
									</i>
								</td>
								<td width="3.5%" align="center">
									<i  												
										class="ft-zap"
										title="Inesperados">
									</i>
								</td>								
							</tr>
							<tr *ngFor="let acs of sumary, let asi = index">
								<td style="border-left:1px solid gray; border-right:1px solid gray" 
								[ngStyle]="{ 'border-bottom': acs.close_group ? '1px solid gray' : null }">
									{{ acs.name }}
								</td>
								<td *ngFor="let s of acs.cols, let si = index"
								style="text-align:center"
								[ngStyle]="{ 'border-bottom': acs.close_group ? '1px solid gray' : null,
												'border-right':  (si + 1) % 5 == 0 ? '1px solid gray' : null }">
									{{ s }}
								</td>								
							</tr>
						</table>
					</div>					
					<div class="col-1">
						<table class="table-sm table-striped table-bordered"															
							style="margin-bottom:50px;width:100%">								
							<tr>						
								<td *ngFor="let c of members_sumary_cols, let k3 = index" 
									align="center" 									
									[ngStyle]="{ 'width': c.width, 'color': 'white',
												'background-color': '#AAA' }"
									[colSpan]="c.colspan || 1"
								>
								<div>										
									<i  												
										[ngClass]="c.icon"
										*ngIf="c.icon != null"
										[title]="c.description">
									</i>
									<b>{{ c.name }}</b>
								</div>
								</td>
							</tr>
							<tr *ngFor="let s of members_sumary, let si = index" >
								<td>
									{{ s.program }}
								</td>
								<td>
									{{ ('00' + s.people ).slice(-2)  }}
								</td>
								<td>
									<span 									
									[style.font-weight]="s.scheduling > 0 ? 'bold' : 'normal'"
									[style.color]="s.scheduling > 0 ? 'red' : ''">
										{{ ('00' + s.scheduling ).slice(-2)  }} 											
									</span>
								</td>
								<td>
									<span 									
									[style.font-weight]="s.financial > 0 ? 'bold' : 'normal'"
									[style.color]="s.financial > 0 ? 'red' : ''">
										{{ ('00' + s.financial ).slice(-2)  }} 											
									</span>
								</td>
								<td>
									<span 									
									[style.font-weight]="s.comunications > 0 ? 'bold' : 'normal'"
									[style.color]="s.comunications > 0 ? 'red' : ''">
										{{ ('00' + s.comunications ).slice(-2)  }} 											
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>	
			</div>
		</div>		
	</div>
</div>