@import "../../../../assets/customizations.scss";

markdown p {
    margin-bottom:0 !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.action_title {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.2em;
  color: #111111;
}

.action_description {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1em;
  color: #666666;
}

.action_title .checkmark {
  margin-top: 0.25em;
}

.action_row {
  margin-bottom: 0.3em;
  border-bottom: 1px solid #eeeeee;
}

.comment {
  font-style: italic;
  line-height: 0.8em;
  font-size: 0.7em;
}
