<table class="table-sm table-striped table-bordered"
    style="margin-bottom:50px;width:100%">
    <tr>
        <td *ngFor="let c of people_summary_cols, let k3 = index"
            align="center"
            [ngStyle]="{ 'width': c.width, 'color': 'white',
                        'background-color': '#AAA' }"
            [colSpan]="c.colspan || 1"
        >
        <div>
            <i
                [ngClass]="c.icon"
                *ngIf="c.icon != null"
                [title]="c.description">
            </i>
            <b>{{ c.name }}</b>
        </div>
        </td>
    </tr>
    <tr *ngFor="let s of people_summary, let si = index" >
        <td>
            {{ s.program }}
        </td>
        <td>
            {{ ('00' + s.people ).slice(-2)  }}
        </td>
        <td>
            <a
            [routerLink]="['/people/members/management', branch || 0, 4, s.program_id || 0, 0]"
            [style.font-weight]="s.scheduling > 0 ? 'bold' : 'normal'"
            [style.color]="s.scheduling > 0 ? 'red' : ''"
            *ngIf="s.scheduling > 0">
                {{ ('00' + s.scheduling ).slice(-2)  }}
            </a>
            <span *ngIf="s.scheduling == 0">00</span>
        </td>
        <td>
            <a
            [routerLink]="['/people/members/management', branch || 0, 3, s.program_id || 0, 0]"
            [style.font-weight]="s.financial > 0 ? 'bold' : 'normal'"
            [style.color]="s.financial > 0 ? 'red' : ''"
            *ngIf="s.financial > 0">
                {{ ('00' + s.financial ).slice(-2)  }}
            </a>
            <span *ngIf="s.financial == 0">00</span>
        </td>
        <td>
            <a
            [routerLink]="['/people/members/management', branch || 0, 5, s.program_id || 0, 0]"
            [style.font-weight]="s.comunications > 0 ? 'bold' : 'normal'"
            [style.color]="s.comunications > 0 ? 'red' : ''"
            *ngIf="s.comunications > 0">
                {{ ('00' + s.comunications ).slice(-2)  }}
            </a>
            <span *ngIf="s.comunications == 0">00</span>
        </td>
    </tr>
</table>