@import "../../../../../assets/customizations.scss";
    
.organization {
    margin-bottom: 10px;
}

.organization .header {
    text-align: center;
    background-color: grey;
    font-weight: bold;
    color: white;
}

.organization .header .title {    
    font-size: 1.3em;
}

.header .header-controls {
    float:right;
}

.header .header-controls a {    
    margin-right:10px;
}

.organization .body .table {
    border:1px solid silver
}


