<div class="organization" *ngIf="organization">
	<div class="header">
		<a
		class="title white"
		[routerLink]="['/organizations/detail', organization.id]">
			{{ organization.title }}
		</a>

		<div class="header-controls">
			<a (click)="add_task(organization)"
			class="white"			
			title="Adicionar Tarefa">
			<i class="ft-plus"></i>
			<i class="fas fa-tasks"></i>
			</a>			

			<a (click)="add_project(organization)"
				class="white"
				title="Adicionar Projeto">
				<i class="ft-plus"></i>
				<i class="fas fa-columns"></i>
			</a>

			<a [routerLink]="['/organizations/config', organization.id]"
				class="white"				
				title="Configurações">
				<i class="fas fa-cog"></i>
			</a>                            
		</div>

	</div>  
	<div class="body">
		<div class="row">
			<div class="col-12">
				<table class="table table-striped table-sm">					
					<colgroup>
						<col style="width:25%;"/>
						<col style="width:75%;border-left:1px solid silver"/>
					</colgroup>
					<tbody>
						<tr *ngFor="let p of organization.people">
							<td							
							[style.padding-left]="((p.position - 1)*15) + 'px'">
								<operator-card [person]="p"></operator-card>
							</td>
							<td>
								<compact-card [card]="ch"
								*ngFor="let ch of organization.childrens | leaderedProjects: p"
								></compact-card>								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>                  
</div>
