<style>
	.current {
		background-color: #eeeeee
	}
	.current2 {
		background-color: #dddddd
	}		
</style>
			
<div class="sticky-top" style="bottom:10px;z-index:10000">
	<div style="position:absolute;float:right;right:10px;" class="d-block d-md-none">
		<button type="button" 
			(click)="open(new_activity, null)"
			class="btn btn-silver ft-plus"
			title="Registrar Atividade"
			style="margin-left:10px"
			>																
		</button>
	</div>
</div>			
<div class="row">
	<div class="col-12">						
		<div class="card">			
			<div style="background-color:white;width:100%;padding:10px">
				<div class="row">
					<div class="col-12">
						<div class="row">							
							<div class="col-12 col-xl-6 col-lg-6 col-md-12">
								<h4 class="card-title d-none d-md-block">
									Diário de Praticantes 																																
								</h4>
								<h6 style="margin:0;margin-top:5px;margin-bottom:5px;font-weight:bold;color:black;cursor:pointer;border-bottom:1px dotted silver;" 
								*ngIf="!show_change_branch"
								(click)="show_change_branch = !show_change_branch">									
									{{ current_branch_name }}
								</h6>
								<div class="form-group">
									<select id="branch" 
										[(ngModel)]="current_branch" 
										(ngModelChange)="branchSelected($event)"									
										*ngIf="show_change_branch"
										class="form-control"
										style="width:90%"
										>			
										<option value="0">Todos os Núcleos</option>			
										<option *ngFor="let b of branches" [value]="b.id">{{b.name}}</option>
									</select>	
									<!-- span *ngIf="show_change_branch"
										style="cursor:pointer" 
										class="input-group-btn"
										(click)="show_change_branch = !show_change_branch">
										<button class="btn btn-silver" type="button">
											<i class="icon-action-undo"></i>
										</button>
									</span -->
								</div>
							</div>
							<div class="col-12 col-xl-2 col-lg-2 col-md-4">
								<daily-change-view initial_display="day"></daily-change-view>	
							</div>
							<div class="col-12 col-xl-3 col-lg-3 col-md-6">
								<span class="input-group">
									<span class="input-group-btn">
										<button type="button" 
											(click)="change_week(-1)"
											class="btn btn-silver btn-fab btn-sm ft-chevrons-left">									
										</button>
									</span>											
									<input type="text" class='form-control text-center'
										style="background-color: white"
										[value]="selected_week ? selected_week.range : ''" readonly="readonly"/>																								
									<span class="input-group-btn">
										<button type="button" 
											id="btn_next_week"
											(click)="change_week(1)"											
											class="btn btn-silver btn-fab btn-sm ft-chevrons-right"
											>									
										</button>
									</span>
								</span>			
							</div>
							<div class="col-1" class="d-none d-md-block">
								<button type="button" 
									(click)="open(new_activity, null)"
									class="btn btn-silver ft-plus"
									title="Registrar Atividade"
									style="margin-left:10px"
									>																
								</button>
							</div>																			
						</div>						
					</div>					
				</div>
			</div>
			<div class="card-body">	
				<div class="row  d-block d-lg-none">					
					<div class="col-12">							
						<div >
								<table class="table-sm table-striped table-bordered"															
								style="margin-bottom:50px;width:100%">								
								<tr>						
									<td *ngFor="let c of people_summary_cols, let k3 = index" 
										align="center" 									
										[ngStyle]="{ 'width': c.width, 'color': 'white',
													'background-color': '#AAA' }"
										[colSpan]="c.colspan || 1"
									>
									<div>										
										<i  												
											[ngClass]="c.icon"
											*ngIf="c.icon != null"
											[title]="c.description">
										</i>
										<b>{{ c.name }}</b>
									</div>
									</td>
								</tr>
								<tr *ngFor="let s of people_summary, let si = index" >
									<td>
										{{ s.program }}
									</td>
									<td>
										{{ ('00' + s.people ).slice(-2)  }}
									</td>
									<td>
										<span 									
										[style.font-weight]="s.scheduling > 0 ? 'bold' : 'normal'"
										[style.color]="s.scheduling > 0 ? 'red' : ''">
											{{ ('00' + s.scheduling ).slice(-2)  }} 											
										</span>
									</td>
									<td>
										<span 									
										[style.font-weight]="s.financial > 0 ? 'bold' : 'normal'"
										[style.color]="s.financial > 0 ? 'red' : ''">
											{{ ('00' + s.financial ).slice(-2)  }} 											
										</span>
									</td>
									<td>
										<span 									
										[style.font-weight]="s.comunications > 0 ? 'bold' : 'normal'"
										[style.color]="s.comunications > 0 ? 'red' : ''">
											{{ ('00' + s.comunications ).slice(-2)  }} 											
										</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">					
					<div class="col-12 col-lg-9" style="border-right:1px solid #ddd;padding-right:1%">
						<table style="width:100%;">
							<tr *ngFor="let d of domains, let k5 = index">
								<td>																																		
									<table class="table-sm table-striped table-bordered table-hover"															
										style="margin-bottom:50px;width:100%">
										<tr>
											<td colspan="11"
												style="font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center"
												[ngStyle]="{ 'background-color': d.program_id == 3 ? '#690b01' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)') }">
												{{ d.program }} - {{ d.long_name }}
											</td>
										</tr>								
										<tr>						
											<td *ngFor="let c of cols, let k3 = index" 
												align="center" 
												[ngStyle]="{ 'width': c.width, 
															'background-color': selected_week.current && k3 == current_week_day + 4 ? 
																d.program_id == 3 ? '#9b0e04' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)')
																: d.program_id == 3 ? '#810c02' : (d.program_id == 2 ? 'rgb(54, 63, 167)' : 'rgb(8, 82, 1)'), 
															'color': 'white' }"
												[colSpan]="c.colspan || 1"
												>	

												<div>
													<span *ngIf="k3 == 0" style="font-weight:bold">
														{{ d.number_of_members }} 
														Membro<span *ngIf="d.number_of_members > 1">s</span> 
														Ativo<span *ngIf="d.number_of_members > 1">s</span>
													</span>
													<i  												
														[ngClass]="c.icon"
														*ngIf="c.icon != null"
														[title]="c.description">
													</i>													
													<span class="d-none d-md-block">
														{{ c.name }} 
													</span>	
													<span class="d-block d-md-none" *ngIf="c.name">
														{{ c.name.substring(0,5) }} 
													</span>
												</div>									
											</td>
										</tr>
										<tr *ngFor="let person of d.daily, let k4 = index">
											<td>
												<person-card [person]="person"></person-card>																																												
											</td>	
											<td valign="middle" align="center" 										
												*ngFor="let item of person.dates, let k2 = index" 
												style="border-right:1px solid grey"
												[ngClass]=" selected_week.current && k2 == current_week_day ? (k4 % 2 == 0 ? 'current2' : 'current') : '' ">																	

												<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
													<compact-incident-listitem
														(incident_treatment_action)="open(content, $event)"
														[incident]="i"
													></compact-incident-listitem>																															
												</ng-template>																	

											</td>																		
										</tr>
									</table>	
							</td>
						</tr>
						</table>	

						<table class="table-sm table-striped table-bordered" 
							*ngIf="external_people != null && external_people.length > 0" 
							style="width:100%;margin-bottom:50px">
							<tr>
								<td colspan="9"
									style="background-color:gray;font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center">
									Público Externo
								</td>
							</tr>								
							<tr>		
								<td style="width:24.5%;background-color: gray"></td>				
								<td style="width:9%;background-color: gray">

								</td>
								<td *ngFor="let c of week_days, let k3 = index" 							
									style="width:9.5%;text-align: center"
									[ngStyle]="{'background-color': selected_week.current && k3 == current_week_day ? 'rgb(100,100,100)': 'gray', 
												'color': 'white' }"							
									>																				
									<div>								
										<i  												
											[ngClass]="c.icon"
											*ngIf="c.icon != null"
											[title]="c.description">
										</i>
										{{ c.name }} 
									</div>									
								</td>						
							</tr>
							<tr *ngFor="let visitant of external_people, let ke = index">					
								<td>
									<div class="row">
										<div class="col-2" style="padding:0;padding-left:5px">
											<img
											class="rounded-circle img-border " 
											src="https://myvtmiim.blob.core.windows.net/avatars/{{ visitant.avatar_img }}" 											
											style="min-width:50px;width:100%;" 
											*ngIf="visitant.avatar_img && visitant.avatar_img.length > 0">	
										</div>								
										<div class="col-10"  style="padding:0;padding-left:2px">
											<div class="row">
												<div class="col-12">											
													<a 
													style="color:black"
													[routerLink]="['/person', visitant.person_id]">
														{{ visitant.name }}														
													</a>
												</div>
											</div>
											<div class="row" style="font-size:10px;">
												<div class="col-12">
													{{ visitant.kf_name }}											
												</div>
											</div>
										</div>	
									</div>
								</td>
								<td>
									
								</td>						
								<td valign="middle" align="center" 										
									*ngFor="let item of visitant.dates, let k2 = index" 
									style="border-right:1px solid grey"
									[ngClass]=" selected_week.current && k2 == current_week_day ? (ke % 2 == 0 ? 'current2' : 'current') : '' ">

									<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
										<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
											<compact-incident-listitem
												(incident_treatment_action)="open(content, $event)"
												[incident]="i"
											></compact-incident-listitem>																															
										</ng-template>																															
									</ng-template>

								</td>
							</tr>
						</table>
					</div>										
					<div class="col-3 d-none d-lg-block">							
						<div >
							<table class="table-sm table-striped table-bordered"															
								style="margin-bottom:50px;width:100%">								
								<tr>						
									<td *ngFor="let c of people_summary_cols, let k3 = index" 
										align="center" 									
										[ngStyle]="{ 'width': c.width, 'color': 'white',
													'background-color': '#AAA' }"
										[colSpan]="c.colspan || 1"
									>
									<div>										
										<i  												
											[ngClass]="c.icon"
											*ngIf="c.icon != null"
											[title]="c.description">
										</i>
										<b>{{ c.name }}</b>
									</div>
									</td>
								</tr>
								<tr *ngFor="let s of people_summary, let si = index" >
									<td>
										{{ s.program }}
									</td>
									<td>
										{{ ('00' + s.people ).slice(-2)  }}
									</td>
									<td>
										<span 									
										[style.font-weight]="s.scheduling > 0 ? 'bold' : 'normal'"
										[style.color]="s.scheduling > 0 ? 'red' : ''">
											{{ ('00' + s.scheduling ).slice(-2)  }} 											
										</span>
									</td>
									<td>
										<span 									
										[style.font-weight]="s.financial > 0 ? 'bold' : 'normal'"
										[style.color]="s.financial > 0 ? 'red' : ''">
											{{ ('00' + s.financial ).slice(-2)  }} 											
										</span>
									</td>
									<td>
										<span 									
										[style.font-weight]="s.comunications > 0 ? 'bold' : 'normal'"
										[style.color]="s.comunications > 0 ? 'red' : ''">
											{{ ('00' + s.comunications ).slice(-2)  }} 											
										</span>
									</td>
								</tr>
							</table>
						</div>
					</div>						
				</div>				
			</div>
		</div>		
	</div>
</div>

<ng-template #new_activity let-c="close" let-d="dismiss">
	<new-incident-modal [d]="d" [branches]="branches"
		[current_branch]="current_branch"		
		[incident_types]="manual_incident_types"	
		[personService]="personService"
		[incidentService]="incidentService"		
	></new-incident-modal>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<incident-treatment-modal
		[incident]="current_incident"
		[personService]="personService"
		[incidentService]="incidentService"
		[d]="d"	
	></incident-treatment-modal>
</ng-template>