<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row" style="width:100%">
      <div class="col-8">
        <h5 class="modal-title" style="font-weight: bold">
          <a style="color:#666" [routerLink]="['/people/person', current_incident.person_id]" target="_blank">
            {{ current_incident.long_description }}
          </a>
        </h5>
      </div>
      <div class="col-4 pr-0 text-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <form class="form" #f="ngForm">
      <div class="row" *ngIf="person">
        <div class="col-12">
          <person-card [person]="person">
          </person-card>
        </div>
      </div>
      <div class="row" *ngIf="person">
        <div class="col-12">
          <person-incident-history-list 
          [person]="person" [current]="current_incident"
          [start_date]="history_start_date" [end_date]="history_end_date" [activity_type]="current_incident.activity_type"></person-incident-history-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pb-3">
          <div class="row" style="border-bottom: 1px solid black">
            <div class="col-10 col-xl-10 col-sm-9">
              <h6 style="padding:0;margin:0;font-weight:bold">Comentários </h6>
            </div>
            <div class="col-2 col-sm-3 col-xl-2 text-right">
              <button type="button" class="btn btn-silver btn-sm" title="Registrar Comentário" style="margin:0;padding:3px;line-height:10px"
                (click)="add_comment();">
                <i class="ft-plus"></i>
                <i class="far fa-sticky-note"></i>
              </button>
            </div>
          </div>
          <div class="row" *ngFor="let cm of comments">
            <div class="col-12 pl-3">
              <div class="row" style="border-bottom:1px solid silver;">
                <div class="col-10" style="color:black;">
                  <div class="row">
                    <div class="col-12">
                      <markdown [data]="cm.comment" style="margin-bottom:0 !important"></markdown>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right pr-0" style="font-style: italic;line-height:10px;font-size:10px">
                      {{ cm.responsible }} - {{ cm.created_date_br }} {{ cm.created_hour_br }}
                    </div>
                  </div>
                </div>
                <div class="col-2 text-right pl-0">
                  <button type="button" class="btn btn-silver btn-sm" style="margin: 0; padding:2px; line-height:10px" *ngIf="!cm.archive"
                    (click)="cm.archive = true">
                    <i class="fas fa-archive"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" *ngIf="cm.archive" style="margin:0;padding:2px;line-height:10px" (click)="archive_comment(cm)">
                    <i class="fas fa-archive"></i>
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" *ngIf="cm.archive" style="margin:0;padding:2px;line-height:10px" (click)="cm.archive = false">
                    <i class="icon-action-undo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="current_incident.card_id > 0" style="margin-bottom:15px;">
        <div class="col-12">
          <label>Referente à: </label>
          <a style="color:black" (click)="d('go to projetct')" [routerLink]="['/organizations/projects', current_incident.card_parent_id]">
            {{ current_incident.card_parent }}
          </a>
          -
          <a (click)="open_card_detail(current_incident.card_id)">
            {{ current_incident.card_title}}
          </a>
          <button type="button" class="btn btn-silver btn-sm" style="margin:0;padding:2px;line-height:10px" *ngIf="current_incident.card_comment_count > 0">

            {{ current_incident.card_comment_count }}

            <i class="far fa-sticky-note"></i>
          </button>
        </div>
      </div>
      <div class="row" *ngIf="current_incident.title">
        <div class="col-12">
          <markdown [data]="current_incident.title"></markdown>
        </div>
      </div>
      <div class="row" *ngIf="current_incident.treatment_text">
        <div class="col-12">
          <markdown [data]="current_incident.treatment_text"></markdown>
        </div>
      </div>
      <div class="row" *ngIf="current_incident.close_text">
        <div class="col-12">
          <div style="font-size:10px;font-weight:bold;line-height:10px;font-style:italic">Fechamento:</div>
          <markdown [data]="current_incident.close_text"></markdown>
        </div>
      </div>
      <div class="row" *ngIf="current_incident.new_schedule_date">
        <div class="col-12">
          <b>Reagendado para: </b>{{ current_incident.new_schedule_small_date }} {{ current_incident.new_schedule_hour }}
        </div>
      </div>
      <div class="row" *ngIf="current_incident.started_on_hour && !current_incident.treated">
        <div class="col-2">
          <b>Inicio: </b>
        </div>
        <div class="col-2 pl-3" *ngIf="current_incident.closed_on_hour">
          {{ current_incident.started_on_hour }}
        </div>
        <div class="col-4" *ngIf="!current_incident.closed_on_hour">
          {{ current_incident.started_on_hour }}

          <i class="ft-trash-2" (click)="current_incident.cancelling_start = true" title="Cancelar inicio da atividade" *ngIf="!current_incident.closed_on_hour && !current_incident.cancelling_start"
            style="cursor: pointer;">
          </i>
          <i class="ft-rotate-ccw" title="Manter inicio da atividade" *ngIf="current_incident.cancelling_start" (click)="current_incident.cancelling_start = false"
            style="cursor: pointer;">
          </i>
          <i class="ft-trash-2" title="Confirmar cancelamento inicio da atividade" *ngIf="current_incident.cancelling_start" (click)="cancel_start_incident(current_incident, d);"
            style="cursor: pointer;color:red">
          </i>
        </div>
        <div class="col-1" *ngIf="current_incident.started_on_hour && current_incident.closed_on_hour">
          <b>Fim: </b>
        </div>
        <div class="col-3 pl-3" *ngIf="current_incident.started_on_hour && current_incident.closed_on_hour">
          {{ current_incident.closed_on_hour }}

          <i class="ft-trash-2" (click)="current_incident.reopen = true" title="Reabrir atividade" *ngIf="current_incident.closed_on_hour && !current_incident.reopen"
            style="cursor: pointer;">
          </i>
          <i class="ft-rotate-ccw" title="Manter atividade fechada" *ngIf="current_incident.reopen" (click)="current_incident.reopen = false"
            style="cursor: pointer;">
          </i>
          <i class="ft-trash-2" title="Confirmar reabertura de atividade" *ngIf="current_incident.reopen" (click)="reopen_incident(current_incident, d);"
            style="cursor: pointer;color:red">
          </i>
        </div>
      </div>

      <div class="row">
        <div class="col-12" *ngIf="!current_incident.in_treatment 
                                            && current_incident.need_description_for_closing
                                            && !current_incident.closed
                                            && !current_incident.treated
                                            && (!current_incident.need_to_be_started 
                                            || current_incident.started_on_hour)">
          <div class="row">

            
            <div class="col-12">
              <fieldset class="form-group">
                <textarea class="form-control" name="closing_contact_text" 
                [(ngModel)]="current_incident.close_text" 
                (ngModelChange)="validate_for_closing(current_incident)"
                rows="3" placeholder="Como foi?"></textarea>
              </fieldset>
              <span style="font-style: italic;color:red" *ngIf="current_incident.valid_for_closing != null 
                                            && current_incident.valid_for_closing != undefined
                                            && !current_incident.valid_for_closing">
                * Informe como foi a atividade para poder finaliza-la
              </span>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="!current_incident.in_treatment 
                                            && !current_incident.closed 
                                            && !current_incident.treated
                                            && current_incident.need_to_be_started 
                                            && !current_incident.started_on_hour">
          <h6 style="font-weight: bold">Iniciar?</h6>
          <button type="button" class="btn btn-success" (click)="start_incident(current_incident, d);">
            <i class="icon-clock"></i> Sim
          </button>
          <button type="button" class="btn btn-primary" (click)="begin_treat_incident(current_incident)">
            <i class="icon-ban"></i> Não
          </button>
        </div>
        <div class="col-12" *ngIf="!current_incident.in_treatment 
                                            && !current_incident.closed 
                                            && !current_incident.treated
                                            && (!current_incident.need_to_be_started 
                                            || current_incident.started_on_hour)">
          <h6 style="font-weight: bold" *ngIf="! current_incident.started_on_hour">Realizado?</h6>
          <h6 style="font-weight: bold" *ngIf="current_incident.started_on_hour">Finalizar?</h6>
          <button type="button" class="btn" [ngClass]="current_incident.valid_for_closing != null 
                                            && current_incident.valid_for_closing != undefined
                                            && !current_incident.valid_for_closing ? 
                                            'btn-secondary' : 'btn-success'" (click)="close_incident(current_incident, d);">
            <i class="icon-check"></i> Sim
          </button>
          <button type="button" class="btn btn-primary" (click)="begin_treat_incident(current_incident)">
            <i class="icon-ban"></i> Não
          </button>
        </div>
        <div class="col-12" *ngIf="current_incident.in_treatment">
          <div class="row">
            <div class="col-12">
              <h6 style="font-weight: bold">Contato</h6>
              <fieldset class="form-group">
                <textarea class="form-control" required minlength="4" name="contact_text" (ngModelChange)="validade_treatment_contact_text(current_incident)"
                  [(ngModel)]="current_incident.contact_text" rows="3" placeholder="O que vocês conversaram?"></textarea>
              </fieldset>
              <small class="form-text text-muted danger" *ngIf="current_incident.errors && current_incident.errors['need_contact_text']">
                Informe como foi o contato!
              </small>
            </div>
          </div>
          <div class="row" *ngIf="current_incident.reschedule">
            <div class="col-6">
              <h6 style="font-weight: bold">Reagendamento</h6>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control text-center" placeholder="dd/mm/aaaa" name="new_date" [(ngModel)]="current_incident.new_date"
                    ngbDatepicker #dpReschedule="ngbDatepicker" />
                  <div class="input-group-addon" (click)="dpReschedule.toggle()">
                    <i class="ft-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <ngb-timepicker [(ngModel)]="current_incident.new_time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="display:block">
    <div class="row">
      <div class="col-12 text-right">
        <div class="row">
          <div class="col-8" *ngIf="!current_incident.begin_remove && !current_incident.in_treatment && !current_incident.reschedule">
            <div class="row" *ngIf="current_incident.responsible_name || current_incident.created_on">
              <div class="col-12" style="font-style: italic">
                Reg.:{{ current_incident.responsible_name | slice:0:15 }} ({{ current_incident.created_on | date : 'dd/MM HH:mm' }})
              </div>
            </div>
            <div class="row" *ngIf="current_incident.started_by && current_incident.need_to_be_started">
              <div class="col-12" style="font-style: italic">
                Início: {{ current_incident.started_by | slice:0:15 }}
                <span *ngIf="current_incident.closed_by">
                  Fim: {{ current_incident.closed_by | slice:0:15 }}
                </span>
              </div>
            </div>
            <div class="row" *ngIf="(current_incident.closed_by || current_incident.treated_by || current_incident.closed_on) && !current_incident.need_to_be_started">
              <div class="col-12" style="font-style: italic">
                Fec.: {{ (current_incident.closed_by || current_incident.treated_by) | slice:0:15 }} ({{ (current_incident.closed_on || current_incident.treated_on
                ) | date : 'dd/MM HH:mm' }})
              </div>
            </div>
          </div>
          <div [ngClass]="current_incident.begin_remove || current_incident.in_treatment || current_incident.reschedule ? 'col-12' : 'col-4'">
            <button type="button" class="btn btn-success" (click)="register_contact_for_incident(current_incident, d);" *ngIf="current_incident.in_treatment && !current_incident.reschedule">
              <i class="far fa-envelope"></i>
              Registrar Contato
            </button>
            <button type="button" class="btn btn-primary" (click)="begin_reschedule_incident(current_incident)" *ngIf="current_incident.in_treatment && !current_incident.reschedule">
              <i class="ft-calendar"></i>
              Reagendar
            </button>
            <button type="button" class="btn btn-success" (click)="reschedule_incident(current_incident);d('reschedule!');" *ngIf="current_incident.in_treatment && current_incident.reschedule">
              <i class="ft-calendar"></i>
              Reagendar!
            </button>
            <button type="button" class="btn btn-silver" (click)="reset_treat_incident(current_incident);" *ngIf="current_incident.in_treatment && !current_incident.reschedule">
              <i class="icon-action-undo"></i>
              Voltar
            </button>
            <button type="button" class="btn btn-silver" (click)="reset_reschedule(current_incident);" *ngIf="current_incident.in_treatment && current_incident.reschedule">
              <i class="icon-action-undo"></i>
              Voltar
            </button>
            <button type="button" class="btn btn-silver" *ngIf="!current_incident.begin_remove && !current_incident.in_treatment && !current_incident.card_id"
              (click)="begin_remove_incident(current_incident);">
              <i class="ft-trash-2"></i>
              Excluir
            </button>
            <span *ngIf="current_incident.begin_remove">
              Confirma exclusão?
            </span>
            <button type="button" class="btn btn-danger" *ngIf="current_incident.begin_remove" (click)="remove_incident(current_incident);d('remove!');">
              <i class="ft-trash-2"></i>
              Excluir
            </button>
            <button type="button" class="btn btn-secondary" *ngIf="current_incident.begin_remove" (click)="rollback_remove_incident(current_incident);">
              <i class="icon-action-undo"></i>
              Não
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
