

<ng-template #card_edit_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="row" style="width:100%">
            <div class="col-8">
                <span *ngIf="card.is_task">Editar Tarefa</span>
                <span *ngIf="!card.is_task">Editar Projeto</span>
                <h5 class="modal-title" style="font-weight: bold">
                    {{  card.title }}
                </h5>   
            </div>
            <div class="col-4 pr-0 text-right">                                 
                <button type="button" class="close" aria-label="Close" (click)="cancel(d)">
                    <span aria-hidden="true">&times;</span>
                </button>                    
            </div>
        </div> 
    </div>
    <div class="modal-body">
        <div class="form-body">			
            <div class="row">
                <div class="col-12">                    
                    <fieldset class="form-group">	                        					                                                
                        <div class="row">
                            <div class="col-12">
                                <label for="card_title">Título</label>                                                									
                                <div class="input-group">							
                                    <input class="form-control"
                                    [(ngModel)]="card.title"
                                    (ngModelChange)="validate_edit_card()"
                                    autocomplete="off"
                                    id="card_title"
                                    name="card_title"/>                                    
                                </div>
                            </div>
                        </div>
                        <label for="card_operator"                             
                            style="font-weight: bold">
                            Local
                        </label>		
                        <div class="form-group">                            	
                            <select id="card_location" 
                                name="card_location"
                                class="form-control"
                                [(ngModel)]="card.locations[0]" 
                                [compareWith]="entity_compare"
                                (ngModelChange)="validate_edit_card()">			                                		
                                <option *ngFor="let l of locations" [ngValue]="l">{{ l.name }}</option>
                            </select>								                                    
                        </div>
                        <label for="card_operator"                             
                            style="font-weight: bold"
                            *ngIf="card.parent_id">
                            Responsável
                        </label>		
                        <div class="form-group">                            	
                            <select id="card_operator" 
                                name="card_operator"
                                class="form-control"
                                [(ngModel)]="card.leaders[0]" 
                                [compareWith]="entity_compare"
                                (ngModelChange)="validate_edit_card()">			                                
                                <option *ngFor="let op of operators" [ngValue]="op">{{ op.name }}</option>
                            </select>								                                    
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="card_due_date">Previsão</label>                                                									
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">                                
                                <div class="input-group">							
                                    <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                                    [(ngModel)]="card.due_date" 
                                    id="card_due_date"
                                    name="card_due_date"
                                    autocomplete="off"
                                    ngbDatepicker #niDueDateDate="ngbDatepicker" />
                                    <div class="input-group-addon" (click)="niDueDateDate.toggle()">
                                        <i class="ft-calendar" style="cursor: pointer;"></i>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-12 col-md-6">                                                                                									
                                <div class="input-group">							
                                    <ngb-timepicker [spinners]="false" [(ngModel)]="card.due_time"></ngb-timepicker>
                                </div>
                            </div>                          
                        </div>
                        <label for="card_description"                             
                            style="font-weight: bold">
                            Descrição
                        </label>		
                        <div class="form-group">
                            <textarea class="form-control"
                            id="card_description"
                            autocomplete="off"
                            [(ngModel)]="card.description" 		
                            rows="3"></textarea>								
                        </div>  
                    </fieldset>
                </div>
            </div>                            
        </div>                
    </div>                           
    <div class="modal-footer" *ngIf="saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving">
        <button class="btn btn-success" 
        style="margin-right:5px" type="button" 
        *ngIf="!begin_remove && !saving"
        (click)="update_card(d)"
        >
            <i class="icon-check"></i> Salvar
        </button>

        <button type="button" class="btn btn-silver" 
            style="margin-right:20px"			            
            *ngIf="!begin_remove"
            (click)="cancel(d)">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>
        
        <button type="button" class="btn btn-silver" 			
            *ngIf="!begin_remove && !card.is_task"
            (click)="begin_remove = true">
            <i class="fas fa-archive"></i>
            Arquivar
        </button>
        <span *ngIf="begin_remove">
            Confirma arquivamento?
        </span>
        <button type="button" class="btn btn-danger" 
            *ngIf="begin_remove && !card.is_task"
            (click)="archive_card(d);">
            <i class="fas fa-archive"></i>
            Arquivar!
        </button>
        <button type="button" class="btn btn-secondary" 
            *ngIf="begin_remove && !card.is_task"
            (click)="begin_remove = false">
            <i class="icon-action-undo"></i>
            Não
        </button>        
    </div>
</ng-template>