<div class="row">    
    <div class="col-12" 
        style="margin-bottom:30px">
        <div class="row" style="border-bottom: 1px solid black">
            <div class="col-10 col-xl-10 col-sm-9">
                <h6 style="padding:0;margin:0;font-weight:bold">Histórico </h6>
            </div>
            <div class="col-2 col-sm-3 col-xl-2 text-right">
                <button type="button" 			
                    class="btn btn-silver btn-sm"
                    title="Registrar Atividade"
                    style="margin:0;padding:3px;line-height:10px"
                    (click)="open_new_activity_modal();"
                    >						
                    <i class="ft-plus"></i> 	
                    <i class="far fa-calendar"></i>                                                    
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <select id="branch" 
                    [(ngModel)]="activity_type"                     
                    class="form-control"								
                >			
                <option [ngValue]="null">Todos</option>			
                <option [ngValue]="ActivityTypes.Trainning">Pratica</option>		
                <option [ngValue]="ActivityTypes.Contact">Contato</option>			
                <option [ngValue]="ActivityTypes.Financial">Financeiro</option>			                	
                <option [ngValue]="-1">Outros</option>			                	
                </select>								
            </div>
            <div class="col-4 pl-0 pr-0">
                <div class="form-group">													
                    <div class="input-group">							
                        <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                        [(ngModel)]="start_date" id="start_date"
                        ngbDatepicker #niStartDateReschedule="ngbDatepicker" />
                        <div class="input-group-addon" (click)="niStartDateReschedule.toggle()">
                            <i class="ft-calendar" style="cursor: pointer;"></i>
                        </div>																																
                    </div>	                    
                </div>
            </div>
            <div class="col-4 pl-0 pr-0">
                <div class="form-group">													
                    <div class="input-group">							
                        <input class="form-control text-center" placeholder="dd/mm/aaaa" 
                        [(ngModel)]="end_date" id="end_date"
                        ngbDatepicker #niEndDateReschedule="ngbDatepicker" />
                        <div class="input-group-addon" (click)="niEndDateReschedule.toggle()">
                            <i class="ft-calendar" style="cursor: pointer;"></i>
                        </div>																																
                    </div>	                    
                </div>
            </div>
            <div class="col-1  pl-1 pr-0">
                <button type="button" 			
                    class="btn btn-silver btn-sm"
                    title="Pesquisar"                    
                    (click)="load_items();"
                    >						                    
                    <i class="fas fa-search"></i>                                                    
                </button>
            </div>
        </div>
        <div class="row" *ngFor="let item of items"> 
            <div class="col-12">                                            
                <incident-agenda-listitem [incident]="item" [hideName]="true"
                [showCloseText]="true" [hideStatus]="true" [hideActions]="true"
                [showDate]="true" [forceCompact]="true"></incident-agenda-listitem>
            </div>
        </div>
    </div>                                
</div>