<div class="card">
    <div class="card-body" style="padding:10px;">
        <h4>Núcleos</h4>
        <table class="table table-hover table-striped" style="width:100%">            
            <thead>
                <th>Nome</th>
                <th style="text-align:center">Categoria</th>
                <th>Abreviação</th>
                <th style="text-align:center">Iniciais</th>
                <th width="30px"></th>                
            </thead>
            <tbody>
                <tr *ngFor="let item of collection">
                    <td class="cursor_pointer"
                    [routerLink]="['/parameters/branch', item.id]">
                        {{ item["name"] }}                        
                        <i *ngIf="!item['active']">(INATIVO)</i>
                    </td>
                    <td class="cursor_pointer text-center"
                    [routerLink]="['/parameters/branch', item.id]">
                        {{ item["category_abrev"] }}
                    </td>                    
                    <td class="cursor_pointer"
                    [routerLink]="['/parameters/branch', item.id]">
                        {{ item["abrev"] }}
                    </td>                    
                    <td class="cursor_pointer"
                    [routerLink]="['/parameters/branch', item.id]"
                    style="text-align:center">
                        {{ item["initials"] }}
                    </td> 
                    <td>
                        <a (click)="edit(form_modal, item)">
                            <i class="fas fa-edit cursor_pointer"></i>
                        </a>
                    </td>                   
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-silver"             
            (click)="open_new_form_branch(form_modal);">
            <i class="fas fa-plus-circle"></i>
            Novo
        </button>
    </div>
</div>


<ng-template #form_modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id > 0">
                Editar - {{ current_item.name }}
            </h5>
            <h5 class="modal-title" style="font-weight: bold" *ngIf="!current_item.id">
                Cadastrar Núcleo
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="current_item">		
            <div class="row">
                <div class="col-12">
                    <label for="item_name">Nome</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.name"                        
                        autocomplete="off"
                        maxlength="100"
                        id="item_name"                        
                        name="item_name"/>                                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="item_category">Categoria</label>                                                									
                    <div class="input-group">							
                        <select [(ngModel)]="current_item.category_id" 								                            
                            class="form-control form-control-sm"
                            *ngIf="!current_item.id"
                            [ngModelOptions]="{standalone: true}">			                                                        			                            
                            <option value="1">Núcleo da Gestão Integrada</option>
                            <option value="2">Unidade Externa</option>
                            <option value="3">Núcleo Externo</option>
                        </select> 
                        <span *ngIf="current_item.id > 0" style="padding-top:10px">
                            {{ current_item.category }}
                        </span>
                    </div>
                </div>                            
                <div class="col-3">
                    <label for="item_initials">Iniciais</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.initials"                        
                        autocomplete="off"
                        id="item_initials"
                        name="item_initials"/>                                    
                    </div>
                </div>
                <div class="col-3">
                    <label for="item_order">Ordem</label>                                                									
                    <div class="input-group">							
                        <input class="form-control text-center"
                        [(ngModel)]="current_item.order"                        
                        autocomplete="off"
                        maxlength="3"
                        type="number"
                        id="item_order"
                        name="item_order"/>                                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="item_abrev">Abreviação</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.abrev"                        
                        autocomplete="off"
                        maxlength="20"
                        id="item_abrev"
                        name="item_abrev"/>                                    
                    </div>
                </div>                
            </div>
            <div class="row" *ngIf="current_item.category_id == 3">
                <div class="col-12">
                    <label for="item_contact_phone">Telefone</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.contact_phone"                        
                        autocomplete="off"
                        maxlength="200"
                        id="item_contact_phone"
                        name="item_contact_phone"/>                                    
                    </div>
                </div>                
            </div>
            <div class="row" *ngIf="current_item.category_id == 3">
                <div class="col-12">
                    <label for="item_contact_email">Email</label>                                                									
                    <div class="input-group">							
                        <input class="form-control"
                        [(ngModel)]="current_item.contact_email"                        
                        autocomplete="off"
                        maxlength="200"
                        id="item_contact_email"
                        name="item_contact_email"/>                                    
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="option_container"> 
                        Ativo                       
                        <input type="checkbox"                         
                        [checked]="current_item.active" 
                        (change)="current_item.active = !current_item.active"
                        id="current_item_active" name="current_item_active"/>
                        <span class="checkmark"></span>
                    </label>
                </div>                
            </div>
        </div>
        <div class="modal-footer" *ngIf="saving">        
            <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
        </div>
        <div class="modal-footer" *ngIf="!saving">
            <button type="button" class="btn btn-success" 
                (click)="save(d);">
                <i class="icon-check"></i>
                Salvar
            </button>        
            <button type="button" class="btn btn-silver" 			            
                (click)="d('Cancelled')">
                <i class="icon-action-undo"></i>
                Cancelar
            </button>        
        </div>
    </ng-template>