<style>
	.current {
		background-color: #eeeeee
	}
	.current2 {
		background-color: #dddddd
	}	
	.incident_button {
		text-align: left;
		line-height: 12px;
		padding-left:5px;
	}
</style>
				
<div class="sticky-top" style="bottom:10px;z-index:100000">
	<div style="position:absolute;float:right;right:10px;" class="d-block d-md-none">
		<button type="button" 
			(click)="open(new_activity, null)"
			class="btn btn-silver ft-plus"
			title="Registrar Atividade"
			style="margin-left:10px"
			>																
		</button>
	</div>
</div>
<div class="row">
	<div class="col-12">		
		<div class="card">
			<div class="sticky-top" style="background-color:white;width:100%;padding:10px;z-index:10000">
				<div class="row">
					<div class="col-12">
						<diary-header panel="members"></diary-header>

						<div class="row">
							<div class="col-12 col-xl-6 col-lg-6 col-md-12">								
								<diary-change-branch
								[branch]="current_branch"
								(onChangeBranch)="branchSelected($event)"
								></diary-change-branch>								
							</div>	
							<div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-12">
								<diary-change-view initial_display="week"></diary-change-view>	
							</div>
							<div class="col-9 col-xl-3 col-lg-3 col-md-6">
								<span class="input-group">
									<span class="input-group-btn">
										<button type="button" 
											(click)="change_week(-1)"
											class="btn btn-silver btn-fab btn-sm ft-chevrons-left">									
										</button>
									</span>											
									<input type="text" class='form-control text-center'
										style="background-color: white"
										[value]="selected_week ? selected_week.range : ''" readonly="readonly"/>																								
									<span class="input-group-btn">
										<button type="button" 
											id="btn_next_week"
											(click)="change_week(1)"											
											class="btn btn-silver btn-fab btn-sm ft-chevrons-right"
											>									
										</button>
									</span>
								</span>			
							</div>
							<div class="col-1" style="padding-left:0">
								<button type="button" 
									(click)="open(new_activity, null)"
									class="btn btn-silver ft-plus"
									title="Registrar Atividade"
									style="margin-left:10px"
									>																
								</button>
							</div>														
						</div>						
					</div>					
				</div>
			</div>
			<div class="card-body">	
				<div class="row">					
					<div class="col-9 col-md-12 col-lg-9 d-none d-md-block" style="border-right:1px solid #ddd;padding-right:1%">
						<table style="width:100%;">
							<tr *ngFor="let d of domains, let k5 = index">
								<td>																																		
									<table class="table-sm table-striped table-bordered table-hover"															
										style="margin-bottom:50px;width:100%">
										<tr>
											<td colspan="11"
												style="font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center"
												[ngStyle]="{ 'background-color': d.program_id == 3 ? '#690b01' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)') }">
												{{ d.program }} - {{ d.long_name }}
											</td>
										</tr>								
										<tr>						
											<td *ngFor="let c of cols, let k3 = index" 
												align="center" 
												[ngStyle]="{ 'width': c.width, 
															'background-color': selected_week.current && k3 == current_week_day + 1 ? 
																d.program_id == 3 ? '#9b0e04' : (d.program_id == 2 ? 'rgb(38, 44, 122)' : 'rgb(5, 53, 1)')
																: d.program_id == 3 ? '#810c02' : (d.program_id == 2 ? 'rgb(54, 63, 167)' : 'rgb(8, 82, 1)'), 
															'color': 'white' }"
												[colSpan]="c.colspan || 1"
												>	

												<div>
													<span *ngIf="k3 == 0" style="font-weight:bold">
														{{ d.number_of_members }} 
														Membro<span *ngIf="d.number_of_members > 1">s</span> 
														Ativo<span *ngIf="d.number_of_members > 1">s</span>
													</span>
													<i  												
														[ngClass]="c.icon"
														*ngIf="c.icon != null"
														[title]="c.description">
													</i>
													<span class="d-none d-xl-block">
														{{ c.name }} 
													</span>	
													<span class="d-none d-md-block d-xl-none" *ngIf="c.name">
														{{ c.name.substring(0,5) }} 
													</span>													
												</div>									
											</td>
										</tr>
										<tr *ngFor="let person of d.daily, let k4 = index">
											<td>												
												<person-card 
													[person]="person"
													(onBeginPersonDataTreatment)="begin_person_data_treatment($event)">
												</person-card>																		
											</td>																			
											<td valign="middle" align="center" 										
												*ngFor="let item of person.dates, let k2 = index" 
												style="border-right:1px solid grey"
												[ngClass]=" selected_week.current && k2 == current_week_day ? (k4 % 2 == 0 ? 'current2' : 'current') : '' ">																	
												
												<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
													<compact-incident-listitem														
														[incident]="i"
													></compact-incident-listitem>																															
												</ng-template>																																																											
											</td>																		
										</tr>
									</table>	
							</td>
						</tr>
						</table>	

						<table class="table-sm table-striped table-bordered" 
							*ngIf="external_people != null && external_people.length > 0" 
							style="width:100%;margin-bottom:50px">
							<tr>
								<td colspan="9"
									style="background-color:gray;font-weight:bold;width:100%;color:white;margin:0;padding:5px;text-align:center">
									Público Externo
								</td>
							</tr>								
							<tr>		
								<td style="width:24.5%;background-color: gray"></td>				
								<td style="width:9%;background-color: gray">

								</td>
								<td *ngFor="let c of week_days, let k3 = index" 							
									style="width:9.5%;text-align: center"
									[ngStyle]="{'background-color': selected_week.current && k3 == current_week_day ? 'rgb(100,100,100)': 'gray', 
												'color': 'white' }"							
									>																				
									<div>								
										<i  												
											[ngClass]="c.icon"
											*ngIf="c.icon != null"
											[title]="c.description">
										</i>
										{{ c.name }} 
									</div>									
								</td>						
							</tr>
							<tr *ngFor="let visitant of external_people, let ke = index">					
								<td>									
									<person-card 
										[person]="visitant">
									</person-card>									
								</td>
								<td>
									
								</td>						
								<td valign="middle" align="center" 										
									*ngFor="let item of visitant.dates, let k2 = index" 
									style="border-right:1px solid grey"
									[ngClass]=" selected_week.current && k2 == current_week_day ? (ke % 2 == 0 ? 'current2' : 'current') : '' ">
									
									<ng-template ngFor let-i [ngForOf]="item" let-k=index let-m=first>																
										<compact-incident-listitem											
											[incident]="i"
										></compact-incident-listitem>																															
									</ng-template>																																								
								</td>
							</tr>
						</table>
					</div>
					<div class="col-12 col-md-12 col-lg-3 col-sm-12">
						
						<div class="sticky-top" style="top:60px; padding-right:10px;background-color:white">
							<lateral-summary 
								[branch]="current_branch"
								[week]="current_week">
							</lateral-summary>								
						</div>

						<current-activities [branch]="current_branch"> </current-activities>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

<ng-template #new_activity let-c="close" let-d="dismiss">
	<new-incident-modal [d]="d" [branches]="branches"
		[current_branch]="current_branch"		
		[incident_types]="manual_incident_types"			
	></new-incident-modal>
</ng-template>
