label {
    font-size:12px;
    line-height: 12px;
    font-weight: bold;
    display: block;
    color: gray;
    margin:0;
}

.btn-silver {
    background-color: #EEE;
    color:#BBB;
}

.btn-silver:hover {
    background-color: #DDD;
    color: #333;
}

.btn-success {
    color: white !important;
}

.btn-primary {
    color: white !important;
}

.btn-danger {
    color: white !important;
}

.form-body {
    overflow: unset;
}

.main-panel {
    overflow: visible !important;
}

form label {
    text-transform: unset;
    letter-spacing: 1px;
    font-size: 10px;
}

.input-group-addon {
    padding:8px;
}


