<ng-template #add_comment_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold">Adicionar Comentário</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">			        
        <textarea class="form-control"        
        [(ngModel)]="comment"							         		
        rows="3"></textarea>       
        [ {{ incident | json }} ]
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" 
            (click)="save_person_comment(d);"
            *ngIf="type == types.Person">
            <i class="icon-check"></i>
            Salvar
        </button>

        <button type="button" class="btn btn-success" 
            (click)="save_incident_comment(d);"
            *ngIf="type == types.Incident">
            <i class="icon-check"></i>
            Salvar
        </button>

        <button type="button" class="btn btn-success" 
            (click)="save_card_comment(d);"
            *ngIf="type == types.Card">
            <i class="icon-check"></i>
            Salvar
        </button>

        <button type="button" class="btn btn-silver"                         
            (click)="d('Cancel')">
            <i class="icon-action-undo"></i>          
            Cancelar                              
        </button> 
    </div>
</ng-template>