<router-outlet></router-outlet>

<person-data-treatment-modal></person-data-treatment-modal>
<incident-treatment-modal></incident-treatment-modal>
<add-comment-modal></add-comment-modal>
<incident-comments-list-modal></incident-comments-list-modal>
<new-person-modal></new-person-modal>
<new-incident-modal></new-incident-modal>
<new-card-modal></new-card-modal>
<card-detail-modal></card-detail-modal>
<card-edit-modal></card-edit-modal>
<person-communication-treatment-modal></person-communication-treatment-modal>
<person-financial-treatment-modal> </person-financial-treatment-modal>
<person-schedule-treatment-modal></person-schedule-treatment-modal>
<move-card-modal></move-card-modal>