<div class="row">
	<div
		style="padding-right:0"
		class="col-3 d-none d-lg-block text-right">
    <person-avatar-image [person]="person" [forceSmallImage]="true"></person-avatar-image>
	</div>
	<div
	class="col-12 col-lg-9">
		<div class="row"
			style="cursor:pointer;"
			[routerLink]="['/people/operator', person.id || person.person_id]">
			<div class="col-12 d-block d-xl-none"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/person', person.id || person.person_id]">
				{{ person.name }}
				</a>
			</div>
			<div class="col-12 d-none d-xl-block pl-1"
			[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
			>
				<a
				[style.color]="person.is_leaving || person.is_inactive_member ? 'grey' : 'black'"
				[routerLink]="['/people/operator', person.id || person.person_id]">
				{{ person.name }}
				</a>
			</div>
		</div>
		<div class="row" style="font-size:12px;">
			<div class="col-12 pl-1">
				{{ person.position_description }}
			</div>
		</div>
	</div>
</div>
