<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row" style="width:100%">
      <div class="col-8">
        <h5>Alterar Duração de Titularidade</h5>
      </div>
      <div class="col-4 pr-0 text-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 pt-2">
        <label for="ownership_date">Início</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <input class="form-control text-center" placeholder="dd/mm/aaaa" [(ngModel)]="ownership['tmp_date']" id="ownership_end_date"
            name="ownership_date" autocomplete="off" ngbDatepicker #niDueDateDate="ngbDatepicker" (ngModelChange)="loadChangeOwnershipData()" />
          <div class="input-group-addon" (click)="niDueDateDate.toggle()">
            <i class="ft-calendar" style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <ngb-timepicker [spinners]="false" (ngModelChange)="loadChangeOwnershipData($event)" [(ngModel)]="ownership['tmp_time']
            "></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="ownership_end_date">Data de fim</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <input class="form-control text-center" placeholder="dd/mm/aaaa" [(ngModel)]="ownership['tmp_end_date']" id="ownership_end_date"
            name="ownership_end_date" autocomplete="off" ngbDatepicker #niDueDateDate="ngbDatepicker" (ngModelChange)="loadChangeOwnershipData()" />
          <div class="input-group-addon" (click)="niDueDateDate.toggle()">
            <i class="ft-calendar" style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <ngb-timepicker [spinners]="false" (ngModelChange)="loadChangeOwnershipData($event)" [(ngModel)]="ownership['tmp_end_time']
            "></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row"
      *ngIf="incidents_to_be_incorporated && incidents_to_be_incorporated.length > 0">
      <div class="col-12 pl-3 ">
        <label class="section_title">Atividades que precisam ser reagendadas</label>
        <div *ngFor="let item of incidents_to_be_reschudeled">
          <div class="row">
            <div class="col-12 pl-3">
              {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pl-3 "
      *ngIf="incidents_to_be_incorporated && incidents_to_be_incorporated.length > 0">
        <label class="section_title">Atividades que serão incorporadas</label>
        <div *ngFor="let item of incidents_to_be_incorporated">
          <div class="row">
            <div class="col-12 pl-3">
              {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
      *ngIf="actions_to_be_rescheduled && actions_to_be_rescheduled.length > 0">
        <div class="col-12 pl-3 ">
          <label class="section_title">Ações que precisam ser reagendadas</label>
          <div *ngFor="let item of actions_to_be_rescheduled">
            <div class="row">
              <div class="col-12 pl-3">
                {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row"
      *ngIf="actions_to_be_incorporated && actions_to_be_incorporated.length > 0">
      <div class="col-12 pl-3 ">
        <label class="section_title">Ações que serão incorporadas</label>
        <div *ngFor="let item of actions_to_be_incorporated">
          <div class="row">
            <div class="col-12 pl-3">
              {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
      *ngIf="ownerships_to_be_delayed && ownerships_to_be_delayed.length > 0">
      <div class="col-12 pl-3 ">
        <label class="section_title">Titularidades que serão Adiadas</label>
        <div *ngFor="let item of ownerships_to_be_delayed">
          <div class="row">
            <div class="col-12 pl-3">
              {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
      *ngIf="ownerships_to_be_cancelled && ownerships_to_be_cancelled.length > 0">
      <div class="col-12 pl-3 ">
        <label class="section_title">Titularidades que serão Canceladas</label>
        <div *ngFor="let item of ownerships_to_be_cancelled">
          <div class="row">
            <div class="col-12 pl-3">
              {{ item.abrev }} <span *ngIf="item.title">- {{ item.title }}</span> - {{ item.person }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="!saving">
    <div class="row">
      <div class="col-12 text-right">
        <div class="row">
          <button type="button" class="btn btn-success" (click)="save(d);">
            Salvar
          </button>
          <button type="button" class="btn btn-silver" (click)="d('cancel ownership change length!');">
            <i class="icon-action-undo"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="saving">
    <div class="row">
      <div class="col-12 text-right">
        <div class="row">
          <i class="fas fa-circle-notch fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</ng-template>
