<div class="card">
    <div class="card-body" style="padding:10px">
        <h4>Vouchers</h4>
        <table class="table table-hover table-striped" width="100%">                        
            <thead>
                <th>Título</th>                           
                <th>Iniciais</th>
                <th>Url</th>                
            </thead>
            <tbody>
                <tr *ngFor="let item of collection"
                class="cursor_pointer"                
                >
                    <td (click)="edit(modal, item)">{{ item["title"] }}</td>                                        
                    <td (click)="edit(modal, item)">{{ item["initials"] }}</td>
                    <td>
                        <a href="{{'http://myvtmi.im/voucher/' + item['url'] }}"
                        target="_blank">
                            /voucher/{{ item["url"] }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-silver"             
            (click)="create(modal);">
            <i class="fas fa-plus-circle"></i>
            Novo
        </button>
    </div>
</div>
    
    
<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id > 0">
            Editar Voucher
        </h5>
        <h5 class="modal-title" style="font-weight: bold" *ngIf="current_item.id <= 0">
            Novo Voucher
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="current_item">		
        <div class="row">
            <div class="col-12">
                <label for="item_title">Título</label>                                                									
                <div class="input-group">							
                    <input class="form-control"
                    [(ngModel)]="current_item.title"                        
                    autocomplete="off" placeholder="Título do voucher"
                    maxlength="100"
                    id="item_title"                        
                    name="item_title"/>                                    
                </div>
            </div>                       
        </div> 
        <div class="row">                    
            <div class="col-6">
                <label for="item_url">Url</label>                                                									
                <div class="input-group">							
                    <input class="form-control text-center"
                    [(ngModel)]="current_item.url"                        
                    autocomplete="off" placeholder="Url ('ohbarbeiro', 'membros...')"
                    maxlength="50"
                    id="item_url"                        
                    name="item_url"/>                                    
                </div>
            </div>
            <div class="col-6">
                <label for="item_initials">Iniciais</label>                                                									
                <div class="input-group">							
                    <input class="form-control text-center"
                    [(ngModel)]="current_item.initials"                        
                    autocomplete="off" placeholder="Iniciais do Voucher"
                    maxlength="3"
                    id="item_initials"                        
                    name="item_initials"/>                                    
                </div>
            </div>    
        </div> 
        <div class="row">
            <div class="col-12">
                <label for="item_additional_question">Pergunta Adicional</label>                                                									
                <div class="input-group">							
                    <input class="form-control"
                    [(ngModel)]="current_item.additional_question"                        
                    autocomplete="off" placeholder=""
                    maxlength="200"
                    id="item_additional_question"                        
                    name="item_additional_question"/>                                    
                </div>
            </div>                       
        </div> 
        <div class="row">
            <div class="col-12">
                <label for="item_header_text">Texto do topo</label>                                                									
                <div class="input-group">							
                    <textarea class="form-control"
                    id="item_header_text"
                    name="item_header_text"
                    autocomplete="off"
                    [(ngModel)]="current_item.header_text" 		
                    rows="4"></textarea>                                   
                </div>
            </div>                       
        </div>                
    </div>
    <div class="modal-footer" *ngIf="saving">        
        <i class="fas fa-circle-notch fa-spin"></i> &nbsp; Executando...
    </div>
    <div class="modal-footer" *ngIf="!saving">
        <button type="button" class="btn btn-success" 
            (click)="save(d);">
            <i class="icon-check"></i>
            Salvar
        </button>        
        <button type="button" class="btn btn-silver" 			            
            (click)="d('Cancelled')">
            <i class="icon-action-undo"></i>
            Cancelar
        </button>        
    </div>
</ng-template>